

<div *ngIf="item()?.children && item().children.length > 0">
  <ng-container *ngFor="let child of item().children; let i = index; trackBy: trackByIndex">
    <div class="menu-item"
        [ngStyle]="{'height': child?.menuName ? null : '0'}"
        [routerLink]="child?.menuPathUrl"
        routerLinkActive="select-menu-item"
        [pTooltip]="isCollapsed ? itemTooltipTemplate : undefined"
        tooltipPosition="right"
        (click)="toggleNested(child)"
        tooltipStyleClass="merchant-tooltip">
        <span *ngIf="child?.menuName" class="icon-header" [class]="child?.menuIcon"></span>
        <span *ngIf="!isCollapsed">{{item()?.menuName}}</span>
        <mat-icon *ngIf="child?.menuName && child?.children?.length" class="arrow-icon">
            {{ isCollapsed ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
        </mat-icon>
    </div>
    <ng-template #itemTooltipTemplate>
        <div class="tooltip-content">
            {{child()?.menuName}}
        </div>
    </ng-template>
    <div class="ms-3" *ngIf="child?.children && child.children.length > 0">
      <ng-container *ngFor="let subChild of child.children; let j = index; trackBy: trackByIndex">
        <ng-container *ngTemplateOutlet="recursiveMenu; context: { $implicit: subChild }"></ng-container>
      </ng-container>
    </div>
  </ng-container>
</div>

<ng-template #recursiveMenu let-menuItem>
    <div class="menu-item"
             [routerLink]="menuItem.menuPathUrl"
             routerLinkActive="select-menu-item"
             [pTooltip]="isCollapsed ? recursiveTooltipTemplate : undefined"
             tooltipPosition="right"
             tooltipStyleClass="merchant-tooltip">
        <span class="icon-header" [class]="menuItem.menuIcon"></span>
        <span class="title-s-semibold" *ngIf="!isCollapsed">{{menuItem.menuName}}</span>
    </div>
    <ng-template #recursiveTooltipTemplate>
        <div class="tooltip-content">
            {{menuItem.menuName}}
        </div>
    </ng-template>
    <div class="ms-3" *ngIf="menuItem.children && menuItem.children.length > 0">
        <ng-container *ngFor="let child of menuItem.children; let k = index; trackBy: trackByIndex">
            <ng-container *ngTemplateOutlet="recursiveMenu; context: { $implicit: child }"></ng-container>
        </ng-container>
    </div>
</ng-template>
