@import "../../../../../scss/mixins";
@import "../../../../../scss/variables";
.breadcumb {
    width: 100%;
    margin-bottom: $spacing-m;
    color: $color-text-neutral-sub-2;
}

.color-active {
    color: $color-text-neutral-main;
}

.color-inactive {
    color: $color-text-neutral-sub-2;
}

.separator {
    color: $color-text-neutral-sub-2;
    padding: 0px 8px;
}