@import "../../../scss/mixins";
@import "../../../scss/variables";
@import "../../../scss/mbutton";

.container-profile {
  width: 100%;
  background: $color-surface-neutral-main;
}

.alert {
  border-radius: $border-radius-s;
}

.rounded-circle {
  width: 58px;
  height: 58px;
  object-fit: cover;
}

.color-4f5562 {
  color: $color-text-neutral-sub;
}

.bg-email {
  padding: $spacing-m;
  border-radius: $border-radius-s;
  border: 1px solid $color-global-orange-orange-4;
  background-color: $color-global-orange-orange-1;
}

.icon-edit {
  margin-right: $spacing-2xs;
}

.color-df7202 {
  color: $color-text-semantic-warning;
}

.color-0058f0 {
  color: $color-text-action-main;
}

.icon-check_circle_solid {
  @include base-icon;
  color: $color-icon-semantic-success;
}

.border-profile {
  border: 1px solid $color-border-neutral-main;
  margin-bottom: $spacing-2xl;
}

.container-history {
  width: 30%;
  background: $color-surface-neutral-main;
  padding: $spacing-l;
  border-radius: $border-radius-s;
}

.ic-step {
  width: 16px;
  height: 16px;
}

.ic-line {
  width: 2px;
  height: 22px;
}

.mb-12 {
  margin-bottom: $spacing-s;
}

.mh-500 {
  max-height: 500px;
}

::ng-deep .menu-button .p-button {
  all: unset;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.p-menu {
  transform: translateY(8px) !important;
}

::ng-deep.p-menu.p-menu-overlay {
  margin-top: $spacing-xs !important;

  ul,
  li {
    margin: $spacing-none;
    padding: $spacing-none;
  }

  a {
    text-decoration: none;
  }

  .p-menuitem-link {
    display: flex;
    max-width: 180px;
    padding: $spacing-s;
    gap: $spacing-2xs;
  }

  .p-menuitem-icon {
    @include base-icon;
    font-size: $typo-font-sizes-3xl;
    color: $color-global-red-red-6;
    margin: $spacing-none !important;
  }

  .p-menuitem-text {
    color: $color-global-red-red-6;
    font-size: $typo-font-sizes-l;
    line-height: $typo-line-heights-l;
  }

  .p-menuitem-content {
    background-color: $color-global-primary-primary-1;
    border-radius: $border-radius-xs;
  }
}

::ng-deep .p-menu {
  width: auto !important;
  min-width: 0 !important;
  border-radius: $border-radius-s !important;
}

.gap-12 {
  gap: $spacing-s;
}