<div class="form-detail">
  <ng-container *ngIf="viewPageIndex == 0">
    <div class="d-flex">
      <div class="col-8">
        <div class="d-flex">
          <h1 class="title-role header-m-semibold">{{ roleInfo?.name }}</h1>
          <span [ngClass]="['paragraph-s-semibold-capital sub-title', getRoleTypeClass(roleInfo?.type)]" class="">{{ getRoleType(roleInfo?.type) }}</span>
        </div>
        <div class="paragraph-m-regular description">{{ roleInfo?.description }}</div>
      </div>
      <div *ngIf="roleInfo?.isDefault === 1" class="d-flex col-4 justify-content-end">
        <!-- <p-button (click)="onDeleteRole()" class="merchant-button-icon button-l button-light button-delete btn-role-detail"
                  icon="icon-trash" pTooltip="Xóa vai trò" tooltipPosition="top" tooltipStyleClass="merchant-tooltip"/>
        <p-button (click)="doOpenPageClone()" class="merchant-button-icon button-l button-light btn-role-detail" icon="icon-copy" pTooltip="Sao chép vai trò"
                  tooltipPosition="top" tooltipStyleClass="merchant-tooltip"/> -->
        <p-button (click)="doOpenPage()" class="merchant-button-secondary" label="Chỉnh sửa"/>
        <p-button class="merchant-button ml-16" label="Thêm nhân sự" icon="icon-plus_small" (click)="doOpenPage('createUser')" />
      </div>
    </div>
  
    <p-tabView styleClass="tabview-custom merchant-tab mt-4">
      <p-tabPanel header="Danh sách tính năng">
        <div class="row content-feature">
          <div class="col-lg-4 col-md-6 mb-24" *ngFor="let feature of listFunctionConvert">
            <div class="item">
              <div class="level-0">
                <mat-checkbox [(ngModel)]="feature.isChoose"
                              [indeterminate]="feature.partiallyComplete" [disabled]="true">
                  <span class="title title-m-bold">{{ feature.name }}</span>
                </mat-checkbox>
              </div>
              <div *ngIf="feature.children.length > 0">
                <div *ngFor="let child of feature.children">
                  <div class="level-1">
                    <mat-checkbox [(ngModel)]="child.isChoose"
                                  [indeterminate]="child.partiallyComplete" [disabled]="true">
                      <span class="title title-s-semibold">{{ child.name }}</span>
                    </mat-checkbox>
                  </div>
                  <div *ngIf=" child.children.length> 0">
                    <div *ngFor="let grandChild of child.children">
                      <div class="level-2">
                        <mat-checkbox [(ngModel)]="grandChild.isChoose" [disabled]="true">
                          <span class="title title-s-regular">{{ grandChild.name }}</span>
                        </mat-checkbox>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Danh sách nhân sự">
        <ng-template pTemplate="header">
          <div class="flex align-items-center gap-2">
                    <span class="font-bold white-space-nowrap m-0">
                        Danh sách nhân sự
                    </span>
            <p-badge [value]="totalUsers"/>
          </div>
        </ng-template>
  
        @if (dataUsers.length > 0) {
          <div class="col-12 d-flex justify-content-end">
            <grid-view [columns]="columnsUser" [dataSource]="dataUsers" (doChangePage)="getLstUsers($event)"
            [total]="totalUsers" style="float: left;width: 100%;"></grid-view>
          </div>
        } @else {
          <div class="content-users text-center">
            <img [src]="assetPath + '/assets/images/image-no-user.svg'" alt="Success"/>
            <div class="mt-4 title-l-semibold"> Không có nhân sự nào</div>
            <div *ngIf="roleInfo?.isDefault === 1">
              <div class="description title-s-regular">Bạn chưa gán nhân sự nào cho vai trò này.<br> Vui lòng thử lại
                sau hoặc thêm nhân sự mới.
              </div>
              <p-button label="Thêm nhân sự" class="merchant-button" icon="icon-plus_small"/>
            </div>
          </div>
        }
      </p-tabPanel>
    </p-tabView>
  </ng-container>
  <ng-container *ngIf="viewPageIndex == 1">
    <div class="wrapper">
      <div class=" d-flex flex-column align-items-center header-xs-bold mt-152px">
        <img [src]="assetPath +'/assets/images/image-waiting.svg'" alt="Waiting"/>
        <div class="mt-3"> Đang xử lý,</div>
        <div> Vui lòng đợi trong giây lát...</div>
        <div class="text title-s-regular mt-3"> Hệ thống đang chuyển đổi <b>({{ numberUserInRole }})</b> nhân sự sang
          vai
          trò <b>{{ roleNameChange }}</b> và xóa vai trò <b>{{ roleInfo.name }}.</b>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="viewPageIndex == 2">
    <div class="wrapper">
      <div class=" d-flex flex-column align-items-center header-xs-bold mt-152px">
        <img [src]="assetPath +'/assets/images/image-success.svg'" alt="Success"/>
        <div class="mt-3"> Đã xóa vài trò:</div>
        <div> {{ roleInfo.name }}</div>
        <div class="text title-s-regular mt-3"> Hoàn tất chuyển đổi tất cả nhân sự sang vai trò <b>{{ roleNameChange }}
          .</b>
        </div>
        <a href="/role" class="mt-3">
          <p-button label="Về trang quản lý" class="merchant-button mt-4"/>
        </a>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="viewPageIndex == 3">
    <div class="wrapper">
      <div class=" d-flex flex-column align-items-center header-xs-bold mt-152px">
        <img [src]="assetPath + '/assets/images/image-false.svg'" alt="false"/>
        <div class="mt-3"> Đã xóa vài trò:</div>
        <div> {{ roleInfo.name }}</div>
        <div class="text title-s-regular mt-3"> Hoàn tất chuyển đổi tất cả nhân sự sang vai trò <b>{{ roleNameChange }}
          .</b>
        </div>
        <p-button (click)="redoDelete()" label="Thực hiện lại" class="merchant-button mt-4"/>
        <a href="/role" class="mt-3">
          <p-button label="Về trang quản lý" class="merchant-button-tertiary mt-4"/>
        </a>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="viewPageIndex == 4">
    <div class="wrapper">
      <div class=" d-flex flex-column align-items-center header-xs-bold mt-152px">
        <div class="mb-1 text-504">504</div>
        <div class="mt-4 header-xs-regular"> Gateway timeout</div>
        <p-button (click)="redoDelete()" label="Thực hiện lại" class="merchant-button mt-4"/>
        <a href="/role" class="mt-3">
          <p-button label="Về trang quản lý" class="merchant-button-tertiary mt-4"/>
        </a>
      </div>
    </div>
  </ng-container>
</div>
