<div class="p-5">
    <h3 class="col-12 mb-5">Toast</h3>
    <p-toast class="merchant-toast" />
    <div class="row">
        <div class="col-1">
            <p-button type="button" (onClick)="showSuccess()" label="Success" severity="success" />
        </div>
        <div class="col-1">
            <p-button type="button" (onClick)="showError()" label="Error" severity="danger" />
        </div>
        <div class="col-1">
            <p-button type="button" (onClick)="showInfo()" label="Info" severity="info" />
        </div>
        <div class="col-1">
            <p-button type="button" (onClick)="showWarn()" label="Warn" severity="warning" />
        </div>
    </div>
    
</div>