<div class="container-login">
  <!-- Bên trái -->
  <div class="left-section">
    <!--  Form đăng nhập -->
    <div class="form-container">
      <!-- Logo -->
      <div class="logo">
        <img [src]="assetPath + '/assets/images/logo_login.svg'" alt="MerchantX Logo" />
      </div>

      <!-- Tiêu đề -->
      <div class="form-defualt" *ngIf="!isFormMail">
        <div class="title">
          <h1 class="header-xl-bold">{{isForgotPassword ? titleHeaderForgot : (isVerify ? titleHeaderVerify : titleHeaderLogin) }}</h1>
          <p class="title-m-regular">
            {{ isForgotPassword ? titleTextForgot : (isVerify ? titleTextVerify : titleTextLogin)}}
          </p>
        </div>

      <!-- Form đăng nhập -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="!isForgotPassword">
        <!-- Tên đăng nhập -->
        <div class="form-group">
          <label class="title-s-semibold" for="username">Tên đăng nhập</label>
          <div class="p-inputgroup">
            <input appShowClearOnFocus=".clear-icon" #usernameInput class="merchant-input" pInputText type="text" formControlName="username"
              placeholder="Nhập tên đăng nhập" (focus)="isUsernameFocusedLogin = true" (blur)="isUsernameFocusedLogin = false" />
            @if (loginForm.get('username')?.value && isUsernameFocusedLogin) {
            <span class="p-input-icon-right clear-icon" (mousedown)="clearValue('username')">
              <i class="icon-close_circle_solid input-icon input-icon-close"></i>
            </span>
            }
          </div>
          @if (loginForm.controls['username'].touched
          && loginForm.controls['username'].invalid) {
          <div class="m-caption error">
            <div class="icon-caption">
              <span class="icon-error_solid"></span>
            </div>
            @if (loginForm.controls['username'].hasError('required')) {
            <span class="text-caption paragraph-s-regular">Vui lòng nhập thông tin</span>
            }
          </div>
          }
        </div>

        <!-- Mật khẩu -->
        <div class="form-group password-group">
          <label class="title-m-semibold">Mật khẩu</label>
          <div class="p-inputgroup show-icon-right">
            <input appShowClearOnFocus=".clear-icon" class="merchant-input" pInputText type="text" formControlName="password"
              [type]="showPassword ? 'text' : 'password'" id="password" autocomplete="password"
              placeholder="Nhập mật khẩu" (focus)="isPasswordFocused = true" (blur)="isPasswordFocused = false" />
            @if (this.loginForm.get('password')?.value && isPasswordFocused) {
            <span class="p-input-icon-right clear-icon" (mousedown)="clearValue('password')">
              <i class="icon-close_circle_solid input-icon input-icon-close"></i>
            </span>
            }
            <span class="p-input-icon-right clear-icon" (click)="showPassword=!showPassword">
              <i [class]="showPassword ? 'icon-eye_off' : 'icon-eye_on'" class="input-icon eye-icon"></i>
            </span>
          </div>

          @if (loginForm.controls['password'].touched
          && loginForm.controls['password'].invalid) {
          <div class="m-caption error">
            <div class="icon-caption">
              <span class="icon-error_solid"></span>
            </div>
            @if (loginForm.controls['password'].hasError('required')) {
            <span class="text-caption paragraph-s-regular">Vui lòng nhập thông tin</span>
            }
            @else if(loginForm.controls['password'].hasError('passwordFail')){
            <span class="text-caption paragraph-s-regular">Tên đăng nhập hoặc mật khẩu không chính xác</span>
            }
          </div>
          }
        </div>

        <div class="checkbox-group">
          <p-checkbox formControlName="remember" [binary]="true" inputId="binary" class="m-checkbox me-2" />
          <label class="paragraph-m-regular" for="remember">Ghi nhớ tài khoản</label>
        </div>
        <p-button label="Đăng nhập" class="merchant-button" [disabled]="loginForm.invalid" type="submit"/>
        <a class="title-s-semibold" (click)="isForgotPassword=!isForgotPassword" style="cursor: pointer;">Quên mật
          khẩu?</a>
      </form>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword()" *ngIf="isForgotPassword">

          <div class="form-group password-group">
            <label class="title-m-semibold">Tên đăng nhập</label>
            <div class="p-inputgroup">
              <input appShowClearOnFocus=".clear-icon" class="merchant-input" pInputText type="text" formControlName="username"
                placeholder="Nhập tên đăng nhập" (focus)="isUsernameFocusedForgot = true" (blur)="isUsernameFocusedForgot = false" />
              @if (this.forgotPasswordForm.get('username')?.value && isUsernameFocusedForgot) {
              <span class="p-input-icon-right clear-icon" (mousedown)="clearValue1('username')">
                <i class="icon-close_circle_solid input-icon input-icon-close"></i>
              </span>
              }
            </div>
            @if (forgotPasswordForm.controls['username'].hasError('required') &&
            forgotPasswordForm.controls['username'].touched &&
            forgotPasswordForm.controls['username'].invalid) {
            <div class="m-caption error">
              <div class="icon-caption">
                <span class="icon-error_solid"></span>
              </div>
              <span class="text-caption paragraph-s-regular">Vui lòng nhập thông tin</span>
            </div>
            }
          </div>

          <div class="form-group password-group m-b-32">
            <!-- <label class="title-m-semibold" for="new-password">Email </label> -->
            <div class="p-inputgroup show-icon-infomation">
              <label class="w-100 title-m-semibold">Email</label>
              <span class="p-input-icon-right clear-icon" [pTooltip]="tooltipTemplate" tooltipPosition="right"
                tooltipStyleClass="merchant-tooltip">
                <i class="icon-information_solid input-icon"></i>
              </span>
              <ng-template #tooltipTemplate>
                <div class="tooltip-content">
                  Vui lòng liên hệ quản lý Merchant nếu bạn chưa có email
                </div>
              </ng-template>
            </div>
            <div class="p-inputgroup">
              <input appShowClearOnFocus=".clear-icon" class="merchant-input" pInputText type="text" formControlName="email"
                placeholder="name@company.com" (focus)="isEmail = true" (blur)="isEmail = false"  />
              @if (this.forgotPasswordForm.get('email')?.value && isEmail) {
              <span class="p-input-icon-right clear-icon" (mousedown)="clearValue1('email')">
                <i class="icon-close_circle_solid input-icon input-icon-close"></i>
              </span>
              }
            </div>
            @if (forgotPasswordForm.controls['email'].touched &&
            forgotPasswordForm.controls['email'].invalid) {
            <div class="m-caption error">
              <div class="icon-caption">
                <span class="icon-error_solid"></span>
              </div>
              @if(forgotPasswordForm.controls['email'].hasError('required')){
                <span class="text-caption paragraph-s-regular">Vui lòng nhập thông tin</span>
              }
              @if(forgotPasswordForm.controls['email'].hasError('pattern')){
                <span class="text-caption paragraph-s-regular">Email không đúng định dạng</span>
              }
              @if(forgotPasswordForm.controls['email'].hasError('valueFail')){
                <span class="text-caption paragraph-s-regular">Thông tin tài khoản không chính xác</span>
              }
            </div>
            }
          </div>

          <!-- Nút đặt lại mật khẩu -->
          <!-- <button type="submit" class="login-btn" (click)="notificationData()">
             <label class="title-m-semibold cursor-pointer"> Đặt lại mật khẩu </label>
           </button> -->
          <p-button label="Đặt lại mật khẩu" class="merchant-button" (click)="resetPassword()"
            [disabled]="forgotPasswordForm.invalid" />
          <!-- <p-button label="Đặt lại mật khẩu" class=" merchant-button w-100"/> -->
          <a href="#" class="title-s-semibold">Quay lại đăng nhập</a>
        </form>
      </div>

      <div class="form-mail" *ngIf="isFormMail">
        <div class="title">
          <h1 class="header-2xl-bold">{{titleMail}}</h1>
          <p class="title-l-regular" [innerHTML]="titleTextMail">
          </p>
        </div>
        <p-button label="Về trang đăng nhập" class="merchant-button" (click)="onChangeLogin()"/>
      </div>
    </div>

    <!-- Footer -->
    <div class="footer">
      <span class="paragraph-s-regular">© 2025 MBBank. All rights reserved.</span>
    </div>
  </div>

  <!-- Bên phải: Phần quảng bá -->
  <div class="right-section">
    <img [src]="assetPath + '/assets/images/Background.svg'" alt="Buildings Illustration" />
  </div>
</div>
