<div class="d-flex justify-content-between align-items-center mb-3">
    <div class="subject-page">Giao dịch hoàn trả</div>
    <p-button *ngIf="detailTrans?.status == '00'" label="In hóa đơn" class="merchant-button" icon="icon-printer" />
</div>
<div class="wrapper mb-4">
    <div class="mb-3 info-subject">Thông tin hoàn trả</div>
    <div class="row">
        <div class="d-flex flex-column col-3 mb-2 detail-info">
            <div class="info-label">Ngân hàng thanh toán</div>
            <div class="info-value">{{ detailTrans?.issuerName }}</div>
        </div>
        <div class="d-flex flex-column col-3 mb-2 detail-info">
            <div class="info-label">Số tài khoản/Thẻ thanh toán</div>
            <div class="info-value">{{ detailTrans?.debitAccount }}</div>
        </div>
        <div class="d-flex flex-column col-3 mb-2 detail-info">
            <div class="info-label">Phương thức thanh toán</div>
            <div class="info-value">{{ detailTrans?.methodName }}</div>
        </div>
        <div class="d-flex flex-column col-3 mb-2 detail-info">
            <div class="info-label">Ngày giao dịch</div>
            <div class="info-value">{{ detailTrans?.tranTime }}</div>
        </div>
        <div class="d-flex flex-column col-3 mb-2 detail-info">
            <div class="info-label">Số tiền hoàn trả</div>
            <div class="info-value">{{ formatMoney(detailTrans?.amount) }}</div>
        </div>
        <div class="d-flex flex-column col-3 mb-2 detail-info">
            <div class="info-label">Phí giao dịch</div>
            <div class="info-value">{{ formatMoney(detailTrans?.feeAmount) }}</div>
        </div>
        <div class="d-flex flex-column col-3 mb-2 detail-info">
            <div class="info-label">Phí VAT</div>
            <div class="info-value">{{ formatMoney(detailTrans?.feeVat) }}</div>
        </div>
        <div class="d-flex flex-column col-3 mb-2 detail-info">
            <div class="info-label">Trạng thái</div>
            <span [ngClass]="['status', getClassStatus(detailTrans?.status)]" class="">{{ getLabelStatus(detailTrans?.status)}}</span>
        </div>
    </div>
</div>
<div class="wrapper mb-4">
    <div class="mb-3 info-subject">Thông tin giao dịch</div>
    <div class="row">
        <div class="d-flex flex-column col-3 mb-2 detail-info">
            <div class="info-label">Mã giao dịch hoàn</div>
            <div class="info-value">{{ detailTrans?.transNumber }}</div>
        </div>
        <div class="d-flex flex-column col-3 mb-2 detail-info">
            <div class="info-label">Mã giao dịch gốc</div>
            <div class="info-value">{{ detailTrans?.transactionReferenceId }}</div>
        </div>
        <div class="d-flex flex-column col-3 mb-2 detail-info">
            <div class="info-label">Mã FT giao dịch hoàn</div>
            <div class="info-value">{{ detailTrans?.txnReference }}</div>
        </div>
        <div class="d-flex flex-column col-3 mb-2 detail-info">
            <div class="info-label">Mã FT giao dịch gốc</div>
            <div class="info-value">{{ detailTrans?.txnReferenceOrigin }}</div>
        </div>
        <div class="d-flex flex-column col-3 mb-2 detail-info">
            <div class="info-label">Điểm kinh doanh</div>
            <div class="info-value">{{ detailTrans?.merchantName }}</div>
        </div>
    </div>
</div>
