
<div class="d-flex justify-content-between align-items-center mb-3">
  <span class="header-m-semibold">Chi tiết nhân sự</span>
</div>
@if (changePasswordStatus == 0) {
<div class="wrapper">
  <div class="row d-flex">
    <div class="col-6">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <span class="header-m-semibold me-spacing-l">{{ personDetail?.fullName }}</span>
          @if (personDetail?.isActive === 1) {
          <span class="status success" [pTooltip]="tooltipTemplate" tooltipPosition="top"
            tooltipStyleClass="merchant-tooltip">HOẠT ĐỘNG</span>
          <ng-template #tooltipTemplate>
            Đang hoạt động
          </ng-template>
          } @else {
          <span class="status lock">KHÓA</span>
          }
        </div>
      </div>
      <div class="d-flex justify-content-start align-items-center mb-3 gap-2 font-sizes-s">
        <div class="d-flex gap-1 sub-info">
          <span class="sub-info-title">Ngày tạo:</span>
          <span class="sub-info-value">{{ formatDate(personDetail?.createdDate?.toString()) }}</span>
        </div>
        <span class="horizon-border"></span>
        <div class="d-flex gap-1 sub-info">
          <span class="sub-info-title">Ngày cập nhật:</span>
          <span class="sub-info-value">{{ formatDate(personDetail?.updatedDate?.toString()) }}</span>
        </div>
        <span class="horizon-border"></span>
        <div class="d-flex gap-1 sub-info">
          <span class="sub-info-title">Người tạo:</span>
          <span class="sub-info-value">{{ personDetail?.createdBy }}</span>
        </div>
      </div>
    </div>
    <div class="col-6 d-flex gap-3 justify-content-end">
      <!-- <p-button label="" class="merchant-button bg-button-neutral-1" icon="icon-lock" (click)="openChangeLockUser()" /> -->
      <p-button *ngIf="this.userId !== this.userInfo.id" label="Cấp lại mật khẩu" class="merchant-button bg-button-primary-2" (click)="openConfirmChangePassword()"
        [disabled]="personDetail?.isActive !== 1" />
      <p-button *ngIf="this.userId !== this.userInfo.id" label="Cập nhật nhân sự" class="merchant-button" (onClick)="doUpdateHuman()" />
    </div>
  </div>
  <div class="row p-4 detail-container">
    <div class="d-flex flex-column col-3 mb-4 detail-info">
      <div class="detail-info-title">Mã nhân sự</div>
      <div class="detail-info-value">#{{ personDetail?.id }}</div>
    </div>
    <div class="d-flex flex-column col-3 mb-4 detail-info">
      <div class="detail-info-title">Tên đăng nhập</div>
      <div class="detail-info-value">{{ personDetail?.userName }}</div>
    </div>
    <div class="d-flex flex-column col-3 mb-4 detail-info">
      <div class="detail-info-title">Họ và tên</div>
      <div class="detail-info-value">{{ personDetail?.fullName }}</div>
    </div>
    <div class="d-flex flex-column col-3 mb-4 detail-info">
      <div class="detail-info-title">Vai trò</div>
      <div class="detail-info-value">{{ personDetail?.roleName }}</div>
    </div>
    <div class="d-flex flex-column col-3 mb-4 detail-info">
      <div class="detail-info-title">Ngày sinh</div>
      <div class="detail-info-value">{{ formatDate(personDetail?.dob?.toString()) }}</div>
    </div>
    <div class="d-flex flex-column col-3 mb-4 detail-info">
      <div class="detail-info-title">Số điện thoại</div>
      <div class="detail-info-value">{{ personDetail?.phone }}</div>
    </div>
    <div class="d-flex flex-column col-3 mb-4 detail-info">
      <div class="detail-info-title">Email</div>
      <div class="detail-info-value d-flex gap-1">{{ personDetail?.email }}<span class="icon-warning_solid pb-1"></span>
      </div>
    </div>
  </div>
  <p-tabView styleClass="tabview-custom merchant-tab">
    <p-tabPanel header="Tổ chức">
      <ng-container *ngIf="this.personDetail?.orgType === 0">
        <h1 class="title-m-semibold mb-3">Doanh nghiệp: {{userInfo?.merchantName}}</h1>
      </ng-container>
      <ng-container *ngIf="!!personDetail?.groupList?.length; else subtemplate">
        <div class="d-flex gap-3">
          <div class="col-3 organization">
            <div class="content">
              <h1 class="title-m-semibold mb-3">{{userInfo?.merchantName}}</h1>
              <div class="mt-3">
                <div *ngFor="let area0 of lstAreaByOrder">
                  <app-area-item [lstAreas]="lstAreas" [area]="area0" (activeArea)="doActiveArea($event)"
                    [areaActive]="areaActive">
                  </app-area-item>
                </div>
              </div>
            </div>
          </div>
          <div class="col-9">
            <ng-container *ngIf="subMerchantList?.length > 0; else subNodata">
              <grid-view [columns]="columns" [dataSource]="subMerchantList" [isShowPage]="false" [search]="true"
                style="float: left;width: 100%;"></grid-view>
            </ng-container>
          </div>

        </div>
      </ng-container>

      <ng-template #subtemplate>

        <div class="col-12 mt-4" *ngIf="subMerchantList?.length > 0; else subNodata">

          <span *ngIf="this.personDetail?.orgType === 0" class="title-m-semibold">Danh sách điểm bán:</span>
          <div class="row table-container" (scroll)="onScroll($event)">
            <grid-view [columns]="columns" [dataSource]="subMerchantList" [isShowPage]="false" [search]="true"
              style="float: left;width: 100%;"></grid-view>

            <div class="spinner" *ngIf="isLoading">
              <mat-spinner diameter="30"></mat-spinner>
            </div>
          </div>

        </div>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Vai trò">
      <div class="col-8 mb-4">
        <div class="d-flex align-items-center">
          <h1 class="title-role header-m-semibold">{{ this.rolePesonel?.name }}</h1>
          <span [ngClass]="['paragraph-s-semibold-capital sub-title', getRoleTypeClass(this.rolePesonel?.type)]"
            class="">{{ getRoleType(this.rolePesonel?.type)
            }}</span>
        </div>
        <div class="paragraph-m-regular description">{{ this.rolePesonel?.description }}</div>
      </div>
      <div class="row content-feature">
        <div class="col-lg-4 col-md-6 mb-3" *ngFor="let feature of listFunctionConvert">
          <div class="item">
            <div class="level-0">
              <mat-checkbox [disabled]="true" [(ngModel)]="feature.isChoose"
                [indeterminate]="feature.partiallyComplete">
                <span class="title title-m-bold">{{ feature.name }}</span>
              </mat-checkbox>
            </div>
            <div *ngIf="feature.children.length > 0">
              <div *ngFor="let child of feature.children">
                <div class="level-1">
                  <mat-checkbox [disabled]="true" [(ngModel)]="child.isChoose"
                    [indeterminate]="child.partiallyComplete">
                    <span class="title title-s-semibold">{{ child.name }}</span>
                  </mat-checkbox>
                </div>
                <div *ngIf=" child.children.length> 0">
                  <div *ngFor="let grandChild of child.children">
                    <div class="level-2">
                      <mat-checkbox [(ngModel)]="grandChild.isChoose" [indeterminate]="grandChild.partiallyComplete"
                        [disabled]="true">
                        <span class="title title-s-regular">{{ grandChild.name }}</span>
                      </mat-checkbox>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
} @else {
<mat-stepper class="step-role" [selectedIndex]="3" [disableRipple]="true" [linear]="true" #stepper>
  <ng-template matStepperIcon="edit" let-index="index">
    {{ index + 1 }}
  </ng-template>

  <mat-step [completed]="true" label="Gán tổ chức"></mat-step>
  <mat-step [completed]="true" label="Gán vai trò"></mat-step>
  <mat-step [completed]="true" label="Nhập thông tin"></mat-step>
  <mat-step label="Hoàn tất">
    <div class="content-thirdForm d-flex flex-column align-items-center header-xs-bold mt-5">
      <ng-container *ngIf="this.isUpdatePassSuccess">
        <img [src]="'/assets/images/image-success.svg'" alt="Success" />
        <div class="mt-3"> Cấp lại mật khẩu thành công</div>
        <div class="text title-s-regular mt-3" *ngIf="this.changePassInfo?.email === 0">Hãy gửi thông tin đăng nhập để
          nhân sự truy cập vào hệ thống.</div>
        <div class="text title-s-regular mt-3" *ngIf="this.changePassInfo?.email === 1">Hãy gửi thông tin đăng nhập hoặc
          thông báo nhân sự kiểm tra email để
          lấy thông tin truy cập vào hệ thống.
        </div>
        <a href="/hr" class="mt-3">
          <p-button label="Về trang quản lý" class="merchant-button mt-4" />
        </a>
      </ng-container>

      <ng-container *ngIf="!this.isUpdatePassSuccess">
        <img [src]="'/assets/images/image-false.svg'" alt="False" />
        <div class="mt-3"> Cấp lại mật khẩu không thành công:</div>
        <div class="text title-s-regular mt-3">Đã có lỗi xảy ra. Vui lòng thử lại.</div>
        <button mat-button class="merchant-button-material mt-4" width="500px" (click)="reloadChangePass()">Thực hiện
          lại
        </button>
        <a href="/hr" class="mt-3">
          <p-button label="Về trang quản lý" class="merchant-button-tertiary" />
        </a>
      </ng-container>
    </div>
  </mat-step>
</mat-stepper>
}

<ng-template #subNodata>
  <!-- <div style="max-height: 80vh; overflow-y: auto;">
    <div class="no-data">
      <img [src]="assetPath +'/assets/images/grid-search-empty.png'"> <br />
      <div class="mt-4 title-l-semibold title-no-data">Nhóm chưa có điểm kinh doanh</div> <br />
      <div class="title-s-regular summary-no-data mb-3">Vui lòng thêm các điểm kinh doanh vào nhóm
        để quản lý các điểm kinh doanh của bạn hiệu quả hơn</div>
    </div>
  </div> -->
  <div class="wrapper row">
    <div class="content">
      <div class="no-data">
        <div style="max-height: 80vh; overflow-y: auto;">
          <div class="no-data">
            <img [src]="assetPath +'/assets/images/grid-search-empty.png'">
            <div class="mt-4 title-l-semibold title-no-data">Nhóm chưa có điểm kinh doanh</div>
            <div class="title-s-regular summary-no-data mb-3">Vui lòng thêm các điểm kinh doanh vào nhóm
              để quản lý các điểm kinh doanh của bạn hiệu quả hơn</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</ng-template>