<div [class.p-inputgroup]="showIcon" [class.show-icon-left]="showIcon">
  <span class="p-input-icon-left" *ngIf="showIcon">
    <i class="input-icon input-icon-default" [ngClass]="iconClass"></i>
  </span>
  <p-dropdown [ngClass]="dropdownClass" [options]="options" [optionValue]="optionValue" [optionLabel]="optionLabel"
    [placeholder]="placeholder" [disabled]="disabled" [filter]="filter" [(ngModel)]="value"
    [emptyFilterMessage]="'Không tìm thấy dữ liệu'" (onChange)="onValueChange($event.value)">
    <ng-template let-item pTemplate="item">
      <div class="item-method">
        {{ item[optionLabel] }}
        <span *ngIf="showCheckmark && item[optionValue] === value" class="icon-check_circle_solid"></span>
      </div>
    </ng-template>
  </p-dropdown>
</div>