<div class="d-flex justify-content-between modal-header">
    <h4 class="modal-title title-m-bold">Hoàn tiền</h4>
    <span class="icon-close_large cursor-pointer" (click)="onClose()"></span>
</div>

<div class="modal-body">
    <div class="box-top mb-4">
        <div>
            Số tiền tối đa có thể hoàn trả: <span>{{formatMoney(maxMoney)}}</span>
        </div>
        <div>
            Mã FT giao dịch: <span>{{ traceTransfer }}</span>
        </div>
      <div>
        Số lần hoàn còn lại: <span>{{ totalNumberCanRefund }}</span>
      </div>
      @if (totalNumberCanRefund < 1) {
        <div class="m-caption error">
          <div class="icon-caption">
            <div class="icon-error_solid"></div>
          </div>
            <div class="text-caption paragraph-m-regular">Giao dịch không thể thực hiện do vượt quá số lần hoàn tiền quy định</div>
        </div>
      }
    </div>

    <form [formGroup]="formRepay">
        <div class="col-12 mb-4">
            <label class="form-label title-m-semibold">Số tiền hoàn trả</label>
            <div class="col-12">
                <p-inputNumber formControlName="money" inputId="integeronly" class="merchant-inputNumber"
                    [locale]="'en-US'" suffix=" ₫" [min]="0" [showClear]="true"
                    placeholder="Số tiền hoàn trả phải lớn hơn 2,000 ₫" (onBlur)="onBlurMoney($event)" />
            </div>
            @if (formRepay.controls['money'].touched
            && formRepay.controls['money'].invalid) {
            <div class="m-caption error">
                <div class="icon-caption">
                    <span class="icon-error_solid"></span>
                </div>
                @if (formRepay.controls['money'].hasError('required')) {
                <span class="text-caption paragraph-m-regular">Vui lòng nhập thông tin</span>
                }
                @if (formRepay.controls['money'].hasError('minSmall')) {
                <span class="text-caption paragraph-m-regular">Số tiền hoàn trả phải lớn hơn 2,000 đ</span>
                }
                @if (formRepay.controls['money'].hasError('maxBig')) {
                <span class="text-caption paragraph-m-regular">Số tiền hoàn trả phải nhỏ hơn hoặc bằng số tiền tối đa</span>
                }
            </div>
            }
        </div>
        <div class="col-12">
            <label class="form-label title-m-semibold">Nội dung hoàn trả</label>
            <div class="p-inputgroup p-textaregroup">
                <textarea rows="2" pInputTextarea appInputSanitize2 formControlName="description" class="merchant-input"
                    placeholder="Nhập lý do hoàn tiền không dấu & không ký tự đặc biệt" maxlength="500">
                           </textarea>
                <span class="count-length">{{ this.formRepay.get("description")?.value?.length }}/50</span>
                @if(this.formRepay.get('description')?.value){
                <span class="p-input-icon-right" (click)="clearValue('description')">
                    <i class="icon-close_circle_solid input-icon input-icon-close"></i>
                </span>
                }
            </div>
            @if (formRepay.controls['description'].touched
            && formRepay.controls['description'].invalid) {
            <div class="m-caption error">
                <div class="icon-caption">
                    <span class="icon-error_solid"></span>
                </div>
                @if (formRepay.controls['description'].hasError('required')) {
                <span class="text-caption paragraph-m-regular">Vui lòng nhập thông tin</span>
                }
                @if(formRepay.controls['description'].hasError('maxlength')){
                <span class="text-caption paragraph-m-regular">Tối đa 500 ký tự</span>
                }
            </div>
            }
        </div>

    </form>
</div>
<div class="modal-footer">
    <p-button label="Hủy" class="merchant-button-tertiary me-2" (click)="onClose()" />
    <p-button label="Hoàn tiền" class="merchant-button" (click)="doAction()" [disabled]="formRepay.invalid || totalNumberCanRefund < 1 || timeCanRefund > 30" />
</div>
