<div class="d-flex justify-content-between mb-4">
  <h1 class="header-m-semibold">
    Quản lý vai trò
  </h1>
  <p-button *appPermission="'/api/v1/role-management/save-role'" label="Thêm mới vai trò" class="merchant-button" icon="icon-plus_small" (click)="doOpenPage()"/>
</div>

<div class="wrapper">
  <div class="col-12 d-flex justify-content-end">
    <div class="p-inputgroup show-icon-left search-role">
      <span class="p-input-icon-left">
        <i class="icon-search input-icon input-icon-default"></i>
      </span>
      <input
        type="text"
        pInputText
        class="merchant-input search"
        [(ngModel)]="keyWord"
        placeholder="Tìm kiếm theo tên vai trò, người tạo"
        (keydown.enter)="onEnterSearch()"
        maxlength="255"
      />
      @if (keyWord != null && keyWord != '') {
        <span class="p-input-icon-right clear-icon" (click)="keyWord = ''">
          <i class="icon-close_circle_solid input-icon input-icon-close"></i>
        </span>
      }
    </div>
  </div>

  <div class="col-12 d-flex justify-content-end mt-24">
    <grid-view
      [columns]="columns"
      [dataSource]="dataList"
      (doChangePage)="doSearch($event)"
      [total]="totalItem"
      [action]="action"
      [search]="isSearch"
      style="float: left; width: 100%;"
      class="table-role"
    ></grid-view>
  </div>

  @if(dataList.length == 0 && !isSearch) {
    <div class="col-12 text-center">
      <div class="mt-4 title-l-semibold title-no-data">Không có dữ liệu</div>
      <div class="title-s-regular summary-no-data mb-3">
        Bạn chưa có vai trò nào. Thêm mới vai trò ngay
      </div>
      <p-button label="Thêm mới vai trò" class="merchant-button" icon="icon-plus_small" (click)="doOpenPage()" />
    </div>
  }
</div>
