@import "../../../scss/variables";

.wrapper {
  background: $color-global-neutral-white;
  min-height: calc(100vh - 232px);
  padding: $spacing-l;
  border-radius: $border-radius-xs;
  overflow-y: scroll; // Luôn hiện scrollbar để tránh nhảy layout
}

.search-role {
  width: 540px;

  .icon-search {
    color: $color-icon-neutral-sub-2;
  }
}

.title-no-data {
  color: $color-text-neutral-main;
}

.summary-no-data {
  color: $color-text-neutral-sub;
}

.mt-24 {
  margin-top: $spacing-l;
}

.table-role {
  
  ::ng-deep table {
    table-layout: fixed;
    width: 100%;
  }

 
  ::ng-deep th,
  ::ng-deep td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  ::ng-deep .mat-column-name {
    width: 200px;
  }

  ::ng-deep .mat-column-description {
    width: 300px;
  }

  ::ng-deep .mat-column-createdBy {
    width: 150px;
  }

  ::ng-deep .mat-column-createdDate {
    width: 120px;
  }

  ::ng-deep .mat-column-action {
    width: 80px;
    text-align: center;
  }


  ::ng-deep .mat-mdc-row {
    height: 48px;

    .icon-edit {
      visibility: hidden;
      width: 24px; 
    }

    &:hover {
      .icon-edit {
        visibility: visible;
      }
    }
  }
}
