<!-- <mat-stepper class="step-role" [selectedIndex]="currentStep" [disableRipple]="true"
  (selectionChange)="onStepChange($event)" [linear]="true" #stepper>
  <ng-template matStepperIcon="edit" let-index="index">
    {{ index + 1 }}
  </ng-template>

  <mat-step label="Gán tổ chức">
    <ng-container>
      <div class="d-flex gap-3">
        <div class="col-3 organization">
          <div class="content">
            <div class="mt-3">
              <div class="tree-node" *ngIf="userInfo?.orgType==0">
                <input type="checkbox" class="checkbox-custom" />

                <span class="group-name title-s-regular">{{userInfo?.merchantName}}</span>
              </div>
              <m-tree [data]="lstAreaByOrder" [level]="0" (groupChoice)="doActiveArea($event)"
                (groupSelect)="doGroup($event)" [activeItemId]="activeItemId" [checkDisable]="totalMerchant"></m-tree>
            </div>
          </div>
        </div>
        <div class="col-9">
          <ng-container *ngIf="subMerchantList?.length > 0">
            <div class="d-flex">
              <div class="col-6 mb-4">
                <div class="p-inputgroup show-icon-left search-role me-3">
                  <span class="p-input-icon-left">
                    <i class="icon-search input-icon input-icon-default"></i>
                  </span>
                  <input type="text" pInputText class="merchant-input search" [(ngModel)]="keyWord"
                    placeholder="Tìm theo tên,địa chỉ điểm kinh doanh..." (keydown.enter)="getLstMerchant()" />
                </div>
              </div>
            </div>
            <grid-view [columns]="columnsMerchant" [dataSource]="subMerchantList" [isShowPage]="false" [search]="true"
              [showCheckbox]="true" (dataChoice)="setUpMerchantIds($event)"
              style="float: left;width: 100%;"></grid-view>
          </ng-container>
        </div>
      </div>
    </ng-container>
    <div class="div-button">
      <p-button label="Hủy" class="merchant-button-tertiary me-2" (click)="onCancel()" />
      <button mat-button (click)="doNextStep()" class="merchant-button-material">
        Tiếp tục
      </button>
    </div>
  </mat-step>

  <mat-step label="Gán vai trò">
    <div>
      <p class="title-s-regular color-040d1f">Vui lòng chọn 1 vai trò để gán cho nhân sự.</p>
    </div>
    <div class="col-12 d-flex justify-content-end mt-4">
      <grid-view [columns]="columns" [dataSource]="dataRoles" (doChangePage)="doSearch($event)" [total]="totalItem"
        [search]="isSearch" [showRadio]="true" [isShowPage]="false" style="float: left;width: 100%;"></grid-view>
    </div>
    <div class="div-button">
      <p-button label="Quay lại" class="merchant-button-tertiary me-2" (click)="doPreStep()" />
      <button mat-button (click)="doUpdate()" class="merchant-button-material">
        Cập nhật
      </button>
    </div>
  </mat-step>
  <mat-step label="Hoàn tất">

  </mat-step>
</mat-stepper> -->
<div class="d-flex justify-content-between align-items-center mb-3">
  <span class="header-m-semibold">Cập nhật nhân sự</span>
</div>
<mat-stepper class="step-role" [selectedIndex]="currentStep" [disableRipple]="true"
  (selectionChange)="onStepChange($event)" [linear]="true" #stepper>
  <ng-template matStepperIcon="edit" let-index="index">
    {{ index + 1 }}
  </ng-template>

  <mat-step label="Gán tổ chức">
    <ng-container *ngIf="typeUpdate == 1">
      <div class="content d-flex flex-column align-items-center justify-content-center">
        <div class="content-text">
          <div class="title-l-semibold">Nhân sự được gán vào điểm kinh doanh {{groupNameSelect}}</div>
          <div class="title-s-regular" style="color: #4F5562;">Bạn không thể thay đổi tổ chức cho nhân sự này. Vui lòng chuyển bước tiếp theo.</div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="typeUpdate == 2">
      <div *ngIf="userInfo?.orgType ==0" class="d-flex gap-3">
        <div class="col-3 organization" style="max-height: 60vh; overflow-y: auto;">
          <div class="content">
            <div class="tree-node">
              <input type="checkbox" class="checkbox-custom" [checked]="isCheckboxMerchant" />
              <span class="group-name title-m-semibold">{{userInfo?.merchantName}}</span>
            </div>
            <m-tree [data]="lstAreaByOrder" [level]="0" (groupChoice)="doActiveArea($event)"
              (groupSelect)="doGroup($event)" [activeItemId]="activeItemId" [checkDisable]="checkDisableCheckbox()">
            </m-tree>
          </div>
        </div>
        <div class="col-9">
          <ng-container *ngIf="subMerchantList?.length > 0">
            <div class="row">
              <div class="col-12 mb-4">
                <span *ngIf="totalSelect && totalSelect > 0" class="title-s-regular"> Bạn đang gán nhân sự vào
                  <strong>{{ totalSelect }}</strong> điểm kinh doanh thuộc nhóm
                  <strong>{{ groupNameSelect }}</strong>. Bạn có thể gán nhân sự vào các điểm kinh doanh thuộc nhóm
                  khác.</span>
              </div>
              <div class="col-6 mb-4">
                <div class="p-inputgroup show-icon-left search-role me-3">
                  <span class="p-input-icon-left">
                    <i class="icon-search input-icon input-icon-default"></i>
                  </span>
                  <input type="text" pInputText class="merchant-input search" [(ngModel)]="keyWord"
                    placeholder="Tìm theo tên,địa chỉ điểm kinh doanh..." (keydown.enter)="getLstMerchant()" />
                </div>
              </div>
            </div>
            <grid-view [columns]="columnsMerchant" [dataSource]="subMerchantList" [isShowPage]="false" [search]="true"
              [showCheckbox]="true" (dataChoice)="setUpMerchantIds($event)" (isChecked)="totalSelect=$event"
              style="float: left;width: 100%;"></grid-view>
          </ng-container>
        </div>
      </div>
      <!-- <div *ngIf="userInfo?.orgType ==2" class="d-flex gap-3">
        <div class="col-12" style="max-height: 80vh; overflow-y: auto;">
          <div *ngIf="countSelectedPoint>0">Bạn đang gán nhân sự vào {{countSelectedPoint}} điểm kinh doanh.</div>
          <br />
          <ng-container *ngIf="pointSales.length > 0">
            <div class="d-flex">
              <div class="col-6 mb-4">
                <div class="p-inputgroup show-icon-left search-role me-3">
                  <span class="p-input-icon-left">
                    <i class="icon-search input-icon input-icon-default"></i>
                  </span>
                  <input type="text" pInputText class="merchant-input search" [(ngModel)]="searchOrganization"
                    placeholder="Tìm theo tên,địa chỉ điểm kinh doanh..." (keydown.enter)="getLstMerchant()"
                    (blur)="getLstMerchant()" />
                </div>
              </div>
            </div>
            <grid-view #gridViewRef [columns]="columnsMerchant" [dataSource]="pointSales" [isShowPage]="false"
              [search]="true" [showCheckbox]="true" (dataChoice)="setUpMerchantIds($event)"
              style="float: left;width: 100%;"></grid-view>
          </ng-container>
        </div>
      </div> -->
    </ng-container>
    <ng-container *ngIf="typeUpdate == 0">
      <div class="d-flex gap-3">
        <div class="col-12 organization" style="max-height: 60vh; overflow-y: auto;">
          <div class="content" style=" padding : 0 45px 0 45px">
            <div class="paragraph-m-regular mb-spacing-s">Vui lòng chọn 1 điểm kinh doanh để gán cho nhân sự, hoặc gán
              trực tiếp vào doanh nghiệp. Khi gán vào
              doanh nghiệp, nhân sự sẽ được phụ trách tất cả điểm kinh doanh.</div>

            <div class="paragraph-m-regular mb-spacing-l mt-2">Nếu bạn muốn gán nhân sự vào 2 điểm kinh doanh trở lên,
              vui lòng tạo nhóm. <a href="../organization" style="text-decoration: none;"><b>Tạo nhóm mới <span
                    class="icon-arrow_right"></span></b></a></div>

            <div class="d-flex mt-3">
              <div class="d-flex align-items-center gap-2">
                <p-radioButton class="m-radio m-radio-check" [value]="userInfo?.merchantId" name="radioOrganization"
                  [(ngModel)]="masterId" (ngModelChange)="onRadioChange($event)" (click)="$event.stopPropagation()" />
                <span class="title-s-semibold"><b>Gán vào doanh nghiệp: {{truncateString(userInfo?.merchantName)}}</b></span>
              </div>
            </div>

            <div class="d-flex mt-3">
              <div class="d-flex align-items-center gap-2">
                <p-radioButton class="m-radio m-radio-check" [value]="'0'" name="radioOrganization"
                  [(ngModel)]="masterId" (ngModelChange)="onRadioChange($event)" (click)="$event.stopPropagation()" />
                <span class="title-s-semibold"><b>Gán vào 1 điểm kinh doanh</b></span>
              </div>
            </div>

            <div class="col-5 mt-3" *ngIf="!disableRadio">
              <div class="p-inputgroup show-icon-left search-role me-3">
                <span class="p-input-icon-left">
                  <i class="icon-search input-icon input-icon-default"></i>
                </span>
                <input type="text" pInputText class="merchant-input search" [(ngModel)]="keyWord"
                  placeholder="Tìm kiếm tên, địa chỉ điểm kinh doanh" (keydown.enter)="getLstMerchant()"
                  (blur)="getLstMerchant()" />
              </div>

            </div>

            <div class="mt-3">
              <ng-container *ngIf="subMerchantList?.length > 0">
                <grid-view #gridViewRef [columns]="columnsMerchant" [dataSource]="subMerchantList" [isShowPage]="false"
                  [search]="true" [showRadio]="!disableRadio" (dataChoice)="setUpMerchantIds($event)"
                  [isDisabled]="disableRadio" (selectedItemChange)=" onSelectedItemChange($event)"
                  [selectedItem]="getSelectedItemForRadio()" (isDisabled)="!masterIdSelected"
                  style="float: left;width: 100%;"></grid-view>
              </ng-container>
            </div>

          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="typeUpdate == 4">
      <div class="row">
        <div class="col-12 mb-4">
          <span *ngIf="totalSelect && totalSelect > 0" class="title-s-regular"> Bạn đang gán nhân sự vào
            <strong>{{ totalSelect }}</strong> điểm kinh doanh </span>
        </div>
        <div class="col-6 mb-4">
          <div class="p-inputgroup show-icon-left search-role me-3">
            <span class="p-input-icon-left">
              <i class="icon-search input-icon input-icon-default"></i>
            </span>
            <input type="text" pInputText class="merchant-input search" [(ngModel)]="keyWord"
              placeholder="Tìm theo tên,địa chỉ điểm kinh doanh..." (keydown.enter)="getLstMerchant()" />
          </div>
        </div>
      </div>

      <div class="mt-3">
        <grid-view [columns]="columnsMerchant" [dataSource]="subMerchantList" [isShowPage]="false" [search]="true"
          [showCheckbox]="true" (dataChoice)="setUpMerchantIds($event)" (isChecked)="totalSelect=$event"
          style="float: left;width: 100%;"></grid-view>
      </div>

    </ng-container>
    <div class="div-button">
      <p-button label="Hủy" class="merchant-button-tertiary me-2" (click)="onCancel()" />
      <button mat-button (click)="doNextStep(1)" class="merchant-button-material">
        Tiếp tục
      </button>
    </div>
  </mat-step>

  <mat-step label="Gán vai trò">
    <div>
      <p class="title-s-regular color-040d1f">Vui lòng chọn 1 vai trò để gán cho nhân sự.</p>
    </div>
    <div *ngIf="this.isUpdateRole">
      <p class="title-s-regular text-danger">Bạn cần gán vai trò mới cho nhân sự sau khi thay đổi tổ chức.</p>
    </div>
    <div class="col-12 d-flex justify-content-end mt-4">
      <grid-view [columns]="columns" [dataSource]="dataRoles" (doChangePage)="doSearch($event)" [total]="totalItem"
        (selectedItemChange)="setRoleId($event)" [search]="isSearch" [showRadio]="true" [isShowPage]="false"
        [selectedItem]="getSelectedItemRoleForRadio()" style="float: left;width: 100%;" (isDisabled)="false">
      </grid-view>
    </div>
    <div class="div-button">
      <p-button label="Quay lại" class="merchant-button-tertiary me-2" (click)="doPreStep()" />
      <button mat-button (click)="doNextStepSubmit()" class="merchant-button-material" [disabled]="this.isUpdateRole">
        Tiếp tục
      </button>
    </div>
  </mat-step>
  <mat-step label="Hoàn tất">
    <div class="content-thirdForm d-flex flex-column align-items-center header-xs-bold mt-5">
      <ng-container *ngIf="isSuccess === 1">
        <img [src]="assetPath + '/assets/images/image-success.svg'" alt="Success" />
        <div class="mt-3">
          Cập nhật nhân sự thành công
        </div>
        <div *ngIf="!isHaveEmail" class="text title-s-regular mt-3">
          Hãy gửi thông tin đăng nhập để nhân sự truy cập vào hệ thống.
        </div>
        <div *ngIf="isHaveEmail" class="text text-center title-s-regular mt-3">
          <span> Hãy gửi thông tin đăng nhập hoặc thông báo nhân sự kiểm tra</span><br> <span>email để lấy thông tin
            truy cập vào hệ thống.</span>
        </div>
        <a [href]="assetPath + '/hr'" class="mt-3">
          <p-button label="Về trang quản lý" class="merchant-button mt-4" />
        </a>
      </ng-container>

      <ng-container *ngIf="isSuccess === 0">
        <img [src]="assetPath + '/assets/images/image-false.svg'" alt="False" />
        <div class="mt-3"> Cập nhật nhân sự không thành công</div>
        <div class="text title-s-regular mt-3">Đã có lỗi xảy ra. Vui lòng thử lại.</div>
        <a [href]="assetPath + '/hr/hr-update'" class="mt-3">
          <p-button label="Thử lại" class="merchant-button mt-4" />
        </a>
        <a [href]="assetPath + '/hr'" class="mt-3">
          <p-button label="Về trang quản lý" class="merchant-button-tertiary mt-4" />
        </a>
      </ng-container>
    </div>
  </mat-step>
</mat-stepper>
