<ul class="tree-list">
    <ng-container *ngFor="let item of data">
        <li>
            <div class="tree-node" [style.paddingLeft.px]="item.children?.length ? level * 20 : level * 20 + 24"
                [class.active]="item.id === activeItemId" (click)="doChangeGroup(item)">
                <button class="expand-btn" *ngIf="item.children?.length"
                    (click)="toggleExpand(item);$event.stopPropagation()">
                    @if (item.expanded) {
                    <span class="icon-angle_down icon-custom"></span>
                    }@else {
                    <span class="icon-angle_right icon-custom"></span>
                    }
                </button>
                <input type="checkbox" class="checkbox-custom" [checked]="item.checked" id="{{ item.id }}"
                    [disabled]="checkDisable" (change)="onCheckboxChange( $event,item)"
                    (click)="$event.stopPropagation()" />

                <span class="group-name title-s-regular">{{ item.groupName }}</span>

                <span class="group-count title-xs-regular" *ngIf="item.children?.length>0">{{ getGroupLabel(item)
                    }}</span>
            </div>

            <!-- children -->
            <div *ngIf="item.expanded && item.children?.length">
                <m-tree [data]="item.children" [level]="level + 1" [activeItemId]="activeItemId"
                    (groupChoice)="groupChoice.emit($event)" [checkDisable]="checkDisable"
                    (groupSelect)="groupSelect.emit($event)">
                </m-tree>
            </div>
        </li>
    </ng-container>
</ul>