<div class="container-login">
  <!-- Bên trái -->
  <div class="left-section">

    <!--  Form đổi mật khẩu -->
    <div class="form-container">
      <div class="logo-pw">
        <img [src]=" assetPath + '/assets/images/logo_login.svg'" alt="MerchantX Logo" />
      </div>

      <div class="back-text mb-3 cursor-pointer" (click)="onChangePassword()">
        <img alt="icon" [src]="assetPath +'/assets/images/arrow-left.svg'">
        <a class="title-s-semibold">Quay lại</a>
      </div>

      <!-- Tiêu đề -->
      <h1 class="header-2xl-bold m-b-48">Đổi mật khẩu</h1>

      <!-- Form đổi mật khẩu -->
      <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <div class="form-group password-group" *ngIf="!key">
          <label class="title-m-semibold" for="current-password">Mật khẩu hiện tại</label>
          <div class="p-inputgroup show-icon-right">
            <input appShowClearOnFocus=".clear-icon" class="merchant-input" pInputText type="text" formControlName="currentPw"
              [type]="showCurrentPassword ? 'text' : 'password'" id="current-password" placeholder="Nhập mật khẩu"
              autocomplete="current-password" />
            @if(this.changePasswordForm.get('currentPw')?.value){
            <span class="p-input-icon-right clear-icon" (click)="clearValue('currentPw')">
              <i class="icon-close_circle_solid input-icon input-icon-close"></i>
            </span>
            }
            <span class="p-input-icon-right clear-icon" (click)="showCurrentPassword =!showCurrentPassword">
              <i [class]="showCurrentPassword ? 'icon-eye_off' : 'icon-eye_on'" class="input-icon eye-icon"></i>
            </span>
          </div>
          @if(changePasswordForm.controls['currentPw'].touched && changePasswordForm.controls['currentPw'].invalid){
          <div class="m-caption error">
            <div class="icon-caption">
              <span class="icon-error_solid"></span>
            </div>
            @if (changePasswordForm.controls['currentPw'].hasError('required')) {
            <span class="text-caption paragraph-m-regular">Vui lòng nhập thông tin</span>
            }
            @if (changePasswordForm.controls['currentPw'].hasError('passwordFail')) {
            <span class="text-caption paragraph-m-regular">Mật khẩu hiện tại không chính xác</span>
            }
          </div>
          }
        </div>

        <div class="form-group password-group m-b-24">
          <label class="title-m-semibold" for="new-password">Mật khẩu mới</label>
          <div class="p-inputgroup show-icon-right">
            <input appShowClearOnFocus=".clear-icon" class="merchant-input" pInputText type="text" formControlName="newPw"
              [type]="showNewPassword ? 'text' : 'password'" id="new-password" placeholder="Nhập mật khẩu"
              autocomplete="new-password" />
            @if(this.changePasswordForm.get('newPw')?.value){
            <span class="p-input-icon-right clear-icon" (click)="clearValue('newPw')">
              <i class="icon-close_circle_solid input-icon input-icon-close"></i>
            </span>
            }
            <span class="p-input-icon-right clear-icon" (click)="showNewPassword=!showNewPassword">
              <i [class]="showNewPassword ? 'icon-eye_off' : 'icon-eye_on'" class="input-icon eye-icon"></i>
            </span>
          </div>
          @if(changePasswordForm.controls['newPw'].touched && changePasswordForm.controls['newPw'].invalid){
          <div class="m-caption error">
            <div class="icon-caption">
              <span class="icon-error_solid"></span>
            </div>
            @if (changePasswordForm.controls['newPw'].hasError('required')) {
            <span class="text-caption paragraph-m-regular">Vui lòng nhập thông tin</span>
            }

            @if (changePasswordForm.controls['newPw'].hasError('newPassFail')) {
            <span class="text-caption paragraph-m-regular">Mật khẩu mới không được trùng mật khẩu hiện tại</span>
            }
          </div>
          }
        </div>

        <!-- Điều kiện mật khẩu -->
        <div class="m-b-24">
          <div class="title-s-semibold color-040D1F mb-1">Mật khẩu mới bao gồm:</div>
          <div class="condition" [class.valid]="passwordCriteria.length">
            <span class="icon-check_large icon-check"></span>
            <label class="paragraph-regular" [class.valid]="passwordCriteria.length">
              Dài 8 đến 50 ký tự
            </label>
          </div>
          <div class="condition" [class.valid]="passwordCriteria.uppercase">
            <span class="icon-check_large icon-check"></span>
            <label class="paragraph-regular" [class.valid]="passwordCriteria.uppercase">
              Chứa ít nhất một chữ viết hoa
            </label>
          </div>
          <div class="condition" [class.valid]="passwordCriteria.number">
            <span class="icon-check_large icon-check"></span>
            <label class="paragraph-regular" [class.valid]="passwordCriteria.number">
              Chứa ít nhất một chữ số
            </label>
          </div>
          <div class="condition" [class.valid]="passwordCriteria.specialChar">
            <span class="icon-check_large icon-check"></span>
            <label class="paragraph-regular" [class.valid]="passwordCriteria.specialChar">
              Chứa ít nhất một ký tự đặc biệt
            </label>
          </div>
        </div>

        <div class="form-group password-group">
          <label class="title-m-semibold" for="confirm-password">Nhập lại mật khẩu mới</label>
          <div class="p-inputgroup show-icon-right">
            <input appShowClearOnFocus=".clear-icon" class="merchant-input" pInputText type="text" formControlName="confirmPassword"
              [type]="showConfirmPassword ? 'text' : 'password'" id="confirm-password" placeholder="Nhập mật khẩu"
              autocomplete="confirm-password" />
            @if(this.changePasswordForm.get('confirmPassword')?.value){
            <span class="p-input-icon-right clear-icon" (click)="clearValue('confirmPassword')">
              <i class="icon-close_circle_solid input-icon input-icon-close"></i>
            </span>
            }
            <span class="p-input-icon-right clear-icon" (click)="showConfirmPassword =!showConfirmPassword">
              <i [class]="showConfirmPassword ? 'icon-eye_off' : 'icon-eye_on'" class="input-icon eye-icon"></i>
            </span>
          </div>
          @if(changePasswordForm.controls['confirmPassword'].hasError('required')
          &&changePasswordForm.controls['confirmPassword'].touched &&
          changePasswordForm.controls['confirmPassword'].invalid){
          <div class="m-caption error">
            <div class="icon-caption">
              <span class="icon-error_solid"></span>
            </div>
            <span class="text-caption paragraph-m-regular">Vui lòng nhập thông tin</span>
          </div>
          }
          @if(changePasswordForm.errors?.['passwordsMismatch']){
          <div class="m-caption error">
            <div class="icon-caption">
              <span class="icon-error_solid"></span>
            </div>
            <span class="text-caption paragraph-m-regular">Nhập lại mật khẩu chưa trùng khớp</span>
          </div>
          }
        </div>

        <!-- Nút đổi mật khẩu -->
        <!-- <button type="submit" class="login-btn" [disabled]="changePasswordForm.invalid">
            <label class="title-m-semibold cursor-pointer"> Đổi mật khẩu </label>
          </button> -->
        <p-button label="Đổi mật khẩu" class="merchant-button" (click)="onSubmit()"
          [disabled]="changePasswordForm.invalid || !isValidPassword" />
      </form>

      <!-- Quay lại đăng nhập -->
      <a href="#" class="title-s-semibold" (click)="onChangePassword()">Quay lại đăng nhập</a>


    </div>

    <!-- Footer -->
    <div class="footer">
      <span class="paragraph-m-regular">© 2025 MBBank. All rights reserved.</span>
    </div>
  </div>

  <!-- Bên phải: Phần quảng bá -->
  <div class="right-section">
    <img [src]="assetPath + '/assets/images/Background.svg'" alt="Buildings Illustration" />
  </div>
</div>
