<div
  *ngIf="area.groupName"
  [ngClass]="['level', 'level-' + (area.level - subtractLevel)]"
>
  <div
    [ngClass]="[
      'content-group d-flex justify-content-between align-items-center',
      area.id === areaIdMove ? 'area-active' : '',
      isSelectArea && area.children.length === 0 ? 'cursor-pointer' : ''
    ]"
    (click)="doActiveArea(area)"
  >
    <div class="d-flex align-items-center gap-2">
      <span
        [ngClass]="[
          'cursor-pointer',
          area.children.length > 0
            ? isShowChildren
              ? 'icon-angle_down'
              : 'icon-angle_right'
            : 'icon-arrow_right'
        ]"
        (click)="$event.stopPropagation(); onOpenChildren(area)"
      ></span>
      <span style="white-space: pre">{{ area.groupName }}</span>
    </div>
 
    <!-- Hiển thị số nhóm nếu có (lớn hơn 0) hoặc không chọn area -->
    <div
      *ngIf="(!isSelectArea || area.children.length > 0) && isShowCountGroup"
      class="count"
    >
      {{ area.children.length }} nhóm
    </div>
 
    <!-- Nếu đang chọn area và có con, không hiển thị icon tick -->
    <ng-container *ngIf="isSelectArea && isLeafNode()">
      <span
        *ngIf="area.id === areaIdMove; else unchecked"
        class="icon-circle_checked"
      ></span>
      <ng-template #unchecked>
        <span class="icon-circle_uncheck"></span>
      </ng-template>
    </ng-container>
 
    <ng-container *ngIf="isShowCheckbox">
      <div>
        <input
          *ngIf="isShowCheckbox"
          type="checkbox"
          class="checkbox-custom"
          [checked]="area.checked === true"
          [indeterminate]="area.checked === 'partial'"
          id="{{ area.id }}"
          [disabled]="area.disabled"
          (change)="onCheckboxChange($event, area)"
          (click)="$event.stopPropagation()"
        />
      </div>
    </ng-container>
  </div>
</div>
 
<div *ngIf="area.children && area.children.length > 0 && area.expanded">
  <div *ngFor="let child of area.children">
    <app-tree-view
      [area]="child"
      (activeArea)="onActiveArea($event)"
      [subtractLevel]="subtractLevel"
      [isSelectArea]="isSelectArea"
      [isShowChildren]="isShowChildren"
      [areaIdMove]="areaIdMove"
      [isLeaf]="child.isLeaf"
      [isSearching]="isSearching"
      [isShowCountGroup]="isShowCountGroup"
      [isShowCheckbox]="isShowCheckbox"
      (doChangeAreaIdMove)="doActiveArea($event)"
    >
    </app-tree-view>
  </div>
</div>