@if (this.dataRefund == null) {
  <div class="d-flex justify-content-between align-items-center mb-3">
    <div class="subject-page">Giao dịch thanh toán</div>
    <p-button *ngIf="detailTrans?.status == '00' && hasRolePrint" label="In hóa đơn" class="merchant-button" icon="icon-printer" (click)="onPrint()"/>
  </div>
  <div class="wrapper mb-4">
    <div class="mb-3 info-subject">Thông tin giao dịch</div>
    <div class="row">
      <div class="d-flex flex-column col-3 mb-2 detail-info">
        <div class="info-label">Ngân hàng thanh toán</div>
        <div class="info-value">{{ detailTrans?.issuerName }}</div>
      </div>
      <div class="d-flex flex-column col-3 mb-2 detail-info">
        <div class="info-label">Số tài khoản/Thẻ thanh toán</div>
        <div class="info-value">{{ detailTrans?.debitAccount }}</div>
      </div>
      <div class="d-flex flex-column col-3 mb-2 detail-info">
        <div class="info-label">Tên tài khoản thanh toán</div>
        <div class="info-value">{{ detailTrans?.debitName }}</div>
      </div>
      <div class="d-flex flex-column col-3 mb-2 detail-info">
        <div class="info-label">Phương thức thanh toán</div>
        <div class="info-value">{{ detailTrans?.methodName }}</div>
      </div>
      <div class="d-flex flex-column col-3 mb-2 detail-info">
        <div class="info-label">Ngày giao dịch</div>
        <div class="info-value">{{ detailTrans?.transTime }}</div>
      </div>
      <div class="d-flex flex-column col-3 mb-2 detail-info">
        <div class="info-label">Số tiền giao dịch</div>
        <div class="info-value">{{ formatMoney(detailTrans?.amount) }}</div>
      </div>
      <div class="d-flex flex-column col-3 mb-2 detail-info">
        <div class="info-label">Phí giao dịch</div>
        <div class="info-value">{{ formatMoney(detailTrans?.feeAmount) }}</div>
      </div>
      <div class="d-flex flex-column col-3 mb-2 detail-info">
        <div class="info-label">Phí VAT</div>
        <div class="info-value">{{ formatMoney(detailTrans?.feeVat) }}</div>
      </div>
      <div class="d-flex flex-column col-3 mb-2 detail-info">
        <div class="info-label">Nội dung thanh toán</div>
        <div class="info-value">{{ detailTrans?.orderInfo }}</div>
      </div>
      <div class="d-flex flex-column col-3 mb-2 detail-info">
        <div class="info-label">Trạng thái</div>
        <span [ngClass]="['status', getClassStatus(detailTrans?.status)]"
              class="">{{ getLabelStatus(detailTrans?.status) }}</span>
      </div>
    </div>
  </div>
  <div class="wrapper mb-4">
    <div class="mb-3 info-subject">Thông tin thanh toán</div>
    <div class="row">
      <div class="d-flex flex-column col-3 mb-2 detail-info">
        <div class="info-label">Điểm kinh doanh</div>
        <div class="info-value">{{ detailTrans?.merchantName }}</div>
      </div>
      <div class="d-flex flex-column col-3 mb-2 detail-info">
        <div class="info-label">Tài khoản doanh nghiệp</div>
        <div class="info-value">{{ detailTrans?.creditAccount }}</div>
      </div>
      <div class="d-flex flex-column col-3 mb-2 detail-info">
        <div class="info-label">Mã giao dịch</div>
        <div class="info-value">{{ detailTrans?.transactionNumber }}</div>
      </div>
      <div class="d-flex flex-column col-3 mb-2 detail-info">
        <div class="info-label">Mã định danh</div>
        <div class="info-value">{{ detailTrans?.orderRef }}</div>
      </div>
      <div class="d-flex flex-column col-3 mb-2 detail-info">
        <div class="info-label">Mã đơn hàng</div>
        <div class="info-value">{{ detailTrans?.orderId }}</div>
      </div>
      <div class="d-flex flex-column col-3 mb-2 detail-info">
        <div class="info-label">Mã FT giao dịch</div>
        <div class="info-value">{{ detailTrans?.txnReference }}</div>
      </div>
      <div class="d-flex flex-column col-3 mb-2 detail-info">
        <div class="info-label">Mã key dịch vụ</div>
        <div class="info-value">{{ detailTrans?.terminalId }}</div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <div class="mb-3 info-subject">Lịch sử hoàn tiền</div>
      <p-button *ngIf="detailTrans?.status == '00' && detailTrans?.methodId == 324 && hasRoleRefund" label="Hoàn tiền"
                (click)="doRepay()" class="merchant-button" icon=""/>
    </div>

    <div class="col-12 d-flex justify-content-end mt-4">
      @if (dataHistory?.length) {
        <grid-view class="table-history" [columns]="columns" [dataSource]="dataHistory" [isShowPage]="false"
                   style="float: left;width: 100%;"></grid-view>
      } @else {
        <div class="col-12 text-center">
          <img [src]="assetPath + '/assets/images/grid-empty.png'">
          <div class="mt-4 title-l-semibold title-no-data">Chưa có giao dịch hoàn tiền</div>
          <div class="title-s-regular summary-no-data">Vui lòng thử lại sau.</div>
        </div>
      }
    </div>
  </div>
} @else {
  <div class="wrapper wrapper-2 content-thirdForm d-flex flex-column align-items-center header-xs-bold mt-5">
    <img [src]="assetPath + '/assets/images/image-success.svg'" alt="Success" class="mt-148px"/>
    <div class="mt-3"> Hoàn trả thành công</div>
    <div class="text title-s-regular mt-3">Số tiền hoàn trả: <span class="title-s-semibold">{{ dataRefund?.amount }}</span></div>
    <div class="text title-s-regular mt-3">Mã FT hoàn trả: <span class="title-s-semibold">{{ dataRefund?.ftNumber }}</span></div>
    <a [href]="assetPath +'/transaction/payment'" class="mt-3">
      <p-button label="Về trang giao dịch thanh toán" class="merchant-button mt-4"/>
    </a>
  </div>
}

<button #printBtn ngxPrint printSectionId="print-section" [useExistingCss]="true" style="display:none"></button>

<div id="print-section" style="display:none;">
  <app-print-invoice [data]="invoiceData"></app-print-invoice>
</div>
