<div class="d-flex justify-content-between modal-header">
  <h4 class="modal-title title-m-bold color-040d1f">Cấp lại mật khẩu</h4>
  <span class="icon-close_large cursor-pointer" (click)="onclose()"></span>
</div>

<div class="modal-body">
  <div class="col-12 mb-2">
    <label class="form-label title-m-semibold">Mật khẩu <span class="required">*</span></label>
    <div class="align-items-center d-flex gap-3">
      <div class="p-inputgroup">
        <input type="text" pInputText class="merchant-input" [(ngModel)]="pass"
               placeholder="Mật khẩu sẽ xuất hiện tại đây" readonly/>
        <span class="p-input-icon-right clear-icon">
        <i class="icon-copy input-icon" (click)="copyPassword()"></i>
      </span>
      </div>
      <span class="generate col-3" (click)="createPassword()">Tạo mật khẩu</span>
    </div>
  </div>
  @if (pass) {
    <div class="m-caption error">
      <div class="icon-caption">
        <span class="icon-error_solid"></span>
      </div>
      <span class="text-caption paragraph-s-regular">Bạn vui lòng sao chép mật khẩu, vì lý do bảo mật thông tin, mật khẩu sẽ không bao giờ hiển thị lại.</span>
    </div>
  }
</div>

<div class="modal-footer">
  <p-button label="Hủy" class="merchant-button-tertiary" (click)="doAction(false)"/>
  <p-button label="Thay đổi" class="merchant-button"
            [disabled]="!pass"
            (click)="doAction(true)"/>
</div>


