<!-- <div *ngIf="!item.hidden; else templateHidden">
  <div class="pdl-2 pdr-2" [ngClass]="{ 'control-error': isValidControl(item.key) }" *ngIf="typeForm === 'vertical'">
    <label *ngIf="item.label" class="form-label">
      {{ item.label }}
      <span *ngIf="item.required" class="required mrl-1"> * </span>
    </label>

    <div class="form-group" [formGroup]="form" [class.no-label]="!item.label" [class.error]="
        isValidControl(item.key) ||
        isValidCustom(item.key, item.customValidate).key
      ">
      <div class="form-input-row">
        <span *ngIf="showPrefix" class="form-icon-prefix" (click)="clearValue(item.key)">
          <i [ngClass]="iconPrefix"></i>
        </span>
        
        <input 
          *ngIf="!useFloatFormatter" 
          #inputElement 
          matInput 
          class="form-control" 
          [ngClass]="{ 'with-prefix': showPrefix }"
          type="text"
          [title]="item.title ? form.get(item.key)?.value : ''" 
          [regex]="item.customDirectives"
          [formItem]="item.directives" 
          [micro]="item.microDirectives" 
          [formControlName]="item.key" 
          autocomplete="off"
          [placeholder]="item.placeholder" 
          [pattern]="item.pattern" 
          [type]="item.type" 
          [email]="item.type === 'email'"
          [readonly]="item.readOnly" 
          (change)="change($event)" 
          (focus)="focusFunction($event)"
          (focusout)="focusOutFunction($event)" 
          (keyup.enter)="change($event)" 
          (keypress)="allowPattern($event)"
          (blur)="trimValue(item.key)"
          [id]="item.key"
          />

        <input 
          *ngIf="useFloatFormatter" 
          #inputElement 
          matInput 
          class="form-control" 
          type="text"
          mask="separator.3"
          thousandSeparator="," 
          decimalMarker="." 
          [allowNegativeNumbers]="allowNegativeNumbers"
          [title]="item.title ? form.get(item.key)?.value : ''" 
          [regex]="item.customDirectives"
          [formItem]="item.directives" 
          [micro]="item.microDirectives" 
          [formControlName]="item.key" 
          autocomplete="off"
          [placeholder]="item.placeholder" 
          [pattern]="item.pattern" 
          [type]="item.type" 
          [email]="item.type === 'email'"
          [readonly]="item.readOnly" 
          (change)="change($event)" 
          (focus)="focusFunction($event)"
          (focusout)="focusOutFunction($event)" 
          (keyup.enter)="change($event)" 
          (keypress)="allowPattern($event)"
          (blur)="trimValue(item.key)"
          [id]="item.key" />

        <span *ngIf="form.get(item.key)?.value && !showSurfix" class="form-icon-clear" (click)="clearValue(item.key)">
          <i class="icon-close_circle_solid"></i>
        </span>

        <span *ngIf="showSurfix" class="form-icon-surfix" (click)="surfixFunction($event)">
          <i [ngClass]="iconSurfix"></i>
        </span>

      </div>

      <div *ngIf="isValidControl(item.key, 'required')" class="form-remark">
        <div class="d-flex align-items-center gap-1">
          <span class="icon-error_solid"></span>
          <span>{{ ('validations.required' + item.key) | translate }}</span>
        </div>
      </div>
      <div *ngIf="isValidControl(item.key, 'maxlength')" class="form-remark">
        <div class="d-flex align-items-center gap-1">
          <span class="icon-error_solid"></span>
          <span>{{ ('validations.maxlength' + item.key) | translate }}</span>
        </div>
      </div>
      <div *ngIf="isValidControl(item.key, 'minlength')" class="form-remark">
        <div class="d-flex align-items-center gap-1">
          <span class="icon-error_solid"></span>
          <span>{{ ('validations.minlength' + item.key) | translate }}</span>
        </div>
      </div>
      <div *ngIf="isValidControl(item.key, 'max')" class="form-remark">
        <div class="d-flex align-items-center gap-1">
          <span class="icon-error_solid"></span>
          <span>{{ ('validations.max' + item.key) | translate }}</span>
        </div>
      </div>
      <div *ngIf="isValidControl(item.key, 'min')" class="form-remark">
        <div class="d-flex align-items-center gap-1">
          <span class="icon-error_solid"></span>
          <span>{{ ('validations.min' + item.key) | translate }}</span>
        </div>
      </div>
      <div *ngIf="isValidControl(item.key, 'pattern')" class="form-remark">
        <div class="d-flex align-items-center gap-1">
          <span class="icon-error_solid"></span>
          <span>{{ ('validations.errortype' + item.key) | translate }}</span>
        </div>
      </div>
      <div *ngIf="isValidControl(item.key, 'whitespace')" class="form-remark">
        <div class="d-flex align-items-center gap-1">
          <span class="icon-error_solid"></span>
          <span>{{ ('validations.whitespace' + item.key) | translate }}</span>
        </div>
      </div>
      <div *ngIf="isValidCustom(item.key, item.customValidate).key" class="form-remark">
        {{ isValidCustom(item.key, item.customValidate).value }}
      </div>
      <div *ngIf="isValidControl(item.key, 'email')" class="form-remark">
        <div class="d-flex align-items-center gap-1">
          <span class="icon-error_solid"></span>
          <span>{{ ('validations.email' + item.key) | translate }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #templateHidden>
  <div [formGroup]="form">
    <input type="hidden" [formControlName]="item.key" />
  </div>
</ng-template> -->