<div class="d-flex justify-content-between align-items-center mb-3">
  <div class="header-m-semibold">Giao dịch hoàn trả</div>
  <p-button *ngIf="hasRoleExport" label="Xuất file" class="merchant-button" icon="icon-download" (click)="onExport()" [disabled]="dataTable.length <= 0"/>
</div>

<div class="wrapper">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div class="total">
      <div>Tổng giao dịch: <span>{{ totalTrans }}</span></div>
      <div>Tổng tiền: <span>{{ formatMoney(totalAmount) }}</span></div>
    </div>
    <div class="d-flex">
      <nz-range-picker
        class="me-2"
        [nzShowTime]="{ nzFormat: 'HH:mm' }"
        nzFormat="dd/MM/yyyy HH:mm"
        [(ngModel)]="dateRange"
        [nzDisabledDate]="disabledDate"
        [nzDisabledTime]="disabledRangeTime"
        [nzAllowClear]="false"
        [nzInputReadOnly]="true"
        [nzPlaceHolder]="['Từ ngày', 'Đến ngày']"
        (nzOnCalendarChange)="onCalendarSelect($event)"
        (ngModelChange)="onDateRangeChange($event)"
        (nzOnOpenChange)="onCalendarOpenChange($event)"
      >
      </nz-range-picker>
      <p-button [matBadge]="checkSearchNumber()" [ngClass]="['merchant-button-icon button-l button-light me-2', isSearch? 'active': '']"
                icon="icon-search" (click)="onToggleSearch()"/>
      <p-button [matBadge]="checkFilterNumber()" [ngClass]="['merchant-button-icon button-l button-light me-2', isFilter? 'active': '']"
                icon="icon-filter" (click)="onToggleFilter()"/>
      <p-button class="merchant-button-icon button-l button-light" icon="icon-setting" (click)="onSetting()"/>
    </div>
  </div>

  <div *ngIf="isSearch" class="box-search">
    <div class="row mb-4">
      <div class="col-md-3">
        <label class="input-label-custom">Mã giao dịch gốc</label>
        <div class="p-inputgroup">
          <input appShowClearOnFocus=".clear-icon" class="merchant-input" pInputText placeholder="Nhập mã giao dịch gốc"
            [(ngModel)]="searchCriteria.transactionOriginNumber" (keydown.enter)="onSearch()" />
          @if (searchCriteria.transactionOriginNumber != null && searchCriteria.transactionOriginNumber != '') {
          <span class="p-input-icon-right clear-icon" (click)="searchCriteria.transactionOriginNumber = null">
            <i class="icon-close_circle_solid input-icon input-icon-close"></i>
          </span>
          }
        </div>
      </div>
      <div class="col-md-3">
        <label class="input-label-custom">Mã giao dịch hoàn trả</label>
        <div class="p-inputgroup">
          <input appShowClearOnFocus=".clear-icon" class="merchant-input" pInputText placeholder="Nhập mã giao dịch hoàn trả"
            [(ngModel)]="searchCriteria.transactionNumber" (keydown.enter)="onSearch()" />
          @if (searchCriteria.transactionNumber != null && searchCriteria.transactionNumber != '') {
          <span class="p-input-icon-right clear-icon" (click)="searchCriteria.transactionNumber = null">
            <i class="icon-close_circle_solid input-icon input-icon-close"></i>
          </span>
          }
        </div>
      </div>
      <div class="col-md-3">
        <label class="input-label-custom">Mã định danh</label>
        <div class="p-inputgroup">
          <input appShowClearOnFocus=".clear-icon" class="merchant-input" pInputText placeholder="Nhập mã định danh"
            [(ngModel)]="searchCriteria.orderReferenceOrigin" (keydown.enter)="onSearch()" />
          @if (searchCriteria.orderReferenceOrigin != null && searchCriteria.orderReferenceOrigin != '') {
          <span class="p-input-icon-right clear-icon" (click)="searchCriteria.orderReferenceOrigin = null">
            <i class="icon-close_circle_solid input-icon input-icon-close"></i>
          </span>
          }
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isFilter" class="box-filter mt-4">
    <div class="row mb-4">
      <div class="col-md-4">
        <label class="input-label-custom">Trạng thái</label>
        <mb-dropdown
            [(ngModel)]="filterCriteria.selectedStatuses"
            [options]="statusOptions"
            optionValue="code"
            optionLabel="name"
            placeholder="Tất cả"
            [filter]="false"
            [showCheckmark]="true"
          ></mb-dropdown>
      </div>
      <div class="col-md-4">
        <label class="input-label-custom">Phương thức thanh toán</label>
        <mb-dropdown
            [(ngModel)]="filterCriteria.selectedPaymentMethod"
            [options]="paymentMethodOptions"
            optionValue="paymentMethodId"
            optionLabel="paymentMethodName"
            placeholder="Tất cả"
            [filter]="false"
            [showCheckmark]="true"
          ></mb-dropdown>
      </div>
      <div class="col-md-4">
        <label class="input-label-custom">Ngân hàng thanh toán</label>
        <p-dropdown
          class="merchant-dropdown"
          [options]="bankOptions"
          optionValue="code"
          optionLabel="shortName"
          placeholder="Tất cả"
          filterPlaceholder="Tìm kiếm ngân hàng"
          [filter]="true"
          [(ngModel)]="filterCriteria.selectedBanks"
          filterBy="shortName,fullName"
          emptyFilterMessage="Không tìm thấy dữ liệu"
          styleClass="custom-bank-multiselect">
          <ng-template let-bank pTemplate="item">
            <div class="bank-item position-relative">
              <div class="d-flex flex-column gap-2 align-items-center">
                <div class="bank-info">
                  <img [src]="assetPath + '/assets/bank/' + bank.logo"  alt="{{ bank.shortName }}" class="bank-logo" />
                  <div class="bank-name">{{ bank.shortName }}</div>
                </div>
                <div class="bank-description">{{ bank.fullName }}</div>
              </div>

              <!-- Icon tick nếu được chọn -->
              <span
                *ngIf="bank.code === filterCriteria.selectedBanks"
                class="icon-check_circle_solid"
              ></span>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label class="input-label-custom">Điểm kinh doanh</label>
        <p-multiSelect class="merchant-multiSelect custom-mutil-option" [options]="merchantOptions" optionValue="merchantId"
                       optionLabel="merchantBizName" placeholder="Tất cả" filterPlaceHolder="Tìm kiếm điểm kinh doanh"
                       [filter]="true" [(ngModel)]="filterCriteria.selectedMerchants"
                       selectedItemsLabel="{0} điểm kinh doanh đang chọn"
                       emptyFilterMessage="Không tìm thấy dữ liệu"
                       (onPanelShow)="onMerchantDropdownShow()"
        >
          <ng-template let-option pTemplate="item">
            <div class="ellipsis-item" [title]="option.merchantBizName">
              {{ option.merchantBizName }}
            </div>
          </ng-template>
        </p-multiSelect>
      </div>
    </div>
  </div>
  <div *ngIf="isSearch || isFilter" class="d-flex justify-content-end mt-3">
    <p-button label="Xóa bộ lọc" class="merchant-button-tertiary me-2" (click)="onReset()" [disabled]="!checkHasSearchOrFilterData()"/>
    <p-button label="Áp dụng" class="merchant-button" (click)="onSearch()"/>
  </div>
  <div class="mt-3">
    @if (dataTable.length > 0) {
      <grid-view class="table-transaction" [isOrder]="true" [total]="totalItem" [columns]="columns"
                 [dataSource]="dataTable"
                 [action]="action" (doChangePage)="onSearch($event)" [pageInfo]="{pageSize: this.pageSize, page: this.pageIndex,}"></grid-view>
    } @else {
      <div class="col-12 text-center mt-5 p-5">
        <img [src]="assetPath + '/assets/images/grid-search-empty.png'">
        <div class="mt-4 title-l-semibold title-no-data">Không có kết quả tìm kiếm</div>
        <div class="title-s-regular summary-no-data">Vui lòng thử lại</div>
      </div>
    }

  </div>
</div>
