<div class="invoice-wrapper">
  <div class="invoice-header">
    <div class="header-left">
      <div class="header-left-title">HOÁ ĐƠN</div>
      <div>Ngày {{ data.ngayGiaoDich }}</div>
    </div>
    <div class="header-right">
      <img [src]="assetPath + '/assets/images/merchant_logo_2.svg'" alt="Merchant X Logo" class="logo">
    </div>
  </div>

  <div class="line-invoices"></div>

  <div class="payment-info">
    <div class="payment-info-title">Thông tin thanh toán</div>
    <div class="payment-info-data">
      <div class="data-title">Tên tài khoản thanh toán</div>
      <div class="data-info p-b-8px">{{ data.tenTaiKhoan }}</div>
    </div>
    <div class="payment-info-data">
      <div class="data-title">Số thẻ/tài khoản thanh toán</div>
      <div class="data-info p-b-8px">{{ data.soTheTaiKhoan }}</div>
    </div>
    <div class="payment-info-data">
      <div class="data-title">Phương thức thanh toán</div>
      <div class="data-info p-b-8px">{{ data.phuongThucThanhToan }}</div>
    </div>
    <div class="payment-info-data">
      <div class="data-title">Ngân hàng thanh toán</div>
      <div class="data-info">{{ data.nganHangThanhToan }}</div>
    </div>
  </div>

  <div class="line-invoices"></div>

  <div class="payment-info">
    <div class="payment-info-title">Thông tin giao dịch</div>
    <div class="payment-info-data">
      <div class="data-title">Điểm kinh doanh</div>
      <div class="data-info p-b-8px">{{ data.diemKinhDoanh }}</div>
    </div>
    <div class="payment-info-data">
      <div class="data-title">Mã giao dịch</div>
      <div class="data-info p-b-8px">{{ data.maGiaoDich }}</div>
    </div>
    <div class="payment-info-data">
      <div class="data-title">Mã FT giao dịch</div>
      <div class="data-info p-b-8px">{{ data.maFtGiaoDich }}</div>
    </div>
    <div class="payment-info-data">
      <div class="data-title">Mã định danh</div>
      <div class="data-info p-b-8px">{{ data.maDinhDanh }}</div>
    </div>
    <div class="payment-info-data">
      <div class="data-title">Mã đơn hàng</div>
      <div class="data-info p-b-8px">{{ data.maDonHang }}</div>
    </div>
    <div class="payment-info-data">
      <div class="data-title">Nội dung thanh toán</div>
      <div class="data-info p-b-8px">{{ data.noiDungThanhToan }}</div>
    </div>
    <div class="payment-info-data">
      <div class="data-title">Số tiền</div>
      <div class="data-info">{{ data.soTien }}</div>
    </div>
  </div>

  <div class="line-invoices"></div>

  <div class="total-section">
    <div class="total-title">TỔNG TIỀN</div>
    <div class="total-amount">{{ data.tongTien }}</div>
  </div>

  <div class="footer">
    <div class="footer-text">Cảm ơn bạn đã sử dụng dịch vụ của <span class="footer-text-mb">MB Bank</span></div>
    <img [src]="assetPath + '/assets/images/mb_logo.svg'" alt="MB Bank Logo" class="bank-logo">
  </div>
</div>
