<ul class="tree-list">
  <ng-container *ngFor="let item of data">
    <li>
      <div class="tree-node col-12 d-flex align-items-center justify-content-between gap-3" [style.paddingLeft.px]="
          item.children?.length ? level * 20 : level * 20 + 24
        " [class.active]="item.id === activeItemId" (click)="doChangeGroup(item)">

        <div class="col-9 d-flex align-items-center gap-3">
          <button class="expand-btn" *ngIf="item.children?.length" [ngClass]="[isShowCheckbox ? 'mr-3': '']"
            (click)="toggleExpand(item); $event.stopPropagation()">
            @if (item.expanded) {
            <span class="icon-angle_down"></span>
            }@else {
            <span class="icon-angle_right"></span>
            }
          </button>

          <!-- <ng-container *ngIf=" item.groupName.length > 100;else noTooltip">
            <span class="mr-3" [ngClass]="[
              item.level === 1 ? 'title-s-semibold' : 'title-s-regular'
            ]" style="white-space: nowrap" [matTooltip]="item.groupName">{{ item.groupName | slice : 0 :
              (isShowCheckbox ? 90 : 100) }}
              {{ item.groupName.length > (isShowCheckbox ? 90 : 100) ? "..." : "" }}</span>
          </ng-container>

          <ng-template #noTooltip>
            <span class="group-name text" [class]="item.level == 1 ? 'title-s-semibold' : 'title-s-regular'">{{
              item.groupName }}</span>
          </ng-template> -->

        <span
          #groupNameEl
          class="group-name text truncate-text mr-3"
          [ngClass]="item.level === 1 ? 'title-s-semibold' : 'title-s-regular'"
          [matTooltip]="showTooltip ? item.groupName : ''"
          (mouseenter)="checkTooltip(groupNameEl)">
          {{ item.groupName }}
        </span>

        </div>
        <div class="d-flex align-items-center pr-5">
          <input *ngIf="isShowCheckbox" type="checkbox" class="checkbox-custom mr-3" [checked]="item.checked === true"
            [indeterminate]="item.checked === 'partial'" id="{{ item.id }}" [disabled]="checkDisable || item.disabled"
            (change)="onCheckboxChange($event, item)" (click)="$event.stopPropagation()" />
        </div>

      </div>

      <div *ngIf="item.expanded && item.children?.length">
        <m-tree-checkbox [data]="item.children" [level]="level + 1" [isShowCheckbox]="isShowCheckbox"
          [activeItemId]="activeItemId" (groupChoice)="emitGroupChoice($event)" [checkDisable]="checkDisable"
          (groupSelect)="groupSelect.emit($event)">
        </m-tree-checkbox>
      </div>
    </li>
  </ng-container>
</ul>