<div class="box-search d-flex justify-content-betwwen align-items-center">
    <div class="title-m-semibold title">Danh sách điểm kinh doanh
        ({{dataTable.length}})</div>
        <div class="input-search">
            <form [formGroup]="formSearch">
                <div class="p-inputgroup show-icon-left">
                    <span class="p-input-icon-left">
                        <i class="icon-search input-icon"></i>
                    </span>
                    <div class="p-inputgroup">
                        <input appShowClearOnFocus=".clear-icon" type="text" pInputText class="merchant-input search" formControlName="keyWord"
                            placeholder="Tìm theo tên, địa chỉ điểm kinh doanh..." (keydown.enter)="doSearch($event)" />
                        @if(this.formSearch.get('keyWord')?.value){
                        <span class="p-input-icon-right clear-icon" (click)="clearValue('keyWord')">
                            <i class="icon-close_circle_solid input-icon input-icon-close"></i>
                        </span>
                        }
                    </div>
                </div>
            </form>
        </div>
</div>

<div *ngIf="isShowMoveMerchant && countRowChecked > 0" class="box-move-merchant d-flex gap-3 mt-4">
    <div class="border-right">Đã lựa chọn <span class="count">{{countRowChecked}}/{{dataTable.length}}</span></div>
    <div class="border-right d-flex align-items-center cursor-pointer" (click)="onDeselectAll()">
        <span class="icon icon-task_list me-1"></span> Bỏ chọn tất cả
    </div>
    <div class="d-flex align-items-center cursor-pointer" (click)="onMoveMerchant()">
        <span class="icon icon-Folder-move me-1"></span> Di chuyển đến
    </div>
</div>

<div class="table-merchant mt-4">
    <grid-view [columns]="columnsSubmerchant" [dataSource]="dataTable" [showCheckbox]="isShowCheckbox"
        (isChecked)="returnRowChecked($event)" [isShowPage]="false" [search]="isSearch"></grid-view>
</div>