@if (dataSource.length > 0) {
<div class="table-container" (scroll)="onTableScroll($event)">
  <table mat-table [dataSource]="dataSource" style="float: left;width: 100%;" matSort [fixedLayout]="true">
    <ng-container *ngIf="showRadio" matColumnDef="radio">
      <th style="width: 5%" mat-header-cell *matHeaderCellDef>
      </th>
      <td class="text-center" mat-cell *matCellDef="let item">
        <p-radioButton class="w-50 m-radio m-radio-check" [value]="item" [(ngModel)]="selectedItem"
          disabled="{{isDisabled}}" (ngModelChange)="onRadioChange($event)" (click)="$event.stopPropagation()" />
      </td>
    </ng-container>
    <ng-container *ngIf="showCheckbox" matColumnDef="checkbox">
      <th style="width: 5%" class="text-center" mat-header-cell *matHeaderCellDef>
        <mat-checkbox class="m-checkbox" [(ngModel)]="checkAll" (change)="onCheckAll($event)"
          [ngClass]="[indeterminate ? 'indeterminate' : '']" [indeterminate]=" indeterminate">
        </mat-checkbox>
      </th>
      <td class="text-center" mat-cell *matCellDef="let item">
        <mat-checkbox class="m-checkbox" [(ngModel)]="item.checked" (change)="onCheckItem($event,item)"
          (click)="$event.stopPropagation()"></mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="no" *ngIf="isOrder">
      <th style="width: 5%" class="text-center" mat-header-cell *matHeaderCellDef>
        STT
      </th>
      <td class="text-center" mat-cell *matCellDef="let item; let i = index">
        {{ pageInfo.page * pageInfo.pageSize + (i + 1) }}
      </td>
    </ng-container>
    <ng-container [matColumnDef]="column.name" *ngFor="let column of columnsView">
      <th [style.min-width]="column.options && column.options.minWidth ? column.options.minWidth : 'auto'"
        [style.width]="column.options && column.options.width ? column.options.width : 'auto'"
        [ngClass]="getHeaderClass(column)" mat-header-cell *matHeaderCellDef>
        {{ column.label }}
      </th>

      <td mat-cell *matCellDef="let item; let i = index" [ngClass]="getClassTable(item,column)">
        <span class="tooltip-anchor" matTooltip="{{ renderValue(item, column, i) }}" matTooltipPosition="above"
          appShowIfTruncated>
          <span class="text-content" [ngStyle]="{ 'white-space': isWhitespace ? 'pre' : undefined  }"
            matTooltipPosition="above" matTooltip="{{ renderValue(item, column, i) }}" appShowIfTruncated
            [innerHTML]="renderValue(item, column, i)"></span>
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="func" frozenColumns class="p-datatable-frozen-column" stickyEnd>
      <th style="width: 10%; text-align: right" mat-header-cell *matHeaderCellDef>
        TÁC VỤ
      </th>
      <td style="text-align: right" mat-cell *matCellDef="let item">
        <ul class="table-action">
          <span *ngFor="let action of action">
            <li class="text-link" *ngIf="checkDisplay(action, item)" (click)="doClickAction(action, item)">
              <span class="{{ viewIcon(action, item) }}" [pTooltip]="viewIconTooltip(action, item)"
                tooltipPosition="top" tooltipStyleClass="merchant-tooltip">
              </span>
            </li>
          </span>
        </ul>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true" class="custom-header"></tr>
    <tr mat-row *matRowDef="let row; let i = index;columns: displayedColumns" appTableHover
      [ngClass]="{'even-row': i % 2 === 0, 'odd-row': i % 2 !== 0}"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell text-center" [attr.colspan]="displayedColumns.length">
        Không có dữ liệu
      </td>
    </tr>
  </table>

</div>
<!-- <mat-paginator *ngIf="isShowPage" style="float: left;width: 100%;" [length]="total" [pageSize]="pageInfo.pageSize"
                 [pageSizeOptions]="[10, 50, 100]" [showFirstLastButtons]="true" [pageIndex]="pageInfo.page"
                 (page)="onChangePage($event)">
  </mat-paginator> -->
<div class="mt-3">
  <paginator *ngIf="isShowPage" class="paginator-table" [totalItems]="total" (doChangePage)="onChangePage($event)">
  </paginator>
</div>


} @else {
<div class="grid-empty">
  @if (search) {
  <div class="content">
    <img [src]="assetPath + '/assets/images/grid-search-empty.png'">
    <div *ngIf="!searchBusiness">
      <div class="mt-4 title-l-semibold title-no-data">Không tìm thấy kết quả</div>
      <div class="title-s-regular summary-no-data">Vui lòng thử lại hoặc tìm kiếm từ khoá khác.</div>
    </div>
  </div>
  } @else {
  <div class="content">
    <img [src]="assetPath + '/assets/images/grid-empty.png'">
  </div>
  }
</div>
}