<div class="d-flex justify-content-between modal-header">
  <h4 class="modal-title title-m-bold color-040d1f ">Cập nhật ảnh đại diện</h4>
  <span class="icon-close_large cursor-pointer" (click)="onclose()"></span>
</div>

<div class="modal-body">
  <div class="avatar-wrapper mb-4">
    <img id="avatarPreview" [src]="avatarUrl" alt="Avatar" [style.transform]="'scale(' + zoomLevel + ')'" *ngIf="(!data || isShow)"/>
    <img id="avatarPreview" [src]="'data:image/png;base64,' + data" alt="Avatar" [style.transform]="'scale(' + zoomLevel + ')'" *ngIf="(data && !isShow)"/>
  </div>
  <div *ngIf="isOver" class="d-flex align-items-center justify-content-center mb-2">
    <span class="icon-warning_solid me-2"> </span>
    <small class="paragraph-m-regular color-df7202">
      Ảnh có dung lượng vượt quá 3MB. Vui lòng chọn ảnh khác.
    </small>
  </div>
  <div class="d-flex align-items-center justify-content-center">
    <p-button label="Thay đổi ảnh"
              class="merchant-button-tertiary merchant-button-m title-s-semibold color-040d1f ic-download"
              icon="icon-download"
              (click)="fileInput.click()"
    />
    <input #fileInput type="file" (change)="onFileSelected($event)" hidden accept="image/jpeg, image/png, image/webp"/>
  </div>
  <div class="d-flex align-items-center justify-content-center mt-3">
    <span class="icon-minus_small cursor-pointer" (click)="zoomAvatar(-0.1)"></span>
    <input type="range" id="zoomRange" min="1" max="2" step="0.1" [(ngModel)]="zoomLevel" (input)="applyZoom()"
           class="mx-2"/>
    <span class="icon-plus_small cursor-pointer" (click)="zoomAvatar(0.1)"></span>
  </div>
</div>

<div class="modal-footer">
  <p-button label="Hủy" class="merchant-button-tertiary" (click)="onclose()"/>
  <p-button label="Cập nhật" class="merchant-button" [disabled]="isOver" (click)="updateAvatar()"/>
</div>
