@import "../../../../scss/mixins";
@import "../../../../scss/variables";

// #nav-bar-custom {
//     height: 100vh;

//     div.mat-accordion {
//         border: none;
//         background: red;
//     }

//     .mat-expansion-panel {
//         background: transparent !important;
//         box-shadow: none !important;
//         border: none !important;
//         margin-bottom: 0;
//     }

//     .mat-expansion-panel-header {
//         background: transparent !important;
//         border: none !important;
//         box-shadow: none !important;
//         padding: 0 24px 0 24px;
//         min-height: 44px;
//         height: 10px;
//         font-weight: 600;
//         font-size: 16px;
//         color: #222;
//         border-radius: 8px;
//         transition: background 0.2s;
//         cursor: pointer;

//         .mat-expansion-indicator {
//             margin-left: auto;
//         }

//         &:hover {
//             background: #f0f4ff !important;
//         }
//     }

//     div.mat-expansion-panel-spacing {
//         margin: 0;
//     }

//     .mat-expansion-panel-content {
//         background: transparent !important;
//         border: none !important;
//         box-shadow: none !important;
//         padding: 0;
//         background: red !important;
//     }

//     .mat-nav-list,
//     .mat-list {
//         background: transparent !important;
//         padding: 0;
//     }

//     .mat-list-item {
//         background: transparent !important;
//         border: none !important;
//         box-shadow: none !important;
//         font-size: 15px;
//         color: #222;
//         border-radius: 8px;
//         margin: 2px 0;
//         padding: 0 24px;
//         font-weight: 500;
//         min-height: 40px;
//         transition: background 0.2s, color 0.2s;
//         cursor: pointer;
//         display: flex;
//         align-items: center;

//         .icon-header {
//             margin-right: 12px;
//             font-size: 20px;
//             color: #222;
//         }

//         &:hover,
//         &.active-menu {
//             background: #e6f0ff !important;
//             color: #1976d2 !important;

//             .icon-header {
//                 color: #1976d2 !important;
//             }
//         }
//     }

//     .mat-list .mat-list-item {
//         color: #8c98a4;
//         font-weight: 400;
//         padding-left: 56px;
//         background: transparent !important;

//         .icon-header {
//             color: #000000;
//         }

//         &.active-menu {
//             background: #e6f0ff !important;
//             color: #1976d2 !important;

//             .icon-header {
//                 color: #1976d2 !important;
//             }
//         }
//     }

//     .group-title {
//         font-size: 12px;
//         font-weight: 700;
//         color: #b0b8c4;
//         text-transform: uppercase;
//         letter-spacing: 0.5px;
//         margin: 24px 0 8px 24px;
//         padding: 0;
//     }
// }

.title {
  color: #b0b8c4;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;

  *.mat-expansion-toggle-indicator-after {
    display: none;
  }
}

.active-menu {
  // background: #e6f0ff !important;
  color: #1976d2 !important;

  .icon-header {
    color: #1976d2 !important;
  }
}

.chidren-matlist {
  padding: 0 24px;
}

.chidren-matlist,
.mat-expansion-panel .mat-list-item,
.mat-expansion-panel .mat-expansion-panel-header {
  font-family: "Inter", Arial, sans-serif;
  font-size: 15px;
  color: #8c98a4;
  font-weight: 500;
  background: transparent !important;
  border-radius: 6px;
  padding-left: 32px;
}

.mat-expansion-panel .mat-expansion-panel-header {
  font-size: 15px;
  color: #222;
  font-weight: $typo-font-weights-semibold;
  padding-left: 24px;
}

.mat-expansion-panel .mat-list-item.active-menu {
  color: #1976d2 !important;
  font-weight: $typo-font-weights-semibold;
}

.mat-expansion-panel .icon-header {
  color: #8c98a4;
  font-size: 16px;
  margin-right: 12px;
}

.mat-mdc-nav-list .mat-mdc-list-item {
  height: 42px;
  border-radius: 5px;

  &:hover,
  &:focus {
    background: $color-global-blue-blue-2 !important;

    .icon-header,
    .item-nav {
      color: $color-global-blue-blue-6 !important;
      font-weight: $typo-font-weights-semibold !important;
    }
  }
}

.item-nav {
  font-family: "AvertaStdCY-Regular" !important;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
  font-size: 14px !important;
  line-height: 22px;
  color: #b0b8c4;
}

.mdc-list {
  padding: unset !important;
}

::ng-deep a.custom-list-item.selected-item {
  background-color: #e1f0ff !important;
  color: #0a53be !important;
  position: relative;
  z-index: 1;
}

.custom-list-item {
  font-family: "AvertaStdCY-Semibold";
  font-weight: $typo-font-weights-semibold;
  letter-spacing: 0;
  text-transform: none !important;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
}

.selected-item {

  .icon-header,
  .item-nav {
    color: $color-global-blue-blue-6 !important;
    font-weight: $typo-font-weights-semibold !important;
  }
}

::ng-deep a.custom-list-item.selected-item .mat-list-item-content {
  background: transparent !important;
}

::ng-deep a.custom-list-item.selected-item::before,
::ng-deep a.custom-list-item.selected-item::after {
  background: transparent !important;
  content: none !important;
}

::ng-deep a.custom-list-item.selected-item .mat-ripple-element {
  background-color: transparent !important;
  display: none !important;
}

::ng-deep .mat-expansion-panel-header {
  padding-left: 16px !important;
}

.mat-accordion .mat-expansion-panel:last-of-type {
  border-bottom-right-radius: unset !important;
  border-bottom-left-radius: unset !important;
}

.nav-bar-company {
  display: flex;
  background-color: $color-background-main;
  padding: $spacing-s;
  border-radius: $border-radius-s;
  gap: $spacing-xs;

  .logo-company {
    img {
      width: 40px;
      height: 40px;
      border-radius: 4px;
    }
  }

  .logo-company-collap {
    img {
      width: 32px;
      height: 32px;
      border-radius: 3.2px;
    }
  }

  .info-company {
    flex-direction: column;

    .color-l {
      color: $color-text-neutral-sub-2;
    }
  }
}

.paragraph-s-semibold-capital {
  font-family: "AvertaStdCY-Semibold";
  font-weight: $typo-font-weights-semibold;
  letter-spacing: 0;
  text-transform: none !important;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
}

::ng-deep .icon-header {
  margin-right: 8px;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 !important;
}

.dot-icon::before {
  content: "●";
}

.dot-icon {
  font-size: $typo-font-sizes-s !important;
  padding: 0 0 3px 5px;
  margin-right: $spacing-s;
}

:host {
  ::ng-deep {
    .sidebar-custom-v2.ant-menu {
      border-right: none;
      padding-left: $spacing-none !important;
      width: 100%;
    }

    .sidebar-custom-v2 .icon-header {
      font-size: $typo-font-sizes-xl !important;
    }

    .ant-menu-item,
    .ant-menu-submenu-title {
      height: 48px !important;
      line-height: 48px !important;
      padding-top: $spacing-none !important;
      padding-bottom: $spacing-none !important;
      display: flex;
      box-shadow: none !important;
      align-items: center;
    }

    // .ant-menu-submenu:hover>.ant-menu-submenu-title {
    //   background-color: #f0f4ff !important; // Màu nền khi hover
    //   color: #1976d2 !important; // Màu chữ
    // }

    li {
      list-style: none !important;

      &::marker {
        display: none !important;
      }

      &::before {
        display: none !important;
      }
    }

    .ant-menu {
      background-color: $color-global-neutral-white !important;
      font-size: $typo-font-sizes-m;
    }

    // Group title
    .ant-menu-item-group-title {
      color: $color-global-neutral-neutral-6 !important;
      font-weight: $typo-font-weights-semibold;
      text-transform: uppercase;
      padding-left: $spacing-m;
      font-family: $font-family-semiBold !important;
    }

    // Lv1 + lv2 item style
    .ant-menu-item,
    .ant-menu-submenu-title {
      display: flex;
      align-items: center;
      gap: $spacing-xs;
      padding: $spacing-xs $spacing-m !important;
      font-size: $typo-font-sizes-m;
      font-weight: $typo-font-weights-semibold;
      color: $color-global-neutral-neutral-12 !important;
    }

    .ant-menu .menu-item-lv2 {
      color: $color-global-neutral-neutral-6 !important;
      // padding-left: 32px !important;

      &:hover {
        background-color: $color-global-primary-primary-1 !important;
        color: $color-global-neutral-neutral-6  !important;
        border-radius: $border-radius-xs !important;
        border: none !important;

        span,
        i {
          color: $color-global-neutral-neutral-6  !important;
        }
      }

      // Khi selected
      &.ant-menu-item-selected {
        background-color: $color-global-primary-primary-2 !important;
        color: $color-global-primary-primary-6 !important;
        border-radius: $border-radius-xs !important;

        span,
        i {
          color: $color-global-primary-primary-6 !important;
        }
      }
    }

    // Hover effect
    .ant-menu-item:hover,
    .ant-menu-submenu-title:hover {
      background-color: $color-global-primary-primary-1 !important;
      color: $color-global-neutral-neutral-12 !important;
      border: none !important;
      border-radius: $border-radius-xs !important;

      .icon {
        color: $color-global-primary-primary-6 !important;
      }
    }

    // Selected item
    .ant-menu-item-selected {
      background-color: $color-global-primary-primary-2 !important;
      color: $color-global-primary-primary-6 !important;
      border-radius: $border-radius-xs !important;

      .icon {
        color: $color-global-primary-primary-6 !important;
      }
    }

    // Arrow indicator
    // .ant-menu-submenu-expand-icon,
    // .ant-menu-submenu-arrow {
    //   color: red;
    // }

    // When collapsed
    .ant-menu-inline-collapsed {
      .ant-menu-item-group-title {
        padding: unset !important;
      }

      .ant-menu-item,
      .ant-menu-submenu-title {
        justify-content: center;
      }

      .submenu-title-content {
        display: none;
      }

      .ant-menu-submenu-arrow {
        display: none !important;
      }

      .ant-menu-submenu-selected>.ant-menu-submenu-title {
        background-color: $color-global-primary-primary-2 !important;
        color: $color-global-primary-primary-6 !important;
        border-radius: $border-radius-xs !important;

        .icon {
          color: $color-global-primary-primary-6 !important;
        }
      }

    }

    .ant-menu-item-selected::after {
      border-right: none !important;
      box-shadow: none !important;
    }
  }
}

::ng-deep .cdk-overlay-pane .ant-menu-submenu-popup ul,
::ng-deep .cdk-overlay-pane .ant-menu-submenu-popup li {
  list-style: none !important;
  padding: $spacing-none !important;
  margin: $spacing-none !important;
}

::ng-deep .cdk-overlay-pane .ant-menu-submenu-popup .menu-item-lv2-header {
  gap: $spacing-xs;
  padding-left: $spacing-m !important;
  font-size: $typo-font-sizes-m;
  margin-left: $spacing-3xs !important;
  margin-bottom: 10px !important;
  font-weight: $typo-font-weights-semibold;
  color: $color-global-neutral-neutral-12 !important;

  .icon-header {
    font-size: $typo-font-sizes-2xl;
  }
}

::ng-deep .cdk-overlay-pane .ant-menu-submenu-popup .menu-item-lv2-header-ext {
  gap: $spacing-xs;
  padding-left: $spacing-m !important;
  font-size: $typo-font-sizes-m;
  margin-left: $spacing-3xs !important;
  font-weight: $typo-font-weights-semibold;
  color: $color-global-neutral-neutral-12 !important;
  height: 56px;
  border-radius: 20px !important;

  .icon-header {
    font-size: $typo-font-sizes-2xl;
  }

  .header-ext{
    margin-top: $spacing-4xs !important;
  }
}

::ng-deep .cdk-overlay-pane .ant-menu-vertical.ant-menu-sub:not([class*=-active]) {
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 8px;
}

::ng-deep .cdk-overlay-pane .ant-menu-submenu-popup li::marker,
::ng-deep .cdk-overlay-pane .ant-menu-submenu-popup li::before {
  content: none !important;
  display: none !important;
}

::ng-deep .cdk-overlay-pane .ant-menu-submenu-popup .ant-menu-item {
  height: 48px;
  padding: $spacing-xs $spacing-m !important;
  margin: $spacing-3xs !important;
  color: $color-global-neutral-neutral-6 !important;
  display: flex;
  align-items: center;
}

::ng-deep .cdk-overlay-pane .ant-menu-submenu-popup .ant-menu-item:hover
{
  background-color: $color-global-primary-primary-1 !important;
  color: $color-global-neutral-neutral-12 !important;
  border: none !important;
  border-radius: $border-radius-xs !important;
  padding: $spacing-xs $spacing-m !important;
}

::ng-deep .cdk-overlay-pane .ant-menu-submenu-popup .ant-menu-item.ant-menu-item-selected {
  background-color: $color-global-primary-primary-2 !important;
  color: $color-global-neutral-neutral-12 !important;
  border: none !important;
  border-radius: $border-radius-xs !important;
  padding: $spacing-xs $spacing-m !important;
}

::ng-deep .cdk-overlay-pane .ant-menu-submenu-popup .ant-menu-item:hover span
{
  color: $color-global-neutral-neutral-6  !important;
}

::ng-deep .cdk-overlay-pane .ant-menu-submenu-popup .ant-menu-item.ant-menu-item-selected span {
  color: $color-global-primary-primary-6 !important;
    background-color: $color-global-primary-primary-2 !important;
        // color: $color-global-primary-primary-6 !important;
}

::ng-deep .cdk-overlay-pane .ant-menu-submenu-popup {
  margin-left: $spacing-xs;
  box-shadow: $shadow-s2 !important;
  border-radius: $border-radius-s;
     font-size: $typo-font-sizes-m;
      font-weight: $typo-font-weights-semibold;
  min-width: 200px;
  background-color: $color-global-neutral-white;
}

.custom-title-header-tooltip {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: var(--font-base);
}

// ::ng-deep .cdk-overlay-pane .mat-mdc-tooltip-surface {
//   display: flex;
//   align-items: center;
//   height: 56px;
//   margin-left: 20px !important;
//   box-shadow: $shadow-s2 !important;
//   background-color: $color-global-neutral-white !important;
//   font-size: $typo-font-sizes-m !important;
//   font-weight: $typo-font-weights-semibold;
//   color: $color-global-neutral-neutral-12 !important;
// }