<div class="d-flex justify-content-between modal-header">
    <h4 class="modal-title title-m-bold">Tùy chỉnh cột hiển thị</h4>
    <span class="icon-close_large cursor-pointer" (click)="onClose()"></span>
</div>

<div class="modal-body">
    <div class="default mb-3 cursor-pointer title-s-semibold" (click)="onDefault()">Đặt về mặc định</div>
    <div class="d-flex justify-content-between">
        <div class="content">
            <div>
                <p-checkbox [(ngModel)]="checked" [binary]="true" disabled="true" class="m-checkbox me-2" />
                <label>Ngày giao dịch</label>
            </div>
            <div>
                <p-checkbox [(ngModel)]="lstChecked" class="m-checkbox me-2" value="rawTransactionCode" />
                <label>Mã giao dịch gốc</label>
            </div>
            <div>
                <p-checkbox [(ngModel)]="checked" [binary]="true" disabled="true" class="m-checkbox me-2" />
                <label>Số tiền hoàn</label>
            </div>
            <div>
              <p-checkbox [(ngModel)]="checked" [binary]="true" disabled="true" class="m-checkbox me-2" />
              <label>Mã định danh</label>
            </div>
            <div>
                <p-checkbox [(ngModel)]="lstChecked" class="m-checkbox me-2" value="refundFTCode" />
                <label>Mã FT giao dịch hoàn</label>
            </div>
            <div>
                <p-checkbox [(ngModel)]="checked" [binary]="true" disabled="true" class="m-checkbox me-2" />
                <label>Phương thức thanh toán</label>
            </div>
            <div>
              <p-checkbox [(ngModel)]="lstChecked" class="m-checkbox me-2" value="feeTransaction" />
              <label>Phí giao dịch</label>
            </div>
        </div>
        <div class="content">
            <div>
                <p-checkbox [(ngModel)]="lstChecked" class="m-checkbox me-2" value="refundTransactionCode" />
                <label>Mã giao dịch hoàn</label>
            </div>
            <div>
                <p-checkbox [(ngModel)]="checked" [binary]="true" disabled="true" class="m-checkbox me-2" />
                <label>Điểm kinh doanh</label>
            </div>
            <div>
              <p-checkbox [(ngModel)]="checked" [binary]="true" disabled="true" class="m-checkbox me-2" />
              <label>Nội dung hoàn trả</label>
            </div>
            <div>
                <p-checkbox [(ngModel)]="checked" [binary]="true" disabled="true" class="m-checkbox me-2" />
                <label>Trạng thái</label>
            </div>
            <div>
                <p-checkbox [(ngModel)]="lstChecked" class="m-checkbox me-2" value="rawFTCode" />
                <label>Mã FT giao dịch gốc</label>
            </div>
            <div>
                <p-checkbox [(ngModel)]="checked" [binary]="true" disabled="true" class="m-checkbox me-2" />
                <label>Tài khoản/thẻ thanh toán</label>
            </div>
            <div>
              <p-checkbox [(ngModel)]="lstChecked" class="m-checkbox me-2" value="vat" />
              <label>VAT</label>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <p-button label="Hủy" class="merchant-button-tertiary me-2" (click)="onClose()" />
    <p-button label="Áp dụng" class="merchant-button" (click)="doAction()" />
</div>
