<div class="d-flex justify-content-between align-items-center mb-3">
  <span class="header-m-semibold">Thêm mới nhân sự</span>
</div>
<mat-stepper
  class="step-role"
  [selectedIndex]="currentStep"
  [disableRipple]="true"
  (selectionChange)="onStepChange($event)"
  [linear]="true"
  #stepper
>
  <ng-template matStepperIcon="edit" let-index="index">
    {{ index + 1 }}
  </ng-template>
  <mat-step *ngIf="typeUpdate !== 1" label="Gán tổ chức">
    <ng-container *ngIf="typeUpdate == 2">
      <div *ngIf="userInfo?.orgType != 2" class="d-flex gap-3">
        <div
          class="col-3 organization"
          style="max-height: 60vh; overflow-y: auto"
        >
          <div class="content border-custom">
            <mat-checkbox
              *ngIf="userInfo?.orgType == 0" disabled="{{totalPointSalesSelected >0}}"
              (change)="selectMearchant($event)"
              ><span class="text title-l-semibold ellipsis ellipsis-mw-250" matTooltipPosition="above" matTooltip="{{ userInfo?.merchantName }}" appShowIfTruncated>{{ userInfo?.merchantName }}</span>
              </mat-checkbox>
            <div class="mt-3">
              <m-tree
                #mTreeComponent
                [data]="organizationSort"
                [level]="0"
                (groupChoice)="doActiveArea($event)"
                (groupSelect)="doCheckGroup($event)"
                [activeItemId]="organizationIdActive"
                [checkDisable]="totalPointSalesSelected > 0"
              ></m-tree>
            </div>
          </div>
        </div>
        <div class="col-9" style="max-height: 60vh; overflow-y: auto">
          <div *ngIf="!isSelectGroup && countSelectedPoint > 0" class="text title-s-regular mt-3">
            Bạn đang gán nhân sự vào {{ countSelectedPoint }} điểm kinh doanh
            thuộc nhóm <b>{{ activeOrganization }}</b>. Bạn có thể gán nhân sự vào các điểm kinh doanh thuộc nhóm khác.
          </div>
          <div *ngIf="isSelectGroup && countSelectedPoint > 0" class="text title-s-regular mt-3">
           Bạn đang gán nhân sự vào nhóm, đồng nghĩa nhân sự sẽ được phụ trách {{countSelectedPoint}} điểm kinh doanh thuộc nhóm đã chọn.
          </div>
          <div *ngIf="isSelectGroup && countSelectedPoint == 0" class="text text-center title-s-regular mt-3">
                <div><b>Bạn đang gán nhân sự vào nhóm</b></div>
                <div class="mt-2">Nhân sự sẽ được phụ trách tất cả điểm kinh doanh thuộc nhóm đã chọn</div>
          </div>
          <br />
          <ng-container>
            <div class="d-flex" *ngIf="isShowSearchPointSales">
              <div class="col-6 mb-4">
                <div class="p-inputgroup show-icon-left search-role me-3">
                  <span class="p-input-icon-left">
                    <i class="icon-search input-icon input-icon-default"></i>
                  </span>
                  <input type="text" pInputText class="merchant-input search" [(ngModel)]="searchOrganization" 
                    placeholder="Tìm theo tên, địa chỉ điểm kinh doanh" (keydown.enter)="getLstMerchant()"
                    (blur)="getLstMerchant()" />
                </div>
              </div>
            </div>
            <ng-container *ngIf="pointSales.length > 0">
              <grid-view
                #gridViewRef
                [columns]="columnsMerchant"
                [dataSource]="pointSales"
                [isShowPage]="false"
                [search]="true"
                (isChecked)="seletedPointSales($event)"
                [showCheckbox]="true"
                (dataChoice)="setUpMerchantIds($event)"
                style="float: left; width: 100%"
              ></grid-view>
            </ng-container>
             <ng-container *ngIf="isShowSearchPointSales && pointSales.length==0">
                <div class="content "class="content-thirdForm d-flex flex-column align-items-center  mt-5" >
                  <img [src]="assetPath + '/assets/images/grid-search-empty.png'">
                  <div class="mt-4 title-l-semibold title-no-data">Không tìm thấy điểm kinh doanh nào</div>
                  <div class="title-s-regular summary-no-data">Vui lòng thử lại với điều kiện tìm kiếm khác.</div>
                </div>
            </ng-container>
          </ng-container>
            <div class="content-thirdForm d-flex flex-column align-items-center  mt-5">
              <ng-container *ngIf="masterIdSelected != null && masterIdSelected > 0" class="text-center title-s-regular mt-3">
                <div><b>Bạn đang gán nhân sự vào doanh nghiệp.</b></div>
                <div class="mt-2">Nhân sự sẽ được phụ trách tất cả điểm kinh doanh.</div>
              </ng-container>
              <ng-container *ngIf="!isShowSearchPointSales && organizationSelected.length == 0 ">
                <div class="text-center title-s-regular mt-3">
                  <div class="gap-2">
                    <img [src]="assetPath + '/assets/images/grid-empty.png'" alt="Success" />
                    <br />
                    <div class="text title-s-regular mt-3">Bạn chưa gán nhân sự vào nhóm nào.</div>
                  </div>
                </div>
              </ng-container>
            </div>
        </div>
      </div>
      <div *ngIf="userInfo?.orgType == 2" class="d-flex gap-3">
        <div class="col-12" style="max-height: 80vh; overflow-y: auto">
          <div *ngIf="countSelectedPoint > 0" class="text title-s-regular mt-3">
            Bạn đang gán nhân sự vào {{ countSelectedPoint }} điểm kinh doanh.
          </div>
          <br />
          <ng-container *ngIf="pointSales.length > 0">
            <div class="d-flex">
              <div class="col-6 mb-4">
                <div class="p-inputgroup show-icon-left search-role me-3">
                  <span class="p-input-icon-left">
                    <i class="icon-search input-icon input-icon-default"></i>
                  </span>
                  <input
                    type="text"
                    pInputText
                    class="merchant-input search"
                    [(ngModel)]="searchOrganization"
                    placeholder="Tìm theo tên, địa chỉ điểm kinh doanh"
                    (keydown.enter)="getLstMerchant()"
                    (blur)="getLstMerchant()"
                  />
                </div>
              </div>
            </div>
            </ng-container>
          <ng-container *ngIf="pointSales.length > 0;else noPointSales">
            <grid-view
              #gridViewRef
              [columns]="columnsMerchant"
              [dataSource]="pointSales"
              [isShowPage]="false"
              [search]="true"
              [showCheckbox]="true"
              (dataChoice)="setUpMerchantIds($event)"
              style="float: left; width: 100%"
            ></grid-view>
          </ng-container>
           <ng-template #noPointSales>
                <div class="content "class="content-thirdForm d-flex flex-column align-items-center  mt-5" >
                  <img [src]="assetPath + '/assets/images/grid-search-empty.png'">
                  <div class="mt-4 title-l-semibold title-no-data">Không tìm thấy điểm kinh doanh nào</div>
                  <div class="title-s-regular summary-no-data">Vui lòng thử lại với điều kiện tìm kiếm khác.</div>
                </div>
            </ng-template>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="typeUpdate == 0">
      <div class="d-flex gap-3">
        <div
          class="col-12 organization"
          style="max-height: 60vh; overflow-y: auto"
        >
          <div class="content" style="padding: 0 45px 0 45px">
            <div class="paragraph-m-regular mb-spacing-l text title-s-regular mt-3">
              Vui lòng chọn 1 điểm kinh doanh để gán cho nhân sự, hoặc gán trực
              tiếp vào doanh nghiệp. Khi gán vào doanh nghiệp, nhân sự sẽ được
              phụ trách tất cả điểm kinh doanh.
            </div>

            <div class="paragraph-m-regular mb-spacing-l mt-2 text title-s-regular mt-3">Nếu bạn muốn gán nhân sự vào 2 điểm kinh doanh trở lên,
              vui
              lòng tạo nhóm. 
            <b class="text title-s-regular mt-3 no-underline"
                (click)="openCreateGroups()"
              >
                Tạo nhóm mới <span class="icon-arrow_right"></span>
              </b>
            </div>

            <div class="d-flex mt-3">
              <div class="d-flex align-items-center gap-2">
                <p-radioButton
                  class="m-radio m-radio-check"
                  [value]="userInfo?.merchantId"
                  name="radioOrganization"
                  [(ngModel)]="masterIdSelected"
                  (ngModelChange)="onRadioChange($event)"
                  (click)="$event.stopPropagation()"
                />
                <span class="text ellipsis ellipsis-mw-500" matTooltipPosition="above" matTooltip="{{ userInfo?.merchantName }}" appShowIfTruncated
                  ><b
                    >Gán vào doanh nghiệp: {{ userInfo?.merchantName }}</b
                  ></span
                >
              </div>
            </div>

            <div class="d-flex mt-3">
              <div class="d-flex align-items-center gap-2">
                <p-radioButton
                  class="m-radio m-radio-check"
                  [value]=""
                  name="radioOrganization"
                  [(ngModel)]="masterIdSelected"
                  (ngModelChange)="onRadioChange($event)"
                  (click)="$event.stopPropagation()"
                />
                <span><b class="text mw-160" >Gán vào 1 điểm kinh doanh</b></span>
              </div>
            </div>
            <br />
            <div class="d-flex" *ngIf="!masterIdSelected">
              <div class="col-6 mb-4">
                <div class="p-inputgroup show-icon-left search-role me-3">
                  <span class="p-input-icon-left">
                    <i class="icon-search input-icon input-icon-default"></i>
                  </span>
                  <input
                    type="text"
                    pInputText
                    class="merchant-input search"
                    [(ngModel)]="searchOrganization"
                    placeholder="Tìm theo tên, địa chỉ điểm kinh doanh"
                    (keydown.enter)="getLstMerchant()"
                    (blur)="getLstMerchant()"
                  />
                </div>
              </div>
            </div>
             <ng-container *ngIf="pointSales.length > 0;else noPointSales">
              <grid-view
                #gridViewRef
                [columns]="columnsMerchant"
                [dataSource]="pointSales"
                [isShowPage]="false"
                [search]="true"
                [showRadio]="!masterIdSelected"
                (selectedItemChange)="radioSetUpMerchantIds($event)"
                style="float: left; width: 100%"
              ></grid-view>
            </ng-container>
            <ng-template #noPointSales>
                <div class="content "class="content-thirdForm d-flex flex-column align-items-center  mt-5" >
                  <img [src]="assetPath + '/assets/images/grid-search-empty.png'">
                  <div class="mt-4 title-l-semibold title-no-data">Không tìm thấy điểm kinh doanh nào</div>
                  <div class="title-s-regular summary-no-data">Vui lòng thử lại với điều kiện tìm kiếm khác.</div>
                </div>
            </ng-template>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="div-button">
      <p-button
        label="Hủy"
        class="merchant-button-tertiary me-2"
        (click)="onCancel()"
      />
      <button
        mat-button
        [disabled]="
          !masterIdSelected &&
          totalPointSalesSelected == 0 &&
          organizationSelected.length === 0
        "
        (click)="doNextStep(1)"
        class="merchant-button-material"
      >
        Tiếp tục
      </button>
    </div>
  </mat-step>

  <mat-step label="Gán vai trò" >
    <div style="padding: 0 150px ">
      <div>
        <p class="title-s-regular color-040d1f">
          Vui lòng chọn 1 vai trò để gán cho nhân sự.
        </p>
      </div>
      <div class="col-12 d-flex justify-content-end mt-4">
        <grid-view
          [columns]="columns"
          [dataSource]="roles"
          (selectedItemChange)="setRoleId($event)"
          [search]="isSearch"
          [showRadio]="true"
          [isShowPage]="false"
          style="float: left; width: 100%"
          (isDisabled)="(false)"
          [selectedItem]="getSelectedItemForRadio()"
        ></grid-view>
      </div>
    </div>
    <div class="div-button">
      <p-button
        [label]="typeUpdate == 1 ? 'Hủy' : 'Quay lại'"
        class="merchant-button-tertiary me-2"
        (click)="doPreStep()"
      />
      <button
        [disabled]="!roleId"
        mat-button
        (click)="doNextStep()"
        class="merchant-button-material"
      >
        Tiếp tục
      </button>
    </div>
  </mat-step>
  <mat-step label="Nhập thông tin" [stepControl]="formInfo">
    <form [formGroup]="formInfo">
      <div class="content-first">
        <div class="row">
          <div class="col-6 mb-4">
            <label class="form-label title-m-semibold"
              >Họ và tên <span class="required">*</span></label
            >
            <div class="p-inputgroup">
              <input
                type="text"
                pInputText
                class="merchant-input"
                formControlName="fullName"
                placeholder="Nhập họ và tên"
                (blur)="trimValue('fullName')"
              />
              <span
                *ngIf="formInfo.get('fullName')?.value"
                class="p-input-icon-right clear-icon"
                (click)="clearValue('fullName')"
              >
                <i
                  class="icon-close_circle_solid input-icon input-icon-close"
                ></i>
              </span>
            </div>
            <div
              *ngIf="
                formInfo.controls['fullName'].touched &&
                formInfo.controls['fullName'].invalid
              "
              class="m-caption error"
            >
              <div class="icon-caption">
                <span class="icon-error_solid"></span>
              </div>
              <span
                *ngIf="formInfo.controls['fullName'].hasError('required')"
                class="text-caption paragraph-m-regular"
                >Vui lòng nhập họ và tên của nhân sự</span
              >
              <span
                *ngIf="formInfo.controls['fullName'].hasError('maxlength')"
                class="text-caption paragraph-m-regular"
                >Tối đa 50 ký tự</span
              >
            </div>
          </div>
          <div class="col-6 mb-4">
            <label class="form-label title-m-semibold">Email</label>
            <div class="p-inputgroup">
              <input
                maxlength="50"
                type="text"
                pInputText
                id="email"
                class="merchant-input"
                formControlName="emailChange"
                placeholder="name@company.com"
                (blur)="trimValue('emailChange')"
                (keypress)="allowPattern($event)"
              />
              <span
                *ngIf="formInfo.get('emailChange')?.value"
                class="p-input-icon-right clear-icon"
                (click)="clearValue('emailChange')"
              >
                <i
                  class="icon-close_circle_solid input-icon input-icon-close"
                ></i>
              </span>
            </div>
            <div
              *ngIf="
                (formInfo.controls['emailChange'].dirty ||
                  formInfo.controls['emailChange'].touched) &&
                formInfo.controls['emailChange'].invalid
              "
              class="m-caption error"
            >
              <div class="icon-caption">
                <span class="icon-error_solid"></span>
              </div>
              <div
                *ngIf="
                  !formInfo.controls['emailChange'].hasError('required') &&
                  formInfo.controls['emailChange'].hasError('pattern')
                "
                class="text-caption paragraph-m-regular"
              >
                Email không đúng định dạng
              </div>
              <div
                *ngIf="
                  !formInfo.controls['emailChange'].hasError('required') &&
                  !formInfo.controls['emailChange'].hasError('pattern') &&
                  formInfo.controls['emailChange'].hasError('maxlength')
                "
                class="text-caption paragraph-m-regular"
              >
                Vui lòng không nhập quá 50 kí tự
              </div>
              <div
                *ngIf="
                  !formInfo.controls['emailChange'].hasError('required') &&
                  !formInfo.controls['emailChange'].hasError('pattern') &&
                  !formInfo.controls['emailChange'].hasError('maxlength') &&
                  formInfo.controls['emailChange'].hasError('emailExist')
                "
                class="text-caption paragraph-m-regular"
              >
                Email đã tồn tại
              </div>
              <div
                *ngIf="
                  !formInfo.controls['emailChange'].hasError('required') &&
                  !formInfo.controls['emailChange'].hasError('pattern') &&
                  !formInfo.controls['emailChange'].hasError('maxlength') &&
                  !formInfo.controls['emailChange'].hasError('emailExist') &&
                  formInfo.controls['emailChange']?.hasError('localPartLength')
                "
                class="text-caption paragraph-m-regular"
              >
                Phần trước &#64; phải từ 4 đến 64 ký tự.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 mb-4">
            <label class="form-label title-m-semibold">Số điện thoại</label>
            <div class="p-inputgroup">
              <input
                type="text"
                pInputText
                class="merchant-input"
                formControlName="phoneNumber"
                placeholder="Nhập số điện thoại"
                (blur)="trimValue('phoneNumber')"
              />
              <span
                *ngIf="formInfo.get('phoneNumber')?.value"
                class="p-input-icon-right clear-icon"
                (click)="clearValue('phoneNumber')"
              >
                <i
                  class="icon-close_circle_solid input-icon input-icon-close"
                ></i>
              </span>
            </div>
            <div
              *ngIf="
                (formInfo.controls['phoneNumber'].dirty ||
                  formInfo.controls['phoneNumber'].touched) &&
                formInfo.controls['phoneNumber'].invalid
              "
              class="m-caption error"
            >
              <div class="icon-caption">
                <span class="icon-error_solid"></span>
              </div>
              <span
                *ngIf="formInfo.controls['phoneNumber'].hasError('pattern')"
                class="text-caption paragraph-m-regular"
                >Số điện thoại không hợp lệ</span
              >
              <span
                *ngIf="
                  formInfo.controls['phoneNumber'].hasError('phoneNumberExist')
                "
                class="text-caption paragraph-m-regular"
                >Số điện thoại đã tồn tại</span
              >
            </div>
          </div>
          <div class="col-6 mb-4">
            <label class="form-label title-m-semibold">Ngày sinh</label>
            <div class="p-inputgroup">
              <p-calendar
                formControlName="dateOfBirth"
                [iconDisplay]="'input'"
                [showIcon]="true"
                [appendTo]="'body'"
                [dateFormat]="'dd/mm/yy'"
                [readonlyInput]="true"
                placeholder="DD/MM/YYYY"
                [maxDate]="maxDate"
              >
                <ng-template
                  pTemplate="inputicon"
                  let-clickCallBack="clickCallBack"
                >
                  <span
                    class="calendar-icon-wrapper"
                    (click)="clickCallBack($event)"
                  >
                    <i class="icon-calendar pointer-events-none"></i>
                  </span>
                </ng-template>
              </p-calendar>
              <span
                *ngIf="formInfo.get('dateOfBirth')?.value"
                class="p-input-icon-right clear-icon r-25"
                (click)="clearValue('dateOfBirth')"
              >
                <i
                  class="icon-close_circle_solid input-icon input-icon-close"
                ></i>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 mb-4">
            <label class="form-label title-m-semibold"
              >Tên đăng nhập <span class="required">*</span></label
            >
            <div class="p-inputgroup">
              <input
                appShowClearOnFocus=".clear-icon"
                type="text"
                pInputText
                id="userName"
                class="merchant-input"
                formControlName="userName"
                placeholder="Nhập tên đăng nhập"
                (blur)="trimValue('userName')"
                  (keypress)="allowPattern($event)"
              />
              <span
                *ngIf="formInfo.get('userName')?.value"
                class="p-input-icon-right clear-icon"
                (click)="clearValue('userName')"
              >
                <i
                  class="icon-close_circle_solid input-icon input-icon-close"
                ></i>
              </span>
            </div>
            <div
              *ngIf="
                formInfo.controls['userName'].touched &&
                formInfo.controls['userName'].invalid
              "
              class="m-caption error"
            >
              <div class="icon-caption">
                <span class="icon-error_solid"></span>
              </div>
              <span
                *ngIf="formInfo.controls['userName'].hasError('required')"
                class="text-caption paragraph-m-regular"
                >Vui lòng nhập tên đăng nhập của nhân sự</span
              >
              <span
                *ngIf="formInfo.controls['userName'].hasError('maxlength')"
                class="text-caption paragraph-m-regular"
                >Vui lòng không nhập quá 50 kí tự</span
              >
              <span
                *ngIf="formInfo.controls['userName'].hasError('userNameExist')"
                class="text-caption paragraph-m-regular"
                >Tên đăng nhập đã tồn tại</span
              >
              <span
                *ngIf="formInfo.controls['userName'].hasError('pattern')"
                class="text-caption paragraph-m-regular"
                >Tên đăng nhập không đúng định dạng</span
              >
            </div>
          </div>
          <div class="col-34 mb-4">
            <label class="form-label title-m-semibold"
              >Mật khẩu <span class="required">*</span></label
            >
            <div class="p-inputgroup show-icon-right">
              <input
                class="merchant-input"
                formControlName="userPass"
                pInputText
                [readOnly]="true"
                placeholder="Mật khẩu sẽ xuất hiện tại đây"
              />
              <span
                class="p-input-icon-right clear-icon"
                (click)="this.copyPassword()"
              >
                <i class="icon-copy input-icon input-icon-default"></i>
              </span>
            </div>
            <div
              *ngIf="
                formInfo.controls['userPass'].touched &&
                formInfo.controls['userPass'].invalid
              "
              class="m-caption error"
            >
              <div class="icon-caption">
                <span class="icon-error_solid"></span>
              </div>
              <span
                *ngIf="formInfo.controls['userPass'].hasError('required')"
                class="text-caption paragraph-m-regular"
                >Vui lòng nhập thông tin</span
              >
            </div>
          </div>
          <label
            class="col-16 create-pass m-0 title-s-semibold"
            (click)="createPassword()"
            >Tạo mật khẩu</label
          >
        </div>
        <div
          *ngIf="formInfo.controls['userPass'].value"
          class="m-caption error"
        >
          <div class="icon-caption">
            <span class="icon-error_solid"></span>
          </div>
          <span class="text-caption paragraph-s-regular"
            >Bạn vui lòng sao chép mật khẩu, vì lý do bảo mật thông tin, mật
            khẩu sẽ không bao giờ hiển thị lại.</span
          >
        </div>
      </div>
      <div class="div-button">
        <p-button label="Quay lại" class="merchant-button-tertiary me-2" (click)="doPreStep()" />
        <button [disabled]="this.formInfo.invalid" mat-button (click)="createHr()" class="merchant-button-material">
          Thêm mới
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step label="Hoàn tất">
    <div
      class="content-thirdForm d-flex flex-column align-items-center header-xs-bold mt-5"
    >
      <ng-container *ngIf="isSuccess === 1">
        <img
          [src]="assetPath + '/assets/images/image-success.svg'"
          alt="Success"
        />
        <div class="mt-3">Thêm mới nhân sự thành công</div>
        <div *ngIf="!isHaveEmail" class="text title-s-regular mt-3">
          Hãy gửi thông tin đăng nhập để nhân sự truy cập vào hệ thống.
        </div>
        <div *ngIf="isHaveEmail" class="text text-center title-s-regular mt-3">
          <span>
            Hãy gửi thông tin đăng nhập hoặc thông báo nhân sự kiểm tra</span
          ><br />
          <span>email để lấy thông tin truy cập vào hệ thống.</span>
        </div>
        <a [href]="assetPath + '/hr'" class="mt-3">
          <p-button label="Về trang quản lý" class="merchant-button mt-4" />
        </a>
      </ng-container>

      <ng-container *ngIf="isSuccess === 0">
        <img [src]="assetPath + '/assets/images/image-false.svg'" alt="False" />
        <div class="mt-3">Thêm mới nhân sự không thành công</div>
        <div class="text title-s-regular mt-3">
          Đã có lỗi xảy ra. Vui lòng thử lại.
        </div>
        <a [href]="assetPath + '/hr/hr-create'" class="mt-3">
          <p-button label="Thử lại" class="merchant-button mt-4" />
        </a>
        <a [href]="assetPath + '/hr'" class="mt-3">
          <p-button
            label="Về trang quản lý"
            class="merchant-button-tertiary mt-4"
          />
        </a>
      </ng-container>
    </div>
  </mat-step>
</mat-stepper>
