<div class="d-flex justify-content-between align-items-center mb-3">
  <span class="header-m-semibold">Thêm mới nhân sự</span>
</div>
<div class="stepper-wrapper">
  <mat-stepper class="step-role" [selectedIndex]="currentStep" [disableRipple]="true"
    (selectionChange)="onStepChange($event)" [linear]="true" #stepper>
    <ng-template matStepperIcon="edit" let-index="index">
      {{ index + 1 }}
    </ng-template>

    <ng-container *ngIf="!(this.userInfo.isConfig == 1 && this.userInfo.orgType === 2 && this.pointSalesInitFirt.length === 1) 
        && !(this.userInfo.isConfig == 0 && this.userInfo.orgType === 2 && this.pointSalesInitFirt.length === 1)
        && !(this.userInfo.isConfig == 0 && this.userInfo.orgType === 0 && this.pointSalesInitFirt.length === 0)">
      <mat-step label="Gán tổ chức">
        <div class="row step-content">
          <div class="col-2"></div>
          <div class="col-9">
            <div>
              <ng-container *ngIf="userInfo.isConfig === 0">
                <!-- isconfig = 0, org =0, pointsalse > 0 -->
                <ng-container *ngIf="userInfo.orgType === 0 && pointSalesInitFirt.length > 0">
                  <div>
                    <div class="paragraph-m-regular mb-spacing-l text title-s-regular mt-3">
                      Vui lòng chọn 1 điểm kinh doanh để gán cho nhân sự, hoặc gán trực tiếp vào doanh nghiệp. Khi gán
                      vào
                      doanh nghiệp, nhân sự sẽ được phụ trách tất cả điểm kinh doanh.
                    </div>

                    <div *hasRoles="[MERCHANT_RULES.ORGANIZATION_CREATE]" class="paragraph-m-regular mb-spacing-l mt-2 text title-s-regular">Nếu bạn muốn gán nhân sự
                      vào 2
                      điểm kinh doanh trở lên,
                      vui
                      lòng tạo nhóm.
                      <b class="text title-s-regular mt-3 no-underline cursor-pointer" (click)="openCreateGroups()">
                        Tạo nhóm mới <span class="icon-arrow_right"></span>
                      </b>
                    </div>
                  </div>
                  <div class="col-12 d-flex mt-3">
                    <div class="d-flex align-items-center gap-2">
                      <p-radioButton class="m-radio m-radio-check" [value]="'0'" name="radioOrganization"
                        [(ngModel)]="selectedValue" (ngModelChange)="onRadioChange($event)"
                        (click)="$event.stopPropagation()" />
                      <span class="title-s-semibold"><b>Gán vào doanh nghiệp: {{
                          userInfo?.merchantName }}</b></span>
                    </div>
                  </div>

                  <div class="col-12 d-flex mt-3">
                    <div class="d-flex align-items-center gap-2">
                      <p-radioButton class="m-radio m-radio-check" [value]="'2'" name="radioOrganization"
                        [(ngModel)]="selectedValue" (ngModelChange)="onRadioChange($event)"
                        (click)="$event.stopPropagation()" />
                      <span class="title-s-semibold"><b>Gán vào 1 điểm kinh doanh</b></span>
                    </div>
                  </div>
                </ng-container>

                <!-- component view data -->
                <div *ngIf="orgTypeInput === 2">
                  <ng-container *ngTemplateOutlet="merchantRadio"></ng-container>
                </div>

                <!-- <div *ngIf="userInfo.orgType === 2 && pointSales.length === 1">
                <ng-container *ngTemplateOutlet="noAssignMerchant"></ng-container>
              </div> -->

                <!-- <div *ngIf="userInfo.orgType === 0 && pointSales.length === 0">
                <ng-container *ngTemplateOutlet="noAssignMerchant"></ng-container>
              </div> -->
              </ng-container>

              <ng-container *ngIf="userInfo.isConfig === 1">
                <ng-container
                  *ngIf="!(userInfo.orgType === 2 && pointSales.length === 1) 
                                    && !(userInfo.isConfig === 1 && userInfo.orgType === 2 && pointSalesInitFirt.length > 1)">
                  <div class="paragraph-m-regular mb-spacing-s">
                    Vui lòng chọn tổ chức để gán cho nhân sự.
                  </div>

                  <ng-container *ngIf="userInfo.orgType === 0">
                    <div class="paragraph-m-regular mb-spacing-l text title-s-regular">
                      Khi gán vào doanh nghiệp, nhân sự sẽ phụ trách tất cả nhóm và điểm kinh doanh.
                    </div>
                  </ng-container>
                  <ng-container *ngIf="userInfo.orgType === 0 || userInfo.orgType === 1">
                    <div class="paragraph-m-regular mb-spacing-l text title-s-regular">
                      Khi gán vào nhóm, nhân sự sẽ phụ trách tất cả điểm kinh doanh thuộc nhóm.
                    </div>
                  </ng-container>
                  <ng-container *ngIf="userInfo.orgType === 0 || userInfo.orgType === 1">
                    <div class="paragraph-m-regular mb-spacing-l text title-s-regular">
                      Hoặc gán vào điểm kinh doanh để nhân sự phụ trách trực tiếp các điểm kinh doanh theo lựa chọn.
                    </div>
                  </ng-container>
                </ng-container>

                <ng-container
                  *ngIf="userInfo.isConfig === 1 && userInfo.orgType === 2 && pointSalesInitFirt.length > 1">
                  <div class="paragraph-m-regular mb-spacing-s">
                    Bạn đang gán nhân sự vào <b>{{ totalPointSalesSelected }}</b> điểm kinh doanh.
                  </div>
                </ng-container>


                <!-- isconfig = 0 -->
                <ng-container *ngIf="userInfo.orgType === 0">
                  <div class="col-12 d-flex mt-3">
                    <div class="d-flex align-items-center gap-2">
                      <p-radioButton class="m-radio m-radio-check" [value]="'0'" name="radioOrganization"
                        [(ngModel)]="selectedValue" (ngModelChange)="onRadioChange($event)"
                        (click)="$event.stopPropagation()" />
                      <span class="title-s-semibold"><b>Gán vào doanh nghiệp: {{
                          userInfo?.merchantName }}</b></span>
                    </div>
                  </div>
                </ng-container>

                <ng-container *ngIf="userInfo.orgType === 0 || userInfo.orgType === 1">
                  <div class="col-12 d-flex mt-3">
                    <div class="d-flex align-items-center gap-2">
                      <p-radioButton class="m-radio m-radio-check" [value]="'1'" name="radioOrganization"
                        [(ngModel)]="selectedValue" (ngModelChange)="onRadioChange($event)"
                        (click)="$event.stopPropagation()" />
                      <span class="title-s-semibold"><b>Gán vào nhóm</b></span>
                    </div>
                  </div>

                  <!-- <div class="col-12 d-flex mt-3">
                    <div class="d-flex align-items-center gap-2">
                      <p-radioButton class="m-radio m-radio-check" [value]="'2'" name="radioOrganization"
                        [(ngModel)]="selectedValue" (ngModelChange)="onRadioChange($event)"
                        (click)="$event.stopPropagation()" />
                      <span class="title-s-semibold"><b>Gán vào điểm kinh doanh</b></span>
                    </div>
                  </div> -->
                </ng-container>

                <ng-container *ngIf="userInfo.orgType === 0 || userInfo.orgType === 1">
                  <div class="col-12 d-flex mt-3">
                    <div class="d-flex align-items-center gap-2">
                      <p-radioButton class="m-radio m-radio-check" [value]="'2'" name="radioOrganization"
                        [(ngModel)]="selectedValue" (ngModelChange)="onRadioChange($event)"
                        (click)="$event.stopPropagation()" />
                      <span class="title-s-semibold"><b>Gán vào điểm kinh doanh</b></span>
                    </div>
                  </div>
                </ng-container>

                <!-- component view data -->
                <div *ngIf="orgTypeInput === 1">
                  <ng-container *ngTemplateOutlet="group"></ng-container>
                </div>

                <div *ngIf="orgTypeInput === 2">
                  <ng-container *ngTemplateOutlet="merchantCheckbox"></ng-container>
                </div>

                <!-- <div *ngIf="userInfo.orgType === 2 && pointSales.length === 1">
                <ng-container *ngTemplateOutlet="noAssignMerchant"></ng-container>
              </div> -->

              </ng-container>
            </div>
          </div>
        </div>
        <div class="col-1"></div>
      </mat-step>
    </ng-container>


    <mat-step label="Gán vai trò">
      <div style="padding: 0 150px ">
        <div>
          <p class="title-s-regular color-040d1f">
            Vui lòng chọn 1 vai trò để gán cho nhân sự.
          </p>
        </div>
        <div class="col-12 d-flex justify-content-end mt-4">
          <grid-view [columns]="columns" [dataSource]="roles" (selectedItemChange)="setRoleId($event)"
            [search]="isSearch" [showRadio]="true" [isShowPage]="false" style="float: left; width: 100%"
            (isDisabled)="(false)" [selectedItem]="getSelectedItemForRadio()"></grid-view>
        </div>
      </div>
      <!-- <div class="div-button">
        <p-button [label]="typeUpdate == 1 ? 'Hủy' : 'Quay lại'" class="merchant-button-tertiary me-2"
          (click)="doPreStep()" />
        <button [disabled]="!roleId" mat-button (click)="doNextStep()" class="merchant-button-material">
          Tiếp tục
        </button>
      </div> -->
    </mat-step>
    <mat-step label="Nhập thông tin" [stepControl]="formInfo">
      <form [formGroup]="formInfo">
        <div class="content-first">
          <div class="row">
            <div class="col-6 mb-4">
              <label class="form-label title-m-semibold">Họ và tên <span class="required">*</span></label>
              <div class="p-inputgroup">
                <input type="text" pInputText maxlength="50" id="fullName" class="merchant-input" formControlName="fullName"
                  placeholder="Nhập họ và tên" (blur)="trimValue('fullName')" (keypress)="allowPattern($event)" />
                <span *ngIf="formInfo.get('fullName')?.value" class="p-input-icon-right clear-icon"
                  (click)="clearValue('fullName')">
                  <i class="icon-close_circle_solid input-icon input-icon-close"></i>
                </span>
              </div>
              <div *ngIf="
              (formInfo.controls['fullName'].dirty ||
                formInfo.controls['fullName'].touched) &&
                formInfo.controls['fullName'].invalid
              " class="m-caption error">
                <div class="icon-caption">
                  <span class="icon-error_solid"></span>
                </div>
                <span *ngIf="formInfo.controls['fullName'].hasError('required')"
                  class="text-caption paragraph-m-regular">Vui lòng nhập họ và tên của nhân sự</span>
                <span *ngIf="formInfo.controls['fullName'].hasError('maxlength')"
                  class="text-caption paragraph-m-regular">Tối đa 50 ký tự</span>
                <span *ngIf="formInfo.controls['fullName'].hasError('pattern')"
                  class="text-caption paragraph-m-regular">Họ và tên không đúng định dạng</span>

              </div>
            </div>
            <div class="col-6 mb-4">
              <label class="form-label title-m-semibold">Email</label>
              <div class="p-inputgroup">
                <input type="text" maxlength="254" pInputText id="email" class="merchant-input"
                  formControlName="emailChange" placeholder="name@company.com" (blur)="trimValue('emailChange')"
                  (keypress)="allowPattern($event)" />
                <span *ngIf="formInfo.get('emailChange')?.value" class="p-input-icon-right clear-icon"
                  (click)="clearValue('emailChange')">
                  <i class="icon-close_circle_solid input-icon input-icon-close"></i>
                </span>
              </div>
              <div *ngIf="
                (formInfo.controls['emailChange'].dirty ||
                  formInfo.controls['emailChange'].touched) &&
                formInfo.controls['emailChange'].invalid
              " class="m-caption error">
                <div class="icon-caption">
                  <span class="icon-error_solid"></span>
                </div>
                <div *ngIf="
                  !formInfo.controls['emailChange'].hasError('required') &&
                  formInfo.controls['emailChange'].hasError('pattern')
                " class="text-caption paragraph-m-regular">
                  Email không đúng định dạng
                </div>
                <div *ngIf="
                  !formInfo.controls['emailChange'].hasError('required') &&
                  !formInfo.controls['emailChange'].hasError('pattern') &&
                  formInfo.controls['emailChange'].hasError('maxlength')
                " class="text-caption paragraph-m-regular">
                  Vui lòng không nhập quá 254 kí tự
                </div>
                <div *ngIf="
                  !formInfo.controls['emailChange'].hasError('required') &&
                  !formInfo.controls['emailChange'].hasError('pattern') &&
                  !formInfo.controls['emailChange'].hasError('maxlength') &&
                  formInfo.controls['emailChange'].hasError('emailExist')
                " class="text-caption paragraph-m-regular">
                  Email đã tồn tại
                </div>
                <div *ngIf="
                  !formInfo.controls['emailChange'].hasError('required') &&
                  !formInfo.controls['emailChange'].hasError('pattern') &&
                  !formInfo.controls['emailChange'].hasError('maxlength') &&
                  !formInfo.controls['emailChange'].hasError('emailExist') &&
                  formInfo.controls['emailChange']?.hasError('localPartLength')
                " class="text-caption paragraph-m-regular">
                  Phần trước &#64; phải từ 4 đến 64 ký tự.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 mb-4">
              <label class="form-label title-m-semibold">Số điện thoại</label>
              <div class="p-inputgroup">
                <input type="text" pInputText class="merchant-input" formControlName="phoneNumber"
                  placeholder="Nhập số điện thoại" (blur)="trimValue('phoneNumber')" />
                <span *ngIf="formInfo.get('phoneNumber')?.value" class="p-input-icon-right clear-icon"
                  (click)="clearValue('phoneNumber')">
                  <i class="icon-close_circle_solid input-icon input-icon-close"></i>
                </span>
              </div>
              <div *ngIf="
                (formInfo.controls['phoneNumber'].dirty ||
                  formInfo.controls['phoneNumber'].touched) &&
                formInfo.controls['phoneNumber'].invalid
              " class="m-caption error">
                <div class="icon-caption">
                  <span class="icon-error_solid"></span>
                </div>
                <span *ngIf="formInfo.controls['phoneNumber'].hasError('pattern')"
                  class="text-caption paragraph-m-regular">Số điện thoại không đúng định dạng</span>
                <span *ngIf="
                  formInfo.controls['phoneNumber'].hasError('phoneNumberExist')
                " class="text-caption paragraph-m-regular">Số điện thoại đã tồn tại</span>
              </div>
            </div>
            <div class="col-6 mb-4">
              <label class="form-label title-m-semibold">Ngày sinh</label>
              <div class="p-inputgroup">
                <p-calendar formControlName="dateOfBirth" [iconDisplay]="'input'" [showIcon]="true" [appendTo]="'body'"
                  [dateFormat]="'dd/mm/yy'" [readonlyInput]="true" placeholder="DD/MM/YYYY" [maxDate]="maxDate">
                  <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
                    <span class="calendar-icon-wrapper" (click)="clickCallBack($event)">
                      <i class="icon-calendar pointer-events-none"></i>
                    </span>
                  </ng-template>
                </p-calendar>
                <span *ngIf="formInfo.get('dateOfBirth')?.value" class="p-input-icon-right clear-icon r-25"
                  (click)="clearValue('dateOfBirth')">
                  <i class="icon-close_circle_solid input-icon input-icon-close"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 mb-4">
              <label class="form-label title-m-semibold">Tên đăng nhập <span class="required">*</span></label>
              <div class="p-inputgroup">
                <input type="text" pInputText maxlength="100" id="userName"
                  class="merchant-input" formControlName="userName" placeholder="Nhập tên đăng nhập"
                  (blur)="trimValue('userName')" (keypress)="allowPattern($event)" />
                <span *ngIf="formInfo.get('userName')?.value" class="p-input-icon-right clear-icon"
                  (click)="clearValue('userName')">
                  <i class="icon-close_circle_solid input-icon input-icon-close"></i>
                </span>
              </div>
              <div *ngIf="
                (formInfo.controls['userName'].dirty ||
                formInfo.controls['userName'].touched) &&
                formInfo.controls['userName'].invalid
              " class="m-caption error">
                <div class="icon-caption">
                  <span class="icon-error_solid"></span>
                </div>
                <span *ngIf="formInfo.controls['userName'].hasError('required')"
                  class="text-caption paragraph-m-regular">Vui lòng nhập tên đăng nhập của nhân sự</span>
                <span *ngIf="formInfo.controls['userName'].hasError('maxlength')"
                  class="text-caption paragraph-m-regular">Vui lòng không nhập quá 50 kí tự</span>
                <span *ngIf="formInfo.controls['userName'].hasError('userNameExist')"
                  class="text-caption paragraph-m-regular">Tên đăng nhập đã tồn tại</span>
                <span *ngIf="formInfo.controls['userName'].hasError('pattern')"
                  class="text-caption paragraph-m-regular">Tên đăng nhập không đúng định dạng</span>
              </div>
            </div>
            <div class="col-34 mb-4">
              <label class="form-label title-m-semibold">Mật khẩu <span class="required">*</span></label>
              <div class="p-inputgroup show-icon-right">
                <input class="merchant-input" formControlName="userPass" pInputText [readOnly]="true"
                  placeholder="Mật khẩu sẽ xuất hiện tại đây" />
                <span class="p-input-icon-right clear-icon" (click)="this.copyPassword()">
                  <i class="icon-copy input-icon input-icon-default"></i>
                </span>
              </div>
              <div *ngIf="
                formInfo.controls['userPass'].touched &&
                formInfo.controls['userPass'].invalid
              " class="m-caption error">
                <div class="icon-caption">
                  <span class="icon-error_solid"></span>
                </div>
                <span *ngIf="formInfo.controls['userPass'].hasError('required')"
                  class="text-caption paragraph-m-regular">Vui lòng nhập thông tin</span>
              </div>
            </div>
            <label class="col-16 create-pass m-0 title-s-semibold" (click)="createPassword()">Tạo mật khẩu</label>
          </div>
          <div *ngIf="formInfo.controls['userPass'].value" class="m-caption error">
            <div class="icon-caption">
              <span class="icon-error_solid"></span>
            </div>
            <span class="text-caption paragraph-s-regular">Bạn vui lòng sao chép mật khẩu, vì lý do bảo mật thông tin,
              mật
              khẩu sẽ không bao giờ hiển thị lại.</span>
          </div>
        </div>
        <!-- <div class="div-button">
          <p-button label="Quay lại" class="merchant-button-tertiary me-2" (click)="doPreStep()" />
          <button [disabled]="this.formInfo.invalid" mat-button (click)="createHr()" class="merchant-button-material">
            Thêm mới
          </button>
        </div> -->
      </form>
    </mat-step>
    <mat-step label="Hoàn tất">
      <div class="content-thirdForm d-flex flex-column align-items-center header-xs-bold mt-5">
        <ng-container *ngIf="isSuccess === 1">
          <img [src]="assetPath + '/assets/images/image-success.svg'" alt="Success" />
          <div class="mt-3">Thêm mới nhân sự thành công</div>
          <div *ngIf="!isHaveEmail" class="text title-s-regular mt-3">
            Hãy gửi thông tin đăng nhập để nhân sự truy cập vào hệ thống.
          </div>
          <div *ngIf="isHaveEmail" class="text text-center title-s-regular mt-3">
            <span>
              Hãy gửi thông tin đăng nhập hoặc thông báo nhân sự kiểm tra</span><br />
            <span>email để lấy thông tin truy cập vào hệ thống.</span>
          </div>
          <a [href]="assetPath + '/hr'" class="mt-3">
            <p-button label="Về trang quản lý" class="merchant-button mt-4" />
          </a>
        </ng-container>

        <ng-container *ngIf="isSuccess === 0">
          <img [src]="assetPath + '/assets/images/image-false.svg'" alt="False" />
          <div class="mt-3">Thêm mới nhân sự không thành công</div>
          <div class="text title-s-regular mt-3">
            Đã có lỗi xảy ra. Vui lòng thử lại.
          </div>
          <a [href]="assetPath + '/hr/hr-create'" class="mt-3">
            <p-button label="Thử lại" class="merchant-button mt-4" />
          </a>
          <a [href]="assetPath + '/hr'" class="mt-3">
            <p-button label="Về trang quản lý" class="merchant-button-tertiary mt-4" />
          </a>
        </ng-container>
      </div>
    </mat-step>

  </mat-stepper>


  <div class="stepper-footer">
    <ng-container *ngIf="currentStep == 0">
      <ng-container *ngIf="!(this.userInfo.isConfig == 1 && this.userInfo.orgType === 2 && this.pointSalesInitFirt.length === 1) 
        && !(this.userInfo.isConfig == 0 && this.userInfo.orgType === 2 && this.pointSalesInitFirt.length === 1)
        && !(this.userInfo.isConfig == 0 && this.userInfo.orgType === 0 && this.pointSalesInitFirt.length === 0)">
        <p-button label="Hủy" class="merchant-button-tertiary me-2" (click)="onCancel()" />
        <button mat-button [disabled]="checkDisableButton()" (click)="doNextStep(1)" class="merchant-button-material">
          Tiếp tục
        </button>
      </ng-container>


      <ng-container *ngIf="(this.userInfo.isConfig == 1 && this.userInfo.orgType === 2 && this.pointSalesInitFirt.length === 1) 
        || (this.userInfo.isConfig == 0 && this.userInfo.orgType === 2 && this.pointSalesInitFirt.length === 1)
        || (this.userInfo.isConfig == 0 && this.userInfo.orgType === 0 && this.pointSalesInitFirt.length === 0)">
        <div class="div-button">
          <p-button label="Hủy" class="merchant-button-tertiary me-2" (click)="onCancel()" />
          <button [disabled]="!roleId" mat-button (click)="doNextStep(1)" class="merchant-button-material">
            Tiếp tục
          </button>
        </div>
      </ng-container>
    </ng-container>


    <ng-container *ngIf="currentStep == 1">
      <ng-container *ngIf="!(this.userInfo.isConfig == 1 && this.userInfo.orgType === 2 && this.pointSalesInitFirt.length === 1) 
        && !(this.userInfo.isConfig == 0 && this.userInfo.orgType === 2 && this.pointSalesInitFirt.length === 1)
        && !(this.userInfo.isConfig == 0 && this.userInfo.orgType === 0 && this.pointSalesInitFirt.length === 0)">
        <div class="div-button">
          <p-button [label]="typeUpdate == 1 ? 'Hủy' : 'Quay lại'" class="merchant-button-tertiary me-2"
            (click)="doPreStep()" />
          <button [disabled]="!roleId" mat-button (click)="doNextStep()" class="merchant-button-material">
            Tiếp tục
          </button>
        </div>
      </ng-container>

      <ng-container *ngIf="(this.userInfo.isConfig == 1 && this.userInfo.orgType === 2 && this.pointSalesInitFirt.length === 1) 
        || (this.userInfo.isConfig == 0 && this.userInfo.orgType === 2 && this.pointSalesInitFirt.length === 1)
        || (this.userInfo.isConfig == 0 && this.userInfo.orgType === 0 && this.pointSalesInitFirt.length === 0)">
        <div class="div-button">
          <p-button label="Quay lại" class="merchant-button-tertiary me-2" (click)="doPreStep()" />
          <button [disabled]="this.formInfo.invalid" mat-button (click)="createHr()" class="merchant-button-material">
            Thêm mới
          </button>
        </div>
      </ng-container>

    </ng-container>

    <ng-container *ngIf="currentStep == 2">
      <ng-container *ngIf="!(this.userInfo.isConfig == 1 && this.userInfo.orgType === 2 && this.pointSalesInitFirt.length === 1) 
        && !(this.userInfo.isConfig == 0 && this.userInfo.orgType === 2 && this.pointSalesInitFirt.length === 1)
        && !(this.userInfo.isConfig == 0 && this.userInfo.orgType === 0 && this.pointSalesInitFirt.length === 0)">
        <div class="div-button">
          <p-button label="Quay lại" class="merchant-button-tertiary me-2" (click)="doPreStep()" />
          <button [disabled]="this.formInfo.invalid" mat-button (click)="createHr()" class="merchant-button-material">
            Thêm mới
          </button>
        </div>
      </ng-container>

    </ng-container>

  </div>
</div>


<ng-template #group>
  <div class="box-area mt-4 scroll-box">
    <m-tree-checkbox [data]="organizationSort" [level]="0" (groupChoice)="doActiveArea($event)"
      (groupSelect)="doCheckGroup($event)" [activeItemId]="organizationIdActive"></m-tree-checkbox>
  </div>
</ng-template>

<ng-template #merchantCheckbox>
  <div class="d-flex mt-3">
    <div class="col-12">
      <div class="p-inputgroup show-icon-left search-role me-3">
        <span class="p-input-icon-left">
          <i class="icon-search input-icon input-icon-default"></i>
        </span>
        <input type="text" pInputText class="merchant-input search" [(ngModel)]="searchOrganization"
          placeholder="Tìm kiếm tên, địa chỉ điểm kinh doanh" (keydown.enter)="getLstMerchant()" />
      </div>
    </div>
  </div>
  <div class="box-area mt-4 scroll-box">
    <grid-view #gridViewRef [columns]="columnsMerchant" [dataSource]="pointSales" [isShowPage]="false" [search]="true"
      [showCheckbox]="true" (dataChoice)="setUpMerchantIds($event)" style="float: left; width: 100%"></grid-view>
  </div>

</ng-template>

<ng-template #merchantRadio>
  <div class="d-flex mt-3" *ngIf="showRadioButton">
    <div class="col-12">
      <div class="p-inputgroup show-icon-left search-role me-3">
        <span class="p-input-icon-left">
          <i class="icon-search input-icon input-icon-default"></i>
        </span>
        <input type="text" pInputText class="merchant-input search" [(ngModel)]="searchOrganization"
          placeholder="Tìm kiếm tên, địa chỉ điểm kinh doanh" (keydown.enter)="getLstMerchant()" />
      </div>
    </div>
  </div>
  <div class="box-area mt-4 scroll-box">
    <grid-view #gridViewRef [columns]="columnsMerchant" [dataSource]="pointSales" [isShowPage]="false" [search]="true"
      [showRadio]="showRadioButton" (selectedItemChange)="radioSetUpMerchantIds($event)"
      [selectedItem]="getSelectedItemForRadioGridView()" style="float: left; width: 100%"></grid-view>
  </div>
</ng-template>

<!-- <ng-template #noAssignMerchant>
  <div style="display: grid; place-items: center; height: 50vh;">
    <div
      class="content-thirdForm d-flex text-center justify-content-center flex-column align-items-center header-xs-bold mt-5">
      <div class="mt-3"><b>Nhân sự được gán vào điểm kinh doanh {{ countSelectedPoint }}</b></div>
      <div class="text title-s-regular">
        Bạn không thể thay đổi tổ chức cho nhân sự này. Vui lòng chuyển bước tiếp theo.
      </div>
    </div>
  </div>

</ng-template> -->