<div *ngIf="isCreate">
  <app-create-organization [merchantName]="merchantName" (cancelCreate)="doCancelCreate()" (createSuccess)="doCreateSuccess()"></app-create-organization>
</div>

<div *ngIf="isUpdate">
    <app-update-organization [merchantName]="merchantName" [lstAreasInput]="lstAreas"></app-update-organization>
</div>

<div *ngIf="!isCreate && !isUpdate && !isAccountNotVerified" class="wrapper-nodata">
    <h1 class="header-m-semibold"><span class="icon-building"></span> {{this.merchantName}}</h1>
    <div class="content">
        <img [src]="assetPath + '/assets/images/grid-search-empty.png'">
        <div *ngIf="isPermission">
            <div class="mt-4 title-l-semibold title-no-data">Doanh nghiệp chưa thiết lập tổ chức</div>
            <div *ngIf="hasRole" class="title-s-regular summary-no-data mb-3">Vui lòng tạo cơ cấu tổ chức để quản lý các nhóm điểm kinh
                doanh của bạn hiệu quả hơn.</div>
            <p-button *ngIf="hasRole"  label="Thiết lập tổ chức" class="merchant-button" icon="icon-setting" (click)="doCreateOrg()" />
        </div>
        <div *ngIf="!isPermission">
            <div class="mt-4 title-l-semibold title-no-data">Cơ cấu tổ chức</div>
            <div class="title-s-regular summary-no-data mb-3">Doanh nghiệp đang hoạt động theo mô hình quản lý trực tiếp
                điểm kinh doanh</div>
            <p-button label="Xem điểm kinh doanh" class="merchant-button" />
        </div>
    </div>
</div>

<div *ngIf="isAccountNotVerified" class="wrapper-nodata">
    <h1 class="header-m-semibold"><span class="icon-building"></span>{{this.merchantName}}</h1>
    <div class="content">
        <img [src]="assetPath + '/assets/images/grid-empty.png'">
            <div class="mt-4 title-l-semibold title-no-data">Tính năng bị hạn chế</div>
            <div class="title-s-regular summary-no-data mb-3">Bạn không có quyền sử dụng tính năng do 
                chưa xác thực tài khoản.</div>
    </div>
</div>
