<div class="d-flex justify-content-between modal-header">
  <h4 class="modal-title title-m-bold color-040d1f" [innerHTML]="data?.title"></h4>
  <span class="icon-close_large cursor-pointer" (click)="onClose()"></span>
</div>
<div class="modal-body">
  <form [formGroup]="formChangePw">
    <div class="row m-b-32">
      <label class="form-label title-s-semibold color-040d1f" for="current-password">Mật khẩu hiện tại</label>
      <div class="p-inputgroup show-icon-right">
        <input appShowClearOnFocus=".clear-icon" class="merchant-input" pInputText type="text" formControlName="currentPw"
               [type]="showCurrentPassword ? 'text' : 'password'" id="current-password" placeholder="Nhập mật khẩu hiện tại"
               autocomplete="current-password" (focus)="isCurrentPw = true" (blur)="isCurrentPw = false" />
        @if(this.formChangePw.get('currentPw')?.value && isCurrentPw){
          <span class="p-input-icon-right clear-icon" (mousedown)="clearValue('currentPw')">
            <i class="icon-close_circle_solid input-icon input-icon-close"></i>
          </span>
        }
        <span class="p-input-icon-right clear-icon" (click)="showCurrentPassword =!showCurrentPassword">
          <i [class]="showCurrentPassword ? 'icon-eye_off' : 'icon-eye_on'" class="input-icon eye-icon"></i>
        </span>
      </div>
      @if (formChangePw.controls['currentPw'].touched && formChangePw.controls['currentPw'].invalid) {
        <div class="m-caption error">
          <div class="icon-caption">
            <span class="icon-error_solid"></span>
          </div>
          @if (formChangePw.controls['currentPw'].hasError('required')) {
            <span class="text-caption paragraph-s-regular">Vui lòng nhập thông tin</span>
          }
          @if (formChangePw.controls['currentPw'].hasError('passwordFail')) {
            <span class="text-caption paragraph-s-regular">Mật khẩu hiện tại không chính xác</span>
          }
        </div>
      }
    </div>

    <div class="row mb-4">
      <label class="form-label title-s-semibold color-040d1f" for="new-password">Mật khẩu mới</label>
      <div class="p-inputgroup show-icon-right">
        <input appShowClearOnFocus=".clear-icon" class="merchant-input" pInputText type="text" formControlName="newPw"
               [type]="showNewPassword ? 'text' : 'password'" id="new-password" placeholder="Nhập mật khẩu mới"
               autocomplete="new-password" (focus)="isNewPw = true" (blur)="isNewPw = false"/>
        @if (this.formChangePw.get('newPw')?.value && isNewPw) {
          <span class="p-input-icon-right clear-icon" (mousedown)="clearValue('newPw')">
            <i class="icon-close_circle_solid input-icon input-icon-close"></i>
          </span>
        }
        <span class="p-input-icon-right clear-icon" (click)="showNewPassword=!showNewPassword">
          <i [class]="showNewPassword ? 'icon-eye_off' : 'icon-eye_on'" class="input-icon eye-icon"></i>
        </span>
      </div>
      @if (formChangePw.controls['newPw'].touched && formChangePw.controls['newPw'].invalid) {
        <div class="m-caption error">
          <div class="icon-caption">
            <span class="icon-error_solid"></span>
          </div>
          @if (formChangePw.controls['newPw'].hasError('required')) {
            <span class="text-caption paragraph-s-regular">Vui lòng nhập thông tin</span>
          }
          @if (formChangePw.controls['newPw'].hasError('newPassFail')) {
            <span class="text-caption paragraph-s-regular">Mật khẩu mới không được trùng mật khẩu hiện tại</span>
          }
        </div>
      }
    </div>

    <div class="row mb-4">
      <div class="form-label title-s-semibold color-040d1f">Mật khẩu mới bao gồm:</div>
      <div class="condition" [class.valid]="passwordCriteria.length">
        <span class="icon-check_large icon-check"></span>
        <label class="paragraph-m-regular" [class.valid]="passwordCriteria.length">
          Dài 8 đến 50 ký tự
        </label>
      </div>
      <div class="condition" [class.valid]="passwordCriteria.uppercase">
        <span class="icon-check_large icon-check"></span>
        <label class="paragraph-m-regular" [class.valid]="passwordCriteria.uppercase">
          Chứa ít nhất một chữ viết hoa
        </label>
      </div>
      <div class="condition" [class.valid]="passwordCriteria.number">
        <span class="icon-check_large icon-check"></span>
        <label class="paragraph-m-regular" [class.valid]="passwordCriteria.number">
          Chứa ít nhất một chữ số
        </label>
      </div>
      <div class="condition" [class.valid]="passwordCriteria.specialChar">
        <span class="icon-check_large icon-check"></span>
        <label class="paragraph-m-regular" [class.valid]="passwordCriteria.specialChar">
          Chứa ít nhất một ký tự đặc biệt
        </label>
      </div>
    </div>

    <div class="form-group password-group">
      <label class="form-label title-s-semibold color-040d1f" for="confirm-password">Nhập lại mật khẩu mới</label>
      <div class="p-inputgroup show-icon-right">
        <input appShowClearOnFocus=".clear-icon" class="merchant-input" pInputText type="text" formControlName="confirmPw"
               [type]="showConfirmPassword ? 'text' : 'password'" id="confirm-password" placeholder="Nhập lại mật khẩu mới"
               autocomplete="confirm-password" (focus)="isConfirmPassword = true" (blur)="isConfirmPassword = false"/>
        @if (this.formChangePw.get('confirmPw')?.value && isConfirmPassword) {
          <span class="p-input-icon-right clear-icon" (mousedown)="clearValue('confirmPw')">
            <i class="icon-close_circle_solid input-icon input-icon-close"></i>
          </span>
        }
        <span class="p-input-icon-right clear-icon" (click)="showConfirmPassword =!showConfirmPassword">
          <i [class]="showConfirmPassword ? 'icon-eye_off' : 'icon-eye_on'" class="input-icon eye-icon"></i>
        </span>
      </div>
      @if (formChangePw.controls['confirmPw'].touched && formChangePw.controls['confirmPw'].invalid) {
        <div class="m-caption error">
          <div class="icon-caption">
            <span class="icon-error_solid"></span>
          </div>
          @if (formChangePw.controls['confirmPw'].hasError('required')) {
            <span class="text-caption paragraph-s-regular">Vui lòng nhập thông tin</span>
          }
        </div>
      }
      @if (formChangePw.errors?.['passwordsMismatch']) {
        <div class="m-caption error">
          <div class="icon-caption">
            <span class="icon-error_solid"></span>
          </div>
          <span class="text-caption paragraph-s-regular">Nhập lại mật khẩu mới chưa trùng khớp</span>
        </div>
      }
    </div>
  </form>
</div>
<div class="modal-footer">
  <p-button label="Hủy" class="merchant-button-tertiary" (click)="onClose()"/>
  <p-button label="Đổi mật khẩu" class="merchant-button" (click)="onChangePw()"
            [disabled]="formChangePw.invalid || !isValidPassword"/>
</div>
