<div class="p-5">
    <div class="row">
        <h1>Notification Badge</h1>
        <div class="col-2 border-start border-primary">
            <label class="form-label">Dot</label>
            <div class="row d-flex justify-content-center">
                <span class="dot-label"></span>
            </div>
        </div>
        <div class="col-2 border-start border-primary">
            <label class="form-label">Icon</label>
            <div class="row d-flex justify-content-center">
                <span class="icon-label-red"></span>
            </div>
        </div>
        <div class="col-2 border-start border-primary">
            <label class="form-label">Number</label>
            <div class="row d-flex justify-content-center">
                <span class="number-label-red paragraph-xs-semibold">9</span>
            </div>
        </div>
    </div>

    <!-- Number -->
    <div class="row mt-5">
        <h1>Number</h1>
        <!-- Active -->
        <div class="row">
            <div class="col-2 border-start border-primary">
                <label class="form-label">Active: S</label>
                <div class="row d-flex justify-content-center">
                    <span class="number-label number-label-active number-label-s paragraph-xs-semibold">1</span>
                </div>
            </div>
            <div class="col-2 border-start border-primary">
                <label class="form-label">L</label>
                <div class="row d-flex justify-content-center">
                    <span class="number-label number-label-active number-label-l paragraph-l-semibold">1</span>
                </div>
            </div>
            <div class="col-2 border-start border-primary">
                <label class="form-label">M</label>
                <div class="row d-flex justify-content-center">
                    <span class="number-label number-label-active number-label-m paragraph-s-semibold">1</span>
                </div>
            </div>
            <div class="col-2 border-start border-primary">
                <label class="form-label">XL</label>
                <div class="row d-flex justify-content-center">
                    <span class="number-label number-label-active number-label-xl paragraph-l-semibold">1</span>
                </div>
            </div>
        </div>

        <!-- Inactive -->
        <div class="row mt-5">
            <div class="col-2 border-start border-primary">
                <label class="form-label">Inactive: S</label>
                <div class="row d-flex justify-content-center">
                    <span class="number-label number-label-inactive number-label-s paragraph-xs-semibold">1</span>
                </div>
            </div>
            <div class="col-2 border-start border-primary">
                <label class="form-label">L</label>
                <div class="row d-flex justify-content-center">
                    <span class="number-label number-label-inactive number-label-l paragraph-l-semibold">1</span>
                </div>
            </div>
            <div class="col-2 border-start border-primary">
                <label class="form-label">M</label>
                <div class="row d-flex justify-content-center">
                    <span class="number-label number-label-inactive number-label-m paragraph-s-semibold">1</span>
                </div>
            </div>
            <div class="col-2 border-start border-primary">
                <label class="form-label">XL</label>
                <div class="row d-flex justify-content-center">
                    <span class="number-label number-label-inactive number-label-xl paragraph-l-semibold">1</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Status -->
    <div class="row mt-5">
        <h1>Status</h1>
        <!-- Fill -->
        <div class="row col-10">
            <div class="col-2 border-start border-primary">
                <label class="form-label">Fill: Info</label>
                <div class="row d-flex justify-content-center">
                    <span class="status info">Status</span>
                </div>
            </div>
            <div class="col-2 border-start border-primary">
                <label class="form-label">Fill: Success</label>
                <div class="row d-flex justify-content-center">
                    <span class="status success">Status</span>
                </div>
            </div>
            <div class="col-2 border-start border-primary">
                <label class="form-label">Fill: Warning</label>
                <div class="row d-flex justify-content-center">
                    <span class="status warning">Status</span>
                </div>
            </div>
            <div class="col-2 border-start border-primary">
                <label class="form-label">Fill: Error</label>
                <div class="row d-flex justify-content-center">
                    <span class="status error">Status</span>
                </div>
            </div>
            <div class="col-2 border-start border-primary">
                <label class="form-label">Fill: Normal</label>
                <div class="row d-flex justify-content-center">
                    <span class="status normal">Status</span>
                </div>
            </div>
        </div>
        <!-- Text -->
        <div class="row mt-5">
            <div class="row col-10">
                <div class="col-2 border-start border-primary">
                    <label class="form-label">Text: Info</label>
                    <div class="row d-flex justify-content-center">
                        <span class="status info-text">Status</span>
                    </div>
                </div>
                <div class="col-2 border-start border-primary">
                    <label class="form-label">Text: Success</label>
                    <div class="row d-flex justify-content-center">
                        <span class="status success-text">Status</span>
                    </div>
                </div>
                <div class="col-2 border-start border-primary">
                    <label class="form-label">Text: Warning</label>
                    <div class="row d-flex justify-content-center">
                        <span class="status warning-text">Status</span>
                    </div>
                </div>
                <div class="col-2 border-start border-primary">
                    <label class="form-label">Text: Error</label>
                    <div class="row d-flex justify-content-center">
                        <span class="status error-text">Status</span>
                    </div>
                </div>
                <div class="col-2 border-start border-primary">
                    <label class="form-label">Text: Normal</label>
                    <div class="row d-flex justify-content-center">
                        <span class="status normal-text">Status</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Badge -->
    <div class="row mt-5">
        <h1>Badge</h1>
        <!-- Warning -->
        <div class="row col-12">
            <!-- Round -->
            <div class="col-3 border-start border-primary">
                <label class="form-label">Round: Warning M</label>
                <div class="d-flex justify-content-center">
                    <div class="badge-round badge-round-m bg-round-warning">
                        <span class="icon-default me-1"></span>
                        <span class="paragraph-s-semibold">LABEL</span>
                    </div>
                </div>
            </div>
            <div class="col-3 border-start border-primary">
                <label class="form-label">Round: Warning S</label>
                <div class="d-flex justify-content-center">
                    <div class="badge-round badge-round-s bg-round-warning">
                        <span class="icon-default me-1"></span>
                        <span class="paragraph-xs-semibold">LABEL</span>
                    </div>
                </div>
            </div>
            <!-- Rectangle -->
            <div class="col-3 border-start border-primary">
                <label class="form-label">Rectangle: Warning M</label>
                <div class="d-flex justify-content-center">
                    <div class="badge-rectangle badge-rectangle-m bg-rectangle-warning">
                        <span class="icon-default icon-default-warning me-1"></span>
                        <span class="paragraph-s-semibold color-warning">LABEL</span>
                    </div>
                </div>
            </div>
            <div class="col-3 border-start border-primary">
                <label class="form-label">Rectangle: Warning S</label>
                <div class="d-flex justify-content-center">
                    <div class="badge-rectangle badge-rectangle-s bg-rectangle-warning">
                        <span class="icon-default icon-default-warning me-1"></span>
                        <span class="paragraph-xs-semibold color-warning">LABEL</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Error -->
        <div class="row col-12 mt-5">
            <!-- Round -->
            <div class="col-3 border-start border-primary">
                <label class="form-label">Round: Error M</label>
                <div class="d-flex justify-content-center">
                    <div class="badge-round badge-round-m bg-round-error">
                        <span class="icon-default me-1"></span>
                        <span class="paragraph-s-semibold">LABEL</span>
                    </div>
                </div>
            </div>
            <div class="col-3 border-start border-primary">
                <label class="form-label">Round: Error S</label>
                <div class="d-flex justify-content-center">
                    <div class="badge-round badge-round-s bg-round-error">
                        <span class="icon-default me-1"></span>
                        <span class="paragraph-xs-semibold">LABEL</span>
                    </div>
                </div>
            </div>
            <!-- Rectangle -->
            <div class="col-3 border-start border-primary">
                <label class="form-label">Rectangle: Error M</label>
                <div class="d-flex justify-content-center">
                    <div class="badge-rectangle badge-rectangle-m bg-rectangle-error">
                        <span class="icon-default icon-default-error me-1"></span>
                        <span class="paragraph-s-semibold color-error">LABEL</span>
                    </div>
                </div>
            </div>
            <div class="col-3 border-start border-primary">
                <label class="form-label">Rectangle: Error S</label>
                <div class="d-flex justify-content-center">
                    <div class="badge-rectangle badge-rectangle-s bg-rectangle-error">
                        <span class="icon-default icon-default-error me-1"></span>
                        <span class="paragraph-xs-semibold color-error">LABEL</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Success -->
        <div class="row col-12 mt-5">
            <!-- Round -->
            <div class="col-3 border-start border-primary">
                <label class="form-label">Round: Success M</label>
                <div class="d-flex justify-content-center">
                    <div class="badge-round badge-round-m bg-round-success">
                        <span class="icon-default me-1"></span>
                        <span class="paragraph-s-semibold">LABEL</span>
                    </div>
                </div>
            </div>
            <div class="col-3 border-start border-primary">
                <label class="form-label">Round: Success S</label>
                <div class="d-flex justify-content-center">
                    <div class="badge-round badge-round-s bg-round-success">
                        <span class="icon-default me-1"></span>
                        <span class="paragraph-xs-semibold">LABEL</span>
                    </div>
                </div>
            </div>
            <!-- Rectangle -->
            <div class="col-3 border-start border-primary">
                <label class="form-label">Rectangle: Success M</label>
                <div class="d-flex justify-content-center">
                    <div class="badge-rectangle badge-rectangle-m bg-rectangle-success">
                        <span class="icon-default icon-default-success me-1"></span>
                        <span class="paragraph-s-semibold color-success">LABEL</span>
                    </div>
                </div>
            </div>
            <div class="col-3 border-start border-primary">
                <label class="form-label">Rectangle: Success S</label>
                <div class="d-flex justify-content-center">
                    <div class="badge-rectangle badge-rectangle-s bg-rectangle-success">
                        <span class="icon-default icon-default-success me-1"></span>
                        <span class="paragraph-xs-semibold color-success">LABEL</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Normal -->
        <div class="row col-12 mt-5">
            <!-- Round -->
            <div class="col-3 border-start border-primary">
                <label class="form-label">Round: Normal M</label>
                <div class="d-flex justify-content-center">
                    <div class="badge-round badge-round-m bg-round-normal">
                        <span class="icon-default me-1"></span>
                        <span class="paragraph-s-semibold">LABEL</span>
                    </div>
                </div>
            </div>
            <div class="col-3 border-start border-primary">
                <label class="form-label">Round: Normal S</label>
                <div class="d-flex justify-content-center">
                    <div class="badge-round badge-round-s bg-round-normal">
                        <span class="icon-default me-1"></span>
                        <span class="paragraph-xs-semibold">LABEL</span>
                    </div>
                </div>
            </div>
            <!-- Rectangle -->
            <div class="col-3 border-start border-primary">
                <label class="form-label">Rectangle: Normal M</label>
                <div class="d-flex justify-content-center">
                    <div class="badge-rectangle badge-rectangle-m bg-rectangle-normal">
                        <span class="icon-default icon-default-normal me-1"></span>
                        <span class="paragraph-s-semibold color-normal">LABEL</span>
                    </div>
                </div>
            </div>
            <div class="col-3 border-start border-primary">
                <label class="form-label">Rectangle: Normal S</label>
                <div class="d-flex justify-content-center">
                    <div class="badge-rectangle badge-rectangle-s bg-rectangle-normal">
                        <span class="icon-default icon-default-normal me-1"></span>
                        <span class="paragraph-xs-semibold color-normal">LABEL</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Info -->
        <div class="row col-12 mt-5">
            <!-- Round -->
            <div class="col-3 border-start border-primary">
                <label class="form-label">Round: Info M</label>
                <div class="d-flex justify-content-center">
                    <div class="badge-round badge-round-m bg-round-info">
                        <span class="icon-default me-1"></span>
                        <span class="paragraph-s-semibold">LABEL</span>
                    </div>
                </div>
            </div>
            <div class="col-3 border-start border-primary">
                <label class="form-label">Round: Info S</label>
                <div class="d-flex justify-content-center">
                    <div class="badge-round badge-round-s bg-round-info">
                        <span class="icon-default me-1"></span>
                        <span class="paragraph-xs-semibold">LABEL</span>
                    </div>
                </div>
            </div>
            <!-- Rectangle -->
            <div class="col-3 border-start border-primary">
                <label class="form-label">Rectangle: Info M</label>
                <div class="d-flex justify-content-center">
                    <div class="badge-rectangle badge-rectangle-m bg-rectangle-info">
                        <span class="icon-default icon-default-info me-1"></span>
                        <span class="paragraph-s-semibold color-info">LABEL</span>
                    </div>
                </div>
            </div>
            <div class="col-3 border-start border-primary">
                <label class="form-label">Rectangle: Info S</label>
                <div class="d-flex justify-content-center">
                    <div class="badge-rectangle badge-rectangle-s bg-rectangle-info">
                        <span class="icon-default icon-default-info me-1"></span>
                        <span class="paragraph-xs-semibold color-info">LABEL</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Icon -->
    <div class="row mt-5">
        <h1>Icon</h1>
        <!-- Drak -->
        <div class="row">
            <div class="col-2 border-start border-primary">
                <label class="form-label">Dark: XL</label>
                <div class="d-flex justify-content-center">
                    <div class="icon-label icon-label-xl bg-icon-dark">
                        <span class="icon-default color-094cc0"></span>
                    </div>
                </div>
            </div>
            <div class="col-2 border-start border-primary">
                <label class="form-label">S</label>
                <div class="d-flex justify-content-center">
                    <div class="icon-label icon-label-s bg-icon-dark">
                        <span class="icon-default color-094cc0"></span>
                    </div>
                </div>
            </div>
            <div class="col-2 border-start border-primary">
                <label class="form-label">M</label>
                <div class="d-flex justify-content-center">
                    <div class="icon-label icon-label-m bg-icon-dark">
                        <span class="icon-default color-094cc0"></span>
                    </div>
                </div>
            </div>
            <div class="col-2 border-start border-primary">
                <label class="form-label">L</label>
                <div class="d-flex justify-content-center">
                    <div class="icon-label icon-label-l bg-icon-dark">
                        <span class="icon-default color-094cc0"></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Light -->
        <div class="row mt-5">
            <div class="col-2 border-start border-primary">
                <label class="form-label">Light: XL</label>
                <div class="d-flex justify-content-center">
                    <div class="icon-label icon-label-xl bg-icon-light">
                        <span class="icon-default"></span>
                    </div>
                </div>
            </div>
            <div class="col-2 border-start border-primary">
                <label class="form-label">S</label>
                <div class="d-flex justify-content-center">
                    <div class="icon-label icon-label-s bg-icon-light">
                        <span class="icon-default"></span>
                    </div>
                </div>
            </div>
            <div class="col-2 border-start border-primary">
                <label class="form-label">M</label>
                <div class="d-flex justify-content-center">
                    <div class="icon-label icon-label-m bg-icon-light">
                        <span class="icon-default"></span>
                    </div>
                </div>
            </div>
            <div class="col-2 border-start border-primary">
                <label class="form-label">L</label>
                <div class="d-flex justify-content-center">
                    <div class="icon-label icon-label-l bg-icon-light">
                        <span class="icon-default"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page mt-5">
        <label class="form-label">PAGINATOR</label>
        <paginator class="paginator-table mt-3" [totalItems]="1000"></paginator>
    </div>

    <!-- Alert -->
    <div class="row mt-5">
        <h1>Alert</h1>
        <div class="row">
            <!-- Success -->
            <div class="alert success me-5">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="d-flex align-self-start icon-check_circle_solid icon-alert success me-2"></span>
                    <div class="d-flex flex-fill flex-column align-items-start align-self-start">
                        <span class="title-m-semibold">Title</span>
                        <span class="title-s-regular color-4f5562">SubTitle</span>
                    </div>
                    <span class="d-flex align-self-start icon-close_small cursor-pointer"></span>
                </div>
            </div>
            <!-- Info -->
            <div class="alert info">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="d-flex align-self-start icon-information_solid icon-alert info me-2"></span>
                    <div class="d-flex flex-fill flex-column align-items-start align-self-start">
                        <span class="title-m-semibold">Title</span>
                        <span class="title-s-regular color-4f5562">SubTitle</span>
                    </div>
                    <span class="d-flex align-self-start icon-close_small cursor-pointer"></span>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <!-- Warning -->
            <div class="alert warning me-5">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="d-flex align-self-start icon-warning_solid icon-alert warning me-2"></span>
                    <div class="d-flex flex-fill flex-column align-items-start align-self-start">
                        <span class="title-m-semibold">Title</span>
                        <span class="title-s-regular color-4f5562">SubTitle</span>
                    </div>
                    <span class="d-flex align-self-start icon-close_small cursor-pointer"></span>
                </div>
            </div>
            <!-- Error -->
            <div class="alert error">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="d-flex align-self-start icon-error_solid icon-alert error me-2"></span>
                    <div class="d-flex flex-fill flex-column align-items-start align-self-start">
                        <span class="title-m-semibold">Title</span>
                        <span class="title-s-regular color-4f5562">SubTitle</span>
                    </div>
                    <span class="d-flex align-self-start icon-close_small cursor-pointer"></span>
                </div>
            </div>
        </div>
    </div>

    <!-- Step -->
    <div class="row mt-5">
        <h1>Step</h1>
        <mat-stepper class="step-role" [selectedIndex]="currentStep" [disableRipple]="true"
            (selectionChange)="onStepChange($event)" [linear]="true" #stepper (animationDone)="onAnimationDone()">
            <ng-template matStepperIcon="edit" let-index="index">
                {{ currentStep +1 }}
            </ng-template>
            <ng-template matStepperIcon="done">
                <span class="step-done"></span>
            </ng-template>

            <mat-step label="Start">
                <div class="step-container" *ngIf="currentStep == 0 &&  isStepContentReady">
                    <div class="paragraph-m-regular mb-spacing-l">
                        Step 1
                    </div>
                    <div class="div-button">
                        <button mat-button class="merchant-button-material" (click)="doNextStep()">
                            Tiếp tục
                        </button>
                    </div>
                </div>
            </mat-step>
            <mat-step label="Middle">
                <div class="step-container" *ngIf="currentStep == 1 &&  isStepContentReady">
                    <div class="paragraph-m-regular mb-spacing-l">
                        Step 2
                    </div>
                    <div class="div-button">
                        <p-button mat-button class="merchant-button-tertiary me-2" (click)="doPreStep()">
                            Quay lại
                        </p-button>
                        <button mat-button class="merchant-button-material" (click)="doNextStep()">
                            Tiếp tục
                        </button>
                    </div>
                </div>
            </mat-step>
            <mat-step label="End">
                <div class="step-container" *ngIf="currentStep == 2 &&  isStepContentReady">
                    <div class="paragraph-m-regular mb-spacing-l">
                        Step 3
                    </div>
                    <div class="div-button">
                        <p-button mat-button class="merchant-button-tertiary" (click)="doPreStep()">
                            Quay lại
                        </p-button>
                    </div>
                </div>
            </mat-step>
        </mat-stepper>
    </div>
</div>