<div class="p-5" style="background-color: #fff;">
    <div class="row">
        <h1>Notification Badge</h1>
        <div class="col-2 border-start border-primary">
            <label class="form-label">Dot</label>
            <div class="row d-flex justify-content-center">
                <span class="dot-label"></span>
            </div>
        </div>
        <div class="col-2 border-start border-primary">
            <label class="form-label">Icon</label>
            <div class="row d-flex justify-content-center">
                <span class="icon-label-red"></span>
            </div>
        </div>
        <div class="col-2 border-start border-primary">
            <label class="form-label">Number</label>
            <div class="row d-flex justify-content-center">
                <span class="number-label-red paragraph-xs-semibold">9</span>
            </div>
        </div>
    </div>

    <!-- Number -->
    <div class="row mt-5">
        <h1>Number</h1>
        <!-- Active -->
        <div class="row">
            <div class="col-2 border-start border-primary">
                <label class="form-label">Active: S</label>
                <div class="row d-flex justify-content-center">
                    <span class="number-label number-label-active number-label-s paragraph-xs-semibold">1</span>
                </div>
            </div>
            <div class="col-2 border-start border-primary">
                <label class="form-label">L</label>
                <div class="row d-flex justify-content-center">
                    <span class="number-label number-label-active number-label-l paragraph-xs-semibold">1</span>
                </div>
            </div>
            <div class="col-2 border-start border-primary">
                <label class="form-label">M</label>
                <div class="row d-flex justify-content-center">
                    <span class="number-label number-label-active number-label-m paragraph-xs-semibold">1</span>
                </div>
            </div>
            <div class="col-2 border-start border-primary">
                <label class="form-label">XL</label>
                <div class="row d-flex justify-content-center">
                    <span class="number-label number-label-active number-label-xl paragraph-xs-semibold">1</span>
                </div>
            </div>
        </div>

        <!-- Inactive -->
        <div class="row mt-5">
            <div class="col-2 border-start border-primary">
                <label class="form-label">Inactive: S</label>
                <div class="row d-flex justify-content-center">
                    <span class="number-label number-label-inactive number-label-s paragraph-xs-semibold">1</span>
                </div>
            </div>
            <div class="col-2 border-start border-primary">
                <label class="form-label">L</label>
                <div class="row d-flex justify-content-center">
                    <span class="number-label number-label-inactive number-label-l paragraph-xs-semibold">1</span>
                </div>
            </div>
            <div class="col-2 border-start border-primary">
                <label class="form-label">M</label>
                <div class="row d-flex justify-content-center">
                    <span class="number-label number-label-inactive number-label-m paragraph-xs-semibold">1</span>
                </div>
            </div>
            <div class="col-2 border-start border-primary">
                <label class="form-label">XL</label>
                <div class="row d-flex justify-content-center">
                    <span class="number-label number-label-inactive number-label-xl paragraph-xs-semibold">1</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Status -->
    <div class="row mt-5">
        <h1>Status</h1>
        <!-- Fill -->
        <div class="row col-10">
            <div class="col-2 border-start border-primary">
                <label class="form-label">Fill: Info</label>
                <div class="row d-flex justify-content-center">
                    <span class="status info">Status</span>
                </div>
            </div>
            <div class="col-2 border-start border-primary">
                <label class="form-label">Fill: Success</label>
                <div class="row d-flex justify-content-center">
                    <span class="status success">Status</span>
                </div>
            </div>
            <div class="col-2 border-start border-primary">
                <label class="form-label">Fill: Warning</label>
                <div class="row d-flex justify-content-center">
                    <span class="status warning">Status</span>
                </div>
            </div>
            <div class="col-2 border-start border-primary">
                <label class="form-label">Fill: Error</label>
                <div class="row d-flex justify-content-center">
                    <span class="status error">Status</span>
                </div>
            </div>
            <div class="col-2 border-start border-primary">
                <label class="form-label">Fill: Normal</label>
                <div class="row d-flex justify-content-center">
                    <span class="status normal">Status</span>
                </div>
            </div>
        </div>
        <!-- Text -->
        <div class="row mt-5">
            <div class="row col-10">
                <div class="col-2 border-start border-primary">
                    <label class="form-label">Text: Info</label>
                    <div class="row d-flex justify-content-center">
                        <span class="status info-text">Status</span>
                    </div>
                </div>
                <div class="col-2 border-start border-primary">
                    <label class="form-label">Text: Success</label>
                    <div class="row d-flex justify-content-center">
                        <span class="status success-text">Status</span>
                    </div>
                </div>
                <div class="col-2 border-start border-primary">
                    <label class="form-label">Text: Warning</label>
                    <div class="row d-flex justify-content-center">
                        <span class="status warning-text">Status</span>
                    </div>
                </div>
                <div class="col-2 border-start border-primary">
                    <label class="form-label">Text: Error</label>
                    <div class="row d-flex justify-content-center">
                        <span class="status error-text">Status</span>
                    </div>
                </div>
                <div class="col-2 border-start border-primary">
                    <label class="form-label">Text: Normal</label>
                    <div class="row d-flex justify-content-center">
                        <span class="status normal-text">Status</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page mt-5">
           <label class="form-label">PAGINATOR</label>
        <paginator class="paginator-table mt-3" [totalItems]="1000"></paginator>
    </div>
</div>
