@import "../../../../../scss/variables";
@import "../../../../../scss/mixins";

.content-thirdForm {

    .merchant-button,
    .merchant-button-tertiary {
        ::ng-deep.p-button {
            width: 220px;
        }
    }

    .merchant-button-material.mdc-button {
        width: 220px;
    }

    .text {
        color: $color-text-neutral-sub;
    }
}

.form-business {
    padding: 0px 159px;

    .label {
        color: $color-text-neutral-main;
    }

    .text-infor {
        color: $color-text-neutral-main;
    }
}

.mb-spacing-l {
    margin-bottom: $spacing-l;
}

.mb-spacing-xs {
    margin-bottom: $spacing-xs;
}

::ng-deep.p-dropdown-panel .p-dropdown-items {
    padding: 0.25rem 0.25rem;
}

.alert-info {
    background-color: $color-surface-semantic-information-sub;
    padding: $spacing-m;
    border: 1px solid $color-border-semantic-information-sub;
    border-radius: $border-radius-s;
    margin-bottom: $spacing-l;

    .icon-color {
        color: $color-surface-semantic-information;
        font-size: $typo-font-sizes-3xl;
        line-height: $typo-line-heights-l;
    }
}

.alert-warning {
    background-color: $color-surface-semantic-warning-sub;
    padding: $spacing-m;
    border: 1px solid $color-border-semantic-warning-sub;
    border-radius: $border-radius-s;
    margin-bottom: $spacing-l;

    .icon-color {
        color: $color-surface-semantic-warning;
        font-size: $typo-font-sizes-3xl;
        line-height: $typo-line-heights-l;
    }
}

.payment-form {
    border: 1px solid $color-border-neutral-main;
    border-radius: $border-radius-xs;

    .title {
        padding: $spacing-m;
        background-color: $color-surface-action-sub;
    }

    .payment-info {
        padding: $spacing-l;

        .qr-code {
            padding: $spacing-xs;
        }
    }
}

.add-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: $spacing-m;
    color: $color-text-action-main;
    cursor: pointer;
}

.icon-color {
    color: $color-icon-action-main;
    font-size: $typo-font-sizes-3xl;
    line-height: $typo-line-heights-l;
}

.scroll-box {
    margin-bottom: 70px;
    height: 34vh;
    overflow-y: auto;
}

.scroll-form {
    margin-bottom: 70px;
    overflow-y: auto;
}

.icon-arrow_right {
    color: $color-icon-action-main;
    cursor: pointer;
}

.color-organization {
    color: $color-text-action-main;
}

.title-no-data {
    color: $color-text-neutral-main;
}

.summary-no-data {
    color: $color-text-neutral-sub;
}

.input-error {
    border: 1px solid $color-global-red-red-6 !important;
    box-shadow: none;
}