
<div class="pb-5 wrapper">
    <div class="button-primary">
        <h2 class="col-12 mb-3">1. Button primary</h2>
        <h5 class="col-12 mb-3">1.1. Size L</h5>
        <div class="col-12 row">
            <div class="col-2">
                <label class="form-label col-12">Default, Hover, Focus</label>
                <p-button label="Label" class="merchant-button" icon="icon-default" />
            </div>
            <div class="col-2">
                <label class="form-label col-12">Disabled</label>
                <p-button label="Label" class="merchant-button" icon="icon-default" disabled="true" />
            </div>
            <div class="col-2">
                <label class="form-label col-12">Error</label>
                <p-button label="Label" class="merchant-button merchant-button-error" icon="icon-default" />
            </div>
            <div class="col-2">
                <label class="form-label col-12">Loading</label>
                <p-button class="merchant-button merchant-button-loading" icon="pi pi-spin pi-spinner" />
            </div>
            <div class="col-2">
                <label class="form-label col-12">Skeleton</label>
                <p-skeleton class="button-skeleton" />
            </div>
        </div>
        <div class="col-12 row mt-3">
            <div class="col-2">
                <p-button label="Label" class=" merchant-button" icon="icon-default" iconPos="right" />
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button" icon="icon-default" disabled="true" iconPos="right" />
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button merchant-button-error" icon="icon-default"
                    iconPos="right" />
            </div>
            <div class="col-2">
                <p-button class="merchant-button merchant-button-loading" icon="pi pi-spin pi-spinner" />
            </div>
            <div class="col-2">
                <p-skeleton class="button-skeleton" />
            </div>
        </div>
        <div class="col-12 row mt-3">
            <div class="col-2">
                <p-button label="Label" class=" merchant-button" />
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button" disabled="true" />
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button merchant-button-error" />
            </div>
            <div class="col-2">
                <p-button class="merchant-button merchant-button-loading" icon="pi pi-spin pi-spinner" />
            </div>
            <div class="col-2">
                <p-skeleton class="button-skeleton" />
            </div>
        </div>
        <h5 class="col-12 mb-3 mt-4">1.2. Size M</h5>
        <div class="col-12 row">
            <div class="col-2">
                <p-button label="Label" class="merchant-button merchant-button-m" icon="icon-default" />
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button merchant-button-m" icon="icon-default" disabled="true" />
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button merchant-button-m merchant-button-error"
                    icon="icon-default" />
            </div>
            <div class="col-2">
                <p-button class="merchant-button merchant-button-m merchant-button-loading"
                    icon="pi pi-spin pi-spinner" />
            </div>
            <div class="col-2">
                <p-skeleton class="button-skeleton button-skeleton-m" />
            </div>
        </div>
        <h5 class="col-12 mb-3 mt-4">1.3. Size S</h5>
        <div class="col-12 row">
            <div class="col-2">
                <p-button label="Label" class="merchant-button merchant-button-s" icon="icon-default" />
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button merchant-button-s" icon="icon-default" disabled="true" />
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button merchant-button-s merchant-button-error"
                    icon="icon-default" />
            </div>
            <div class="col-2">
                <p-button class="merchant-button merchant-button-s merchant-button-loading"
                    icon="pi pi-spin pi-spinner" />
            </div>
            <div class="col-2">
                <p-skeleton class="button-skeleton button-skeleton-s" />
            </div>
        </div>
    </div>
    <div class="button-secondary mt-5">
        <h2 class="col-12 mb-3">2. Button secondary</h2>
        <h5 class="col-12 mb-3">2.1. Size L</h5>
        <div class="col-12 row">
            <div class="col-2">
                <label class="form-label col-12">Default, Hover, Focus</label>
                <p-button label="Label" class="merchant-button-secondary" icon="icon-default" />
            </div>
            <div class="col-2">
                <label class="form-label col-12">Disabled</label>
                <p-button label="Label" class="merchant-button-secondary" icon="icon-default" disabled="true" />
            </div>
            <div class="col-2">
                <label class="form-label col-12">Error</label>
                <p-button label="Label" class="merchant-button-secondary merchant-button-secondary-error" icon="icon-default" />
            </div>
            <div class="col-2">
                <label class="form-label col-12">Loading</label>
                <p-button class="merchant-button-secondary merchant-button-loading" icon="pi pi-spin pi-spinner" />
            </div>
            <div class="col-2">
                <label class="form-label col-12">Skeleton</label>
                <p-skeleton class="button-skeleton" />
            </div>
        </div>
        <div class="col-12 row mt-3">
            <div class="col-2">
                <p-button label="Label" class="merchant-button-secondary" icon="icon-default" iconPos="right" />
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button-secondary" icon="icon-default" disabled="true" iconPos="right" />
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button-secondary merchant-button-secondary-error" icon="icon-default"
                    iconPos="right" />
            </div>
            <div class="col-2">
                <p-button class="merchant-button-secondary merchant-button-loading" icon="pi pi-spin pi-spinner" />
            </div>
            <div class="col-2">
                <p-skeleton class="button-skeleton" />
            </div>
        </div>
        <div class="col-12 row mt-3">
            <div class="col-2">
                <p-button label="Label" class="merchant-button-secondary" />
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button-secondary" disabled="true" />
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button-secondary merchant-button-secondary-error" />
            </div>
            <div class="col-2">
                <p-button class="merchant-button-secondary merchant-button-loading" icon="pi pi-spin pi-spinner" />
            </div>
            <div class="col-2">
                <p-skeleton class="button-skeleton" />
            </div>
        </div>
        <h5 class="col-12 mb-3 mt-4">2.2. Size M</h5>
        <div class="col-12 row">
            <div class="col-2">
                <p-button label="Label" class="merchant-button-secondary merchant-button-m" icon="icon-default" />
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button-secondary merchant-button-m" icon="icon-default" disabled="true" />
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button-secondary merchant-button-m merchant-button-secondary-error"
                    icon="icon-default" />
            </div>
            <div class="col-2">
                <p-button class="merchant-button-secondary merchant-button-m merchant-button-loading"
                    icon="pi pi-spin pi-spinner" />
            </div>
            <div class="col-2">
                <p-skeleton class="button-skeleton button-skeleton-m" />
            </div>
        </div>
        <h5 class="col-12 mb-3 mt-4">2.3. Size S</h5>
        <div class="col-12 row">
            <div class="col-2">
                <p-button label="Label" class="merchant-button-secondary merchant-button-s" icon="icon-default" />
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button-secondary merchant-button-s" icon="icon-default" disabled="true" />
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button-secondary merchant-button-s merchant-button-secondary-error"
                    icon="icon-default" />
            </div>
            <div class="col-2">
                <p-button class="merchant-button-secondary merchant-button-s merchant-button-loading"
                    icon="pi pi-spin pi-spinner" />
            </div>
            <div class="col-2">
                <p-skeleton class="button-skeleton button-skeleton-s" />
            </div>
        </div>
    </div>
    <div class="button-tertiary mt-5">
        <h2 class="col-12 mb-3">3. Button tertiary</h2>
        <h5 class="col-12 mb-3">3.1. Size L</h5>
        <div class="col-12 row">
            <div class="col-2">
                <label class="form-label col-12">Default, Hover, Focus</label>
                <p-button label="Label" class="merchant-button-tertiary" icon="icon-default" />
            </div>
            <div class="col-2">
                <label class="form-label col-12">Disabled</label>
                <p-button label="Label" class="merchant-button-tertiary" icon="icon-default" disabled="true" />
            </div>
            <div class="col-2">
                <label class="form-label col-12">Error</label>
                <p-button label="Label" class="merchant-button-tertiary merchant-button-tertiary-error" icon="icon-default" />
            </div>
            <div class="col-2">
                <label class="form-label col-12">Loading</label>
                <p-button class="merchant-button-tertiary merchant-button-loading" icon="pi pi-spin pi-spinner" />
            </div>
            <div class="col-2">
                <label class="form-label col-12">Skeleton</label>
                <p-skeleton class="button-skeleton" />
            </div>
        </div>
        <div class="col-12 row mt-3">
            <div class="col-2">
                <p-button label="Label" class="merchant-button-tertiary" icon="icon-default" iconPos="right" />
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button-tertiary" icon="icon-default" disabled="true" iconPos="right" />
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button-tertiary merchant-button-tertiary-error" icon="icon-default"
                    iconPos="right" />
            </div>
            <div class="col-2">
                <p-button class="merchant-button-tertiary merchant-button-loading" icon="pi pi-spin pi-spinner" />
            </div>
            <div class="col-2">
                <p-skeleton class="button-skeleton" />
            </div>
        </div>
        <div class="col-12 row mt-3">
            <div class="col-2">
                <p-button label="Label" class="merchant-button-tertiary" />
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button-tertiary" disabled="true" />
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button-tertiary merchant-button-tertiary-error" />
            </div>
            <div class="col-2">
                <p-button class="merchant-button-tertiary merchant-button-loading" icon="pi pi-spin pi-spinner" />
            </div>
            <div class="col-2">
                <p-skeleton class="button-skeleton" />
            </div>
        </div>
        <h5 class="col-12 mb-3 mt-4">3.2. Size M</h5>
        <div class="col-12 row">
            <div class="col-2">
                <p-button label="Label" class="merchant-button-tertiary merchant-button-m" icon="icon-default" />
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button-tertiary merchant-button-m" icon="icon-default" disabled="true" />
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button-tertiary merchant-button-m merchant-button-tertiary-error"
                    icon="icon-default" />
            </div>
            <div class="col-2">
                <p-button class="merchant-button-tertiary merchant-button-m merchant-button-loading"
                    icon="pi pi-spin pi-spinner" />
            </div>
            <div class="col-2">
                <p-skeleton class="button-skeleton button-skeleton-m" />
            </div>
        </div>
        <h5 class="col-12 mb-3 mt-4">3.3. Size S</h5>
        <div class="col-12 row">
            <div class="col-2">
                <p-button label="Label" class="merchant-button-tertiary merchant-button-s" icon="icon-default" />
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button-tertiary merchant-button-s" icon="icon-default" disabled="true" />
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button-tertiary merchant-button-s merchant-button-tertiary-error"
                    icon="icon-default" />
            </div>
            <div class="col-2">
                <p-button class="merchant-button-tertiary merchant-button-s merchant-button-loading"
                    icon="pi pi-spin pi-spinner" />
            </div>
            <div class="col-2">
                <p-skeleton class="button-skeleton button-skeleton-s" />
            </div>
        </div>
    </div>
    <div class="button-tertiary mt-5">
        <h2 class="col-12 mb-3">4. Button text</h2>
        <h5 class="col-12 mb-3 mt-4">4.1. Size M</h5>
        <div class="col-12 row">
            <div class="col-2">
                <p-button label="Label" class="merchant-button-text merchant-button-m" icon="icon-default" />
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button-text merchant-button-m" icon="icon-default" disabled="true" />
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button-text merchant-button-m merchant-button-text-error"
                    icon="icon-default" />
            </div>
            <div class="col-2">
                <p-button class="merchant-button-text merchant-button-m merchant-button-loading"
                    icon="pi pi-spin pi-spinner" iconPos="right"><span class="icon-default input-icon"></span><span class="label">Label </span> </p-button>
            </div>
            <div class="col-2">
                <p-skeleton class="button-skeleton button-text-skeleton-m" />
            </div>
        </div>
        <div class="col-12 row">
            <div class="col-2">
                <p-button label="Label" class="merchant-button-text merchant-button-m" icon="icon-default" iconPos="right" />
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button-text merchant-button-m" icon="icon-default" disabled="true" iconPos="right" />
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button-text merchant-button-m merchant-button-text-error"
                    icon="icon-default" iconPos="right" />
            </div>
            <div class="col-2">
                <p-button class="merchant-button-text merchant-button-m"
                    icon="pi pi-spin pi-spinner" iconPos="right" label="Label" />
            </div>
            <div class="col-2">
                <p-skeleton class="button-skeleton button-text-skeleton-m" />
            </div>
        </div>
        <div class="col-12 row">
            <div class="col-2">
                <p-button label="Label" class="merchant-button-text merchant-button-m" />
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button-text merchant-button-m" disabled="true" />
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button-text merchant-button-m merchant-button-text-error" />
            </div>
            <div class="col-2">
                <p-button class="merchant-button-text merchant-button-m"
                    icon="pi pi-spin pi-spinner" iconPos="right" label="Label" />
            </div>
            <div class="col-2">
                <p-skeleton class="button-skeleton button-text-skeleton-m" />
            </div>
        </div>
        <h5 class="col-12 mb-3 mt-4">4.2. Size S</h5>
        <div class="col-12 row">
            <div class="col-2">
                <p-button label="Label" class="merchant-button-text merchant-button-s" icon="icon-default" />
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button-text merchant-button-s" icon="icon-default" disabled="true" />
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button-text merchant-button-s merchant-button-text-error"
                    icon="icon-default" />
            </div>
            <div class="col-2">
                <p-button class="merchant-button-text merchant-button-s merchant-button-loading"
                    icon="pi pi-spin pi-spinner" iconPos="right"><span class="icon-default input-icon"></span><span class="label">Label </span> </p-button>
            </div>
            <div class="col-2">
                <p-skeleton class="button-skeleton button-text-skeleton-s" />
            </div>
        </div>
        <div class="col-12 row">
            <div class="col-2">
                <p-button label="Label" class="merchant-button-text merchant-button-s" icon="icon-default" iconPos="right" />
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button-text merchant-button-s" icon="icon-default" disabled="true" iconPos="right" />
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button-text merchant-button-s merchant-button-text-error" iconPos="right" 
                    icon="icon-default" />
            </div>
            <div class="col-2">
                <p-button class="merchant-button-text merchant-button-s"
                    icon="pi pi-spin pi-spinner" iconPos="right" label="Label"> </p-button>
            </div>
            <div class="col-2">
                <p-skeleton class="button-skeleton button-text-skeleton-s" />
            </div>
        </div>
        <div class="col-12 row">
            <div class="col-2">
                <p-button label="Label" class="merchant-button-text merchant-button-s"/>
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button-text merchant-button-s" disabled="true"/>
            </div>
            <div class="col-2">
                <p-button label="Label" class="merchant-button-text merchant-button-s merchant-button-text-error"/>
            </div>
            <div class="col-2">
                <p-button class="merchant-button-text merchant-button-s"
                    icon="pi pi-spin pi-spinner" iconPos="right" label="Label"> </p-button>
            </div>
            <div class="col-2">
                <p-skeleton class="button-skeleton button-text-skeleton-s" />
            </div>
        </div>
    </div>
    <div class="button-icon mt-5">
        <h2 class="col-12 mb-3">5. Button icon</h2>
        <h4 class="col-12 mb-3 mt-4">5.1. Dark</h4>
        <h6 class="col-12 mb-3 mt-4">5.1.1. Size XL</h6>
        <div class="col-12 row">
            <div class="row text-center">
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-xl" icon="icon-default" />
                    <label class="label title-s-semibold">Title</label>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-xl" icon="icon-default" disabled="true"/>
                    <label class="label title-s-semibold">Title</label>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-xl" icon="pi pi-spin pi-spinner" />
                    <label class="label title-s-semibold">Title</label>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-skeleton class="button-icon-skeleton xl" />
                    <p-skeleton class="label-skeleton xl" />
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-xl" icon="icon-default" />
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-xl" icon="icon-default" disabled="true"/>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-xl" icon="pi pi-spin pi-spinner" />
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-skeleton class="button-icon-skeleton xl" />
                </div>
            </div>
        </div>
        <h6 class="col-12 mb-3 mt-4 pl-3">Show shadow</h6>
        <div class="col-12 row">
            <div class="row text-center">
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-xl button-show-shadow" icon="icon-default" />
                    <label class="label title-s-semibold">Title</label>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-xl button-show-shadow" icon="icon-default" disabled="true"/>
                    <label class="label title-s-semibold">Title</label>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-xl button-show-shadow" icon="pi pi-spin pi-spinner" />
                    <label class="label title-s-semibold">Title</label>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-skeleton class="button-icon-skeleton xl" />
                    <p-skeleton class="label-skeleton xl" />
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-xl button-show-shadow" icon="icon-default" />
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-xl button-show-shadow" icon="icon-default" disabled="true"/>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-xl button-show-shadow" icon="pi pi-spin pi-spinner" />
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-skeleton class="button-icon-skeleton xl" />
                </div>
            </div>
        </div>
        <h6 class="col-12 mb-3 mt-4">5.1.2. Size S</h6>
        <div class="col-12 row">
            <div class="row text-center">
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-s" icon="icon-default" />
                    <label class="label label-s title-xs-semibold">Title</label>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-s" icon="icon-default" disabled="true"/>
                    <label class="label label-s title-xs-semibold">Title</label>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-s" icon="pi pi-spin pi-spinner" />
                    <label class="label label-s title-xs-semibold">Title</label>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-skeleton class="button-icon-skeleton s" />
                    <p-skeleton class="label-skeleton s" />
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-s" icon="icon-default" />
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-s" icon="icon-default" disabled="true"/>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-s" icon="pi pi-spin pi-spinner" />
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-skeleton class="button-icon-skeleton s" />
                </div>
            </div>
        </div>
        <h6 class="col-12 mb-3 mt-4">5.1.3. Size M</h6>
        <div class="col-12 row">
            <div class="row text-center">
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-m" icon="icon-default" />
                    <label class="label label-m title-xs-semibold">Title</label>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-m" icon="icon-default" disabled="true"/>
                    <label class="label label-m title-xs-semibold">Title</label>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-m" icon="pi pi-spin pi-spinner" />
                    <label class="label label-m title-xs-semibold">Title</label>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-skeleton class="button-icon-skeleton m" />
                    <p-skeleton class="label-skeleton m" />
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-m" icon="icon-default" />
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-m" icon="icon-default" disabled="true"/>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-m" icon="pi pi-spin pi-spinner" />
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-skeleton class="button-icon-skeleton m" />
                </div>
            </div>
        </div>
        <h6 class="col-12 mb-3 mt-4">5.1.4. Size L</h6>
        <div class="col-12 row">
            <div class="row text-center">
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-l" icon="icon-default" />
                    <label class="label title-s-semibold">Title</label>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-l" icon="icon-default" disabled="true"/>
                    <label class="label title-s-semibold">Title</label>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-l" icon="pi pi-spin pi-spinner" />
                    <label class="label title-s-semibold">Title</label>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-skeleton class="button-icon-skeleton l" />
                    <p-skeleton class="label-skeleton l" />
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-l" icon="icon-default" />
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-l" icon="icon-default" disabled="true"/>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-l" icon="pi pi-spin pi-spinner" />
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-skeleton class="button-icon-skeleton l" />
                </div>
            </div>
        </div>
        <h4 class="col-12 mb-3 mt-4">5.2. Light</h4>
        <h6 class="col-12 mb-3 mt-4">5.2.1. Size XL</h6>
        <div class="col-12 row">
            <div class="row text-center">
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-xl button-light" icon="icon-default" />
                    <label class="label title-s-semibold">Title</label>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-xl button-light" icon="icon-default" disabled="true"/>
                    <label class="label title-s-semibold">Title</label>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-xl button-light" icon="pi pi-spin pi-spinner" />
                    <label class="label title-s-semibold">Title</label>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-skeleton class="button-icon-skeleton xl" />
                    <p-skeleton class="label-skeleton xl" />
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-xl button-light" icon="icon-default" />
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-xl button-light" icon="icon-default" disabled="true"/>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-xl button-light" icon="pi pi-spin pi-spinner" />
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-skeleton class="button-icon-skeleton xl" />
                </div>
            </div>
        </div>
        <h6 class="col-12 mb-3 mt-4 pl-3">Show shadow</h6>
        <div class="col-12 row">
            <div class="row text-center">
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-xl button-light button-show-shadow" icon="icon-default" />
                    <label class="label title-s-semibold">Title</label>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-xl button-light button-show-shadow" icon="icon-default" disabled="true"/>
                    <label class="label title-s-semibold">Title</label>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-xl button-light button-show-shadow" icon="pi pi-spin pi-spinner" />
                    <label class="label title-s-semibold">Title</label>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-skeleton class="merchant-button-icon button-icon-skeleton xl" />
                    <p-skeleton class="label-skeleton xl" />
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-xl button-light button-show-shadow" icon="icon-default" />
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-xl button-light button-show-shadow" icon="icon-default" disabled="true"/>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-xl button-light button-show-shadow" icon="pi pi-spin pi-spinner" />
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-skeleton class="button-icon-skeleton xl" />
                </div>
            </div>
        </div>
        <h6 class="col-12 mb-3 mt-4">5.2.2. Size S</h6>
        <div class="col-12 row">
            <div class="row text-center">
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-s button-light" icon="icon-default" />
                    <label class="label label-s title-xs-semibold">Title</label>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-s button-light" icon="icon-default" disabled="true"/>
                    <label class="label label-s title-xs-semibold">Title</label>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-s button-light" icon="pi pi-spin pi-spinner" />
                    <label class="label label-s title-xs-semibold">Title</label>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-skeleton class="merchant-button-icon button-icon-skeleton s" />
                    <p-skeleton class="label-skeleton s" />
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-s button-light" icon="icon-default" />
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-s button-light" icon="icon-default" disabled="true"/>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-s button-light" icon="pi pi-spin pi-spinner" />
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-skeleton class="button-icon-skeleton s" />
                </div>
            </div>
        </div>
        <h6 class="col-12 mb-3 mt-4">5.2.3. Size M</h6>
        <div class="col-12 row">
            <div class="row text-center">
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-m button-light" icon="icon-default" />
                    <label class="label label-m title-xs-semibold">Title</label>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-m button-light" icon="icon-default" disabled="true"/>
                    <label class="label label-m title-xs-semibold">Title</label>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-m button-light" icon="pi pi-spin pi-spinner" />
                    <label class="label label-m title-xs-semibold">Title</label>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-skeleton class="button-icon-skeleton m" />
                    <p-skeleton class="label-skeleton m" />
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-m button-light" icon="icon-default" />
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-m button-light" icon="icon-default" disabled="true"/>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-m button-light" icon="pi pi-spin pi-spinner" />
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-skeleton class="button-icon-skeleton m" />
                </div>
            </div>
        </div>
        <h6 class="col-12 mb-3 mt-4">5.2.4. Size L</h6>
        <div class="col-12 row">
            <div class="row text-center">
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-l button-light" icon="icon-default" />
                    <label class="label title-s-semibold">Title</label>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-l button-light" icon="icon-default" disabled="true"/>
                    <label class="label title-s-semibold">Title</label>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-l button-light" icon="pi pi-spin pi-spinner" />
                    <label class="label title-s-semibold">Title</label>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-skeleton class="button-icon-skeleton l" />
                    <p-skeleton class="label-skeleton l" />
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-l button-light" icon="icon-default" />
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-l button-light" icon="icon-default" disabled="true"/>
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-button class="merchant-button-icon button-l button-light" icon="pi pi-spin pi-spinner" />
                </div>
                <div class="merchant-button-group" style="width: 150px;">
                    <p-skeleton class="button-icon-skeleton l" />
                </div>
            </div>
        </div>
    </div>
</div>

