<div class="d-flex justify-content-between mb-4">
    <h1 class="header-m-semibold">
        {{roleId > 0 ? "Chỉnh sửa" : "Thêm mới"}} vai trò
    </h1>
</div>
<mat-stepper class="step-role" [selectedIndex]="currentStep" [disableRipple]="true"
    (selectionChange)="onStepChange($event)" [linear]="true" #stepper>
    <!-- <ng-template matStepperIcon="edit" let-index="index">
    {{ index + 1 }}
  </ng-template> -->

    <mat-step [stepControl]="formNameRole" label="Nhập thông tin">
        <form [formGroup]="formNameRole">
            <div class="content-first">
                <div class="col-12 mb-4">
                    <label class="form-label title-s-semibold">Tên vai trò <span class="required">*</span></label>
                    <div class="p-inputgroup">
                        <input appInputSanitize type="text" pInputText class="merchant-input" formControlName="roleName"
                            placeholder="Tối đa 50 ký tự (Ví dụ: Nhân viên thu ngân, Nhân viên bán hàng, Kế toán...)"
                            (keydown.enter)="onEnterRoleName($event)" appShowClearOnFocus=".clear-icon"/>
                        @if(this.formNameRole.get('roleName')?.value){
                        <span class="p-input-icon-right clear-icon" (mousedown)="clearValue('roleName')">
                            <i class="icon-close_circle_solid input-icon input-icon-close"></i>
                        </span>
                        }
                    </div>
                    @if (formNameRole.controls['roleName'].dirty
                    && formNameRole.controls['roleName'].invalid) {
                    <div class="input-erorr">
                        <span class="icon-error_solid"></span>
                        @if (formNameRole.controls['roleName'].hasError('required')) {
                        Vui lòng nhập thông tin
                        }
                        @else if(formNameRole.controls['roleName'].hasError('roleExists')){
                        Tên vai trò đã tồn tại
                        }
                        @else if(formNameRole.controls['roleName'].hasError('maxlength')){
                        Tối đa 50 ký tự
                        }
                        @else if(formNameRole.controls['roleName'].hasError('pattern')){
                        {{textError}}
                        }
                    </div>
                    }
                </div>
                <div class="col-12">
                    <label class="form-label title-s-semibold">Mô tả</label>
                    <div class="p-inputgroup p-textaregroup">
                        <textarea appInputSanitize rows="9" pInputTextarea formControlName="description"
                            class="merchant-input" placeholder="Nhập mô tả chi tiết cho vai trò"  appShowClearOnFocus=".clear-icon">
                               </textarea>
                        <span class="count-length">{{ this.formNameRole.get("description")?.value?.length }}/150</span>
                        @if(this.formNameRole.get('description')?.value){
                        <span class="p-input-icon-right clear-icon" (click)="clearValue('description')">
                            <i class="icon-close_circle_solid input-icon input-icon-close"></i>
                        </span>
                        }
                    </div>
                    @if (formNameRole.controls['description'].dirty
                    && formNameRole.controls['description'].invalid) {
                    <div class="m-caption error">
                        <div class="icon-caption">
                            <span class="icon-error_solid"></span>
                        </div>
                        @if(formNameRole.controls['description'].hasError('maxlength')){
                        <span class="text-caption paragraph-m-regular">Tối đa 150 ký tự</span>
                        }
                    </div>
                    }
                </div>
            </div>
            <div class="div-button">
                <p-button label="Hủy" class="merchant-button-tertiary mr-16" (mousedown)="onCancel()" />
                <button [disabled]="formNameRole.invalid" mat-button (click)="onContinue()"
                    class="merchant-button-material">
                    Tiếp tục
                </button>
            </div>

        </form>
    </mat-step>
    <mat-step label="Cấp quyền chức năng">
        <div class="row content-feature">
            <div class="col-lg-4 col-md-6 mb-24" *ngFor="let feature of listFunctionConvert">
                <div class="item">
                    <div class="level-0">
                        <mat-checkbox [(ngModel)]="feature.isChoose" (change)="onParentCheckboxChange(feature)"
                            [indeterminate]="feature.partiallyComplete">
                            <span class="title title-m-bold">{{ feature.name}}</span>
                        </mat-checkbox>
                    </div>
                    <div *ngIf="feature.children.length > 0">
                        <div *ngFor="let child of feature.children">
                            <div class="level-1">
                                <mat-checkbox [(ngModel)]="child.isChoose" (change)="onChildCheckboxChange(child)"
                                    [indeterminate]="child.partiallyComplete">
                                    <span class="title title-s-semibold">{{ child.name }}</span>
                                </mat-checkbox>
                            </div>
                            <div *ngIf=" child.children.length> 0">
                                <div *ngFor="let grandChild of child.children">
                                    <div class="level-2">
                                        <mat-checkbox [(ngModel)]="grandChild.isChoose"
                                            (change)="onChildCheckboxChange(grandChild)">
                                            <span class="title title-s-regular">{{ grandChild.name }}</span>
                                        </mat-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-button">
            <button (click)="doPreStep()" mat-button class="merchant-button-material-tertiary mr-16">Quay lại</button>
            <p-button *ngIf="roleId != null" label="Cập nhật" class="merchant-button" (click)="doSaveRole()"
                [disabled]="listFunctionIdsSelected.length == 0 || formNameRole.invalid" />
            <p-button *ngIf="roleId == null" label="Thêm vai trò" class="merchant-button" (click)="doSaveRole()"
                [disabled]="listFunctionIdsSelected.length == 0 || formNameRole.invalid" />
        </div>
    </mat-step>
    <mat-step label="Hoàn tất">
        <div class="content-thirdForm d-flex flex-column align-items-center header-xs-bold mt-40">
            <ng-container *ngIf="isSuccess === 1">
                <img [src]="assetPath +'/assets/images/image-success.svg'" alt="Success" />
                <div class="mt-3"> {{ roleId != null ? 'Cập nhật' : 'Thêm mới' }} vai trò thành công:</div>
                <div> {{this.formNameRole.get('roleName')?.value}}</div>
                <ng-container *ngIf="!this.isHasRoleAddUser || this.countUserInRole > 0">
                    <div *ngIf="roleId != null && countUserInRole > 0" class="text title-s-regular mt-3">Thay đổi sẽ
                        được áp
                        dụng cho tất cả nhân sự đang được
                        gán vào vai trò.
                    </div>
                    <p-button label="Về trang quản lý" class="merchant-button mt-4" (click)="backRole()" />

                </ng-container>
                <ng-container *ngIf="this.isHasRoleAddUser && this.countUserInRole == 0">
                    <div class="text title-s-regular mt-3">Bạn có thể thiết lập gán nhân sự cho vai trò này.</div>
                    <p-button label="Thêm mới nhân sự" class="merchant-button mt-4" />
                    <p-button label="Về trang quản lý" class="merchant-button-tertiary mt-4" (click)="backRole()" />
                </ng-container>
            </ng-container>

            <ng-container *ngIf="isSuccess === 0">
                <img [src]="assetPath +'/assets/images/image-false.svg'" alt="False" />
                <div class="mt-3"> {{ roleId != null ? 'Cập nhật' : 'Thêm mới' }} vai trò không thành công:</div>
                <div> {{this.formNameRole.get('roleName')?.value}}</div>
                <div class="text title-s-regular mt-3">Đã xảy ra lỗi. Vui lòng thực hiện lại.</div>
                <button (click)="this.doPreStep()" mat-button class="merchant-button-material mt-4" width="500px">
                    Thực hiện lại</button>
                <p-button label="Về trang quản lý" class="merchant-button-tertiary" (click)="backRole()" />
            </ng-container>
        </div>
    </mat-step>
</mat-stepper>