// ==============================Checkbox=======================
.m-checkbox {
  .p-checkbox .p-checkbox-box {
    position: relative;
  }

  .p-checkbox .p-checkbox-box.p-highlight {
    border: $color-surface-action-main;
    background: $color-surface-action-main;
  }

  .p-checkbox .p-checkbox-box.p-highlight::before {
    content: "\e91e";
    font-family: "webmerchant";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: $typo-font-sizes-3xl;
    color: $color-global-neutral-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }

  .p-disabled {
    border-color: $color-global-neutral-neutral-4;
  }

  .p-checkbox .p-checkbox-icon {
    display: none !important;
  }

  &.indeterminate {
    .p-checkbox .p-checkbox-box.p-highlight::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 24px;
      height: 24px;
      transform: translate(-50%, -50%);
      pointer-events: none;
      background-image: url('../assets/images/icon-square-checked-minus.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &.hover {
    .p-checkbox .p-checkbox-box:hover {
      border-color: $color-global-blue-blue-5;
      background: transparent;
    }

    .p-checkbox .p-checkbox-box.p-highlight:hover {
      background: $color-global-blue-blue-5;
    }
  }

  &.pressed {
    .p-checkbox .p-checkbox-box {
      border-color: $color-icon-action-main;
      background: transparent;
      box-shadow: 0 0 0 0.2rem $color-global-primary-primary-3;
    }

    .p-checkbox .p-checkbox-box.p-highlight {
      background: $color-icon-action-main;
      outline: 0 none;
      outline-offset: 0;
      border-color: $color-global-primary-primary-6;
      box-shadow: 0 0 0 0.2rem $color-global-primary-primary-3;
      transition: box-shadow 0.2s ease;
    }
  }

  &.disabled {
    .p-checkbox .p-checkbox-box {
      background: $color-global-neutral-neutral-2;
    }

    .p-checkbox .p-checkbox-box.p-highlight {
      background: $color-global-neutral-neutral-3 !important;
    }
  }
}

// ============================Radio=========================
.m-radio {
  .p-radiobutton .p-radiobutton-box {
    border-color: $color-icon-action-main;
    background: transparent;
  }

  .p-radiobutton .p-radiobutton-box.p-highlight {
    background: $color-icon-action-main;
  }

  .p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
    width: 8px;
    height: 8px;
  }

  .p-radiobutton-icon {
    background-color: $color-global-neutral-white;
  }

  &.pressed {
    .p-radiobutton .p-radiobutton-box {
      border-color: $color-icon-action-main;
      background: transparent;
      box-shadow: 0 0 0 0.2rem $color-global-primary-primary-3;
    }

    .p-radiobutton .p-radiobutton-box.p-highlight {
      background: $color-icon-action-main;
      outline: 0 none;
      outline-offset: 0;
      border-color: $color-global-primary-primary-6;
      box-shadow: 0 0 0 0.2rem $color-global-primary-primary-3;
      transition: box-shadow 0.2s ease;
    }
  }

  &.hover {
    .p-radiobutton .p-radiobutton-box:hover {
      border-color: $color-global-blue-blue-5;
      background: transparent;
    }

    .p-radiobutton .p-radiobutton-box.p-highlight:hover {
      background: $color-global-blue-blue-5;
    }
  }
}

.m-radio-check {
  .p-radiobutton-box {
    position: relative;
  }

  .p-radiobutton-icon {
    display: none !important;
  }

  .p-radiobutton-box.p-highlight::before {
    content: "\e91e";
    font-family: "webmerchant";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: $typo-font-sizes-3xl;
    color: $color-global-neutral-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
  }
}

.m-radio-pressed {
  .p-radiobutton-box:active {
    outline: 0 none;
    box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.3);
    border-color: #2196f3;
  }
}

// =============================m-toggle-switch============================
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: $color-surface-action-main;
}

.p-inputswitch-slider {
  &:hover {
    background: $color-surface-action-main;
    opacity: 0.8;
  }
}

//==============================m-chip=====================================
.m-chip {
  display: flex;
  align-items: center;
  border-radius: $border-radius-xs;
  gap: $spacing-none;
  padding: $spacing-xs;
  width: fit-content;
  cursor: pointer;

  .text-chip {
    vertical-align: middle;
    letter-spacing: 0;
    text-align: center;
    @include typo-style($typo-font-sizes-l);
    padding: 0px $spacing-3xs 0px $spacing-2xs;
  }

  .badge-x {
    display: flex;
    align-items: center;
    justify-content: center;
    @include typo-style($typo-font-sizes-xs);
    border-radius: $border-radius-l;
    padding: $spacing-4xs;
    background-color: $color-surface-highlight-sub;
    color: $color-text-action-main;
    width: 16px;
    height: 16px;
  }
}

.m-chip-default {
  border: 1px solid $color-border-neutral-main;
  background-color: $color-surface-neutral-main;
  color: $color-text-neutral-main;
}

.m-chip-active {
  border: 1px solid $color-border-action-main;
  background-color: $color-surface-neutral-sub;
  color: $color-text-action-main;
}

.m-chip-l {
  height: 40px;
}

.m-chip-m {
  height: 30px;
}

.m-chip-s {
  height: 24px;
}