.dot-label {
  width: 12px;
  height: 12px;
  padding: $spacing-3xs;
  border-radius: $border-radius-s;
  background-color: $color-global-red-red-6;
  border: 2px solid $color-global-neutral-white;
}

.icon-label-red {
  width: 24px;
  height: 24px;
  padding: $spacing-2xs;
  border-radius: 50%;
  border: 2px solid $color-global-neutral-white;
  background: $color-global-red-red-6;
  background-image: url("../../src/assets/images/icon-check.svg");
  background-size: cover;
}

.number-label-red {
  width: 24px;
  height: 24px;
  display: flex;
  text-align: center;
  justify-content: center;
  color: $color-global-neutral-white;
  padding: $spacing-2xs;
  border-radius: 50%;
  border: 2px solid $color-global-neutral-white;
  background: $color-global-red-red-6;
}

.number-label {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $border-radius-l;

  &-active {
    background-color: $color-surface-highlight-sub;
    color: $color-text-action-main;
  }

  &-inactive {
    background-color: $color-global-neutral-neutral-1;
    color: $color-global-neutral-neutral-9;
  }

  &-s {
    width: 16px;
    height: 16px;
    padding: $spacing-4xs;
  }

  &-l {
    width: 32px;
    height: 32px;
    padding: $spacing-2xs;
  }

  &-m {
    width: 22px;
    height: 22px;
    padding: $spacing-3xs;
  }

  &-xl {
    width: 40px;
    height: 40px;
    padding: $spacing-xs;
    border-radius: $border-radius-round !important;
  }
}

.status {
  width: fit-content;
  position: relative;
  padding-left: $spacing-m;
  padding: $spacing-2xs $spacing-xs $spacing-2xs $spacing-m;
  text-transform: uppercase;
  border-radius: $border-radius-l;
  @include typo-style($typo-font-sizes-xs, $typo-font-weights-semibold, none, none, $font-family-semiBold);

  &::before {
    content: '•';
    position: absolute;
    left: 5px;
    font-size: $typo-font-sizes-2xl;
    top: 2px;
  }

  &.info {
    background: $color-global-primary-primary-1;
    color: $color-global-blue-blue-6;
  }

  &.info-text {
    background: transparent;
    color: $color-global-blue-blue-6;
  }

  &.success {
    background: $color-global-green-green-1;
    color: $color-global-green-green-6;
  }

  &.success-text {
    background: transparent;
    color: $color-global-green-green-6;
  }

  &.warning {
    background: $color-global-orange-orange-1;
    color: $color-global-orange-orange-6;
  }

  &.warning-text {
    background: transparent;
    color: $color-global-orange-orange-6;
  }

  &.error {
    background: $color-global-red-red-1;
    color: $color-global-red-red-6;
  }

  &.error-text {
    background: transparent;
    color: $color-global-red-red-6;
  }

  &.normal {
    background: $color-global-neutral-neutral-2;
    color: $color-global-neutral-neutral-7;
  }

  &.normal-text {
    background: transparent;
    color: $color-global-neutral-neutral-7;
  }
}
