.m-radio {
  ::ng-deep.p-radiobutton .p-radiobutton-box {
    border-color: $color-icon-action-main;
  }
  ::ng-deep.p-radiobutton .p-radiobutton-box.p-highlight {
    background: $color-icon-action-main;
  }
  ::ng-deep.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
    width: 8px;
    height: 8px;
  }

  ::ng-deep .p-radiobutton-icon{
    background-color: $color-global-neutral-white;
  }
}

.m-radio-check{
  ::ng-deep.p-radiobutton .p-radiobutton-box.p-highlight {
    background: $color-icon-action-main;
    background-image: url("../assets/images/icon-check.svg");
    background-size: cover;
  }
  ::ng-deep.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
    width: 0px;
    height: 0px;
  }
}