@import "../scss/variables";
@import "../scss/mixins.scss";

.mat-mdc-tooltip-surface {
  background-color: $color-global-neutral-white !important;
  color: $color-global-neutral-black !important;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.15);
  white-space: pre-wrap;
  word-break: break-word;
}

.form-remark {
  color: $color-global-blue-blue-6;
  margin: $spacing-none;
  font-weight: $typo-font-weights-regular;
}

.form-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: $spacing-3xs;
  margin-bottom: $spacing-l;
  padding-left: $spacing-none;
  padding-right: $spacing-none;
  @include typo-style($typo-font-sizes-m,
    $typo-font-weights-regular,
    none,
    none);
  position: relative;

  >.d-flex {
    @include flexWidth(1, 0, 100%);
  }

  .form-group {
    margin-top: $spacing-none;
    margin-bottom: $spacing-none;
  }

  .app-radio {
    width: 100%;
  }

  .form-remark {
    //position: absolute;
    //bottom: -1.5rem;
    //left: 0;
  }

  .form-input-row {
    display: flex;
    flex-direction: row;
    gap: 2;
    justify-content: space-between;
    padding-left: $spacing-none;
    padding-right: $spacing-none;
    position: relative;

    button.btn {
      margin: $spacing-none;
    }

    input {
      flex: 1 0 auto;
    }

    .form-icon-clear {
      position: absolute;
      right: $spacing-xs;
      cursor: pointer;
      z-index: 1;
      display: flex;
      align-items: center;
      height: 90%;
      margin-top: $spacing-3xs;
      font-size: $typo-font-sizes-3xl;
      background-color: $color-global-neutral-white;
      color: $color-icon-neutral-sub-3;
    }

    .form-icon-prefix {
      position: absolute;
      left: $spacing-xs;
      cursor: pointer;
      z-index: 1;
      display: flex;
      align-items: center;
      height: 90%;
      margin-top: $spacing-3xs;
      margin-left: $spacing-3xs;
      font-size: $typo-font-sizes-3xl;
      background-color: $color-global-neutral-white;
      color: $color-global-neutral-neutral-12;
    }

    .form-icon-surfix {
      position: absolute;
      right: $spacing-xs;
      cursor: pointer;
      z-index: 1;
      display: flex;
      align-items: center;
      height: 90%;
      margin-top: $spacing-3xs;
      margin-left: $spacing-3xs;
      font-size: $typo-font-sizes-3xl;
      background-color: $color-global-neutral-white;
      color: $color-global-neutral-neutral-12;
    }

    .form-control.with-prefix {
      padding-left: $spacing-3xl !important;
    }
  }

  >div {
    @include flexWidth(1, 0, 100%);
  }

  label {
    font-weight: $typo-font-weights-semibold;
    display: flex;
    align-items: center;
    min-height: 2.3rem;
    @include flexWidth(1, 0, 100%);

    mat-icon.mbb-icon {
      font-weight: $typo-font-weights-regular;
      font-size: $typo-font-sizes-xl;
      width: 18px;
      height: 18px;
      margin-bottom: $spacing-3xs;
    }
  }

  >input.form-control {
    @include flexWidth(1, 0, 100%);
  }

  textarea.form-control {
    height: 3rem;
    resize: none;
  }

  input.form-control,
  textarea.form-control {
    padding: $spacing-s;
    font-size: $typo-font-sizes-l;
    line-height: $typo-line-heights-m;
    border: solid 1px $color-global-neutral-neutral-2;
    width: 100%;
    font-family: $font-family-regular;
    background-color: $color-global-neutral-white;
    @include border-radius($border-radius-s);

    &::placeholder {
      color: $color-text-neutral-sub-3;
      font-size: $typo-font-sizes-m;
    }

    &:focus,
    &:hover {
      border-color: $color-global-blue-blue-6 !important;
      // outline: thin dotted;
      box-shadow: 0 0 0 2px $color-border-action-main-hover-2;
    }

    &.mat-input-element {
      width: initial;
      margin-top: $spacing-none;
    }

    &[disabled] {
      background-color: $color-global-neutral-neutral-1;
      color: $color-global-white-alpha-white-alpha-10;

      &:focus,
      &:hover {
        border: solid 1px $color-global-neutral-neutral-2 !important;
        box-shadow: unset !important;
        cursor: default;
      }
    }

    &[readonly] {
      background-color: $color-global-neutral-neutral-1;
      color: $color-global-white-alpha-white-alpha-10;

      &:focus,
      &:hover {
        box-shadow: unset !important;
        border: solid 1px $color-global-neutral-neutral-2 !important;
        cursor: default;
      }
    }
  }

  select.input-control {
    &[disabled] {
      background-color: $color-global-neutral-neutral-1;
      border-color: $color-global-blue-blue-2;
      color: $color-global-white-alpha-white-alpha-10;
    }

    &[readonly] {
      background-color: $color-global-neutral-neutral-1;
      border-color: $color-global-white-alpha-white-alpha-80;
      color: $color-global-white-alpha-white-alpha-10;
    }
  }

  &.error {
    >label {
      mat-icon.mbb-icon {
        color: $color-global-red-red-6;
      }
    }

    .form-remark {
      color: $color-global-red-red-6;
      font-family: $font-family-regular;
      font-size: $typo-font-sizes-m;

      .icon-error_solid {
        font-size: $typo-font-sizes-xl !important;
      }
    }

    input,
    textarea {
      border-color: $color-global-red-red-6 !important;
    }

    select {
      border-color: $color-global-red-red-6;
    }

    mat-mdc-select {
      border-color: $color-global-red-red-6;
    }
  }

  &.success {
    mat-icon.mbb-icon {
      color: $color-global-green-green-6;
    }

    .form-remark {
      color: $color-global-green-green-6;
    }

    input {
      border-color: $color-global-green-green-6;
    }

    select {
      border-color: $color-global-green-green-6;
    }

    mat-mdc-select {
      border-color: $color-global-green-green-6;
    }
  }

  .mat-radio-button {
    &.mat-accent {
      &.mat-radio-checked {
        .mat-radio-outer-circle {
          background-color: transparent;
          border-color: $color-global-blue-blue-6;
        }
      }

      .mat-radio-inner-circle {
        background-color: $color-global-blue-blue-6;
      }

      .mat-radio-ripple .mat-ripple-element {
        background-color: opacity-color($color-global-blue-blue-6, 0.3);
      }
    }
  }

  .mat-mdc-select[aria-disabled="true"] {
    background-color: whitesmoke;
  }

  .mat-checkbox {
    &.mat-accent {
      .mat-checkbox-ripple {

        .mat-ripple,
        .mat-ripple-element {
          background-color: opacity-color($color-global-blue-blue-6,
              0.3) !important;
        }
      }
    }
  }

  .mat-checkbox-checked {
    &.mat-accent {
      .mat-checkbox-background {
        background-color: $color-global-blue-blue-6;
      }
    }
  }

  .mat-checkbox-checked.mat-accent,
  .mat-checkbox-indeterminate.mat-accent {
    .mat-checkbox-background {
      background-color: $color-global-blue-blue-6;
    }
  }

  .mat-mdc-select {
    padding: 0.75rem;
    border: solid 1px $color-global-blue-blue-2;
    border-radius: 0.5rem;
    max-height: calc(3.25rem - 4px);
    padding-top: calc(0.75rem - 2px);

    &[disabled],
    [aria-disabled="true"] {
      background-color: whitesmoke;
      border-color: $color-global-blue-blue-2;
      color: $color-global-white-alpha-white-alpha-10;
    }

    &[aria-disabled="false"]:focus {
      border: solid 1px $color-global-blue-blue-6;
    }

    .mat-mdc-select-value {
      color: $color-global-white-alpha-white-alpha-10;
      font-size: $typo-font-sizes-m;
    }
  }
}

.form-label {
  font-size: $typo-font-sizes-m;
  font-weight: bold;
  font-family: $font-family-regular;
}

.mat-mdc-select-panel {
  @include ie-only {
    max-width: none !important;
  }
}

input {
  &.upper {
    text-transform: uppercase;
  }

  &.pl-upper {
    &::-webkit-input-placeholder {
      /* WebKit browsers */
      text-transform: uppercase;
    }

    &:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      text-transform: uppercase;
    }

    &::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      text-transform: uppercase;
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10+ */
      text-transform: uppercase;
    }

    &::placeholder {
      /* Recent browsers */
      text-transform: uppercase;
    }
  }
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.slide-status {
  margin-top: $spacing-s !important;
  margin-bottom: $spacing-l !important;
  border: 1px solid #d8d8d8 !important;
  min-height: 40px !important;
  border-radius: $border-radius-s !important;
  padding-top: $spacing-xs !important;
  padding-left: $spacing-m !important;

  .mat-slide-toggle-bar {
    position: absolute !important;
    margin-left: 40% !important;
  }
}